데이터 사이언스 스쿨

>링크 : https://datascienceschool.net/intro.html  
>참고 : https://passwd.tistory.com/entry/Python-Pandas-Series-1

## serise, dictionary

In [1]:
import pandas as pd

In [2]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [3]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [4]:
s.values

array([9904312, 3448737, 2890451, 2466052])

In [5]:
s[0:3]

서울    9904312
부산    3448737
인천    2890451
dtype: int64

In [6]:
s0 = pd.Series(range(3), index=["a", "b", "c"])
s0

a    0
b    1
c    2
dtype: int64

In [7]:
s0.a

0

In [8]:
s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [9]:
ds = s - s2
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [10]:
ds = s + s2
ds

대구           NaN
대전           NaN
부산     6841928.0
서울    19535794.0
인천     5522486.0
dtype: float64

## DataFrame

In [11]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [12]:
# df.서울  (index 는 df.으로 접근할 수 없다., column은 가능)
# df[0] 은 문자열 column 인 경우 사용 불가. (정수형 column 인 경우는 OK)  -> 문자 column인 경우  iloc[:,0] 사용

df[df.index == '서울']

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283

In [13]:
df.지역

서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [14]:
# (1) 모든 도시의 2010 인구수를 시리즈로 나타낸다.

df['2010']

서울    9631482
부산    3393191
인천    2632035
대구    2431774
Name: 2010, dtype: int64

In [15]:
# (2) 모든 도시의 2015와 2005 인구수를 데이터 프레임으로 나타낸다.

df[['2015','2005']]

       2015     2005
서울  9904312  9762546
부산  3448737  3512547
인천  2890451  2517680
대구  2466052  2456016

In [16]:
# (3) 모든 도시의 각 해 평균 인구수를 새로운 열로 추가한다.
del df['지역']

In [17]:
print(df.mean(axis='columns'))
df['mean']= df.mean(axis='columns')    #계산되는 값은 columns 이다. 
df

서울    7.830462e+06
부산    2.801982e+06
인천    2.101301e+06
대구    1.965566e+06
dtype: float64

       2015     2010     2005     2000  2010-2015 증가율          mean
서울  9904312  9631482  9762546  9853972         0.0283  7.830462e+06
부산  3448737  3393191  3512547  3655437         0.0163  2.801982e+06
인천  2890451  2632035  2517680  2466338         0.0982  2.101301e+06
대구  2466052  2431774  2456016  2473990         0.0141  1.965566e+06

In [18]:
# (4) 인천의 인구수 점수를 10배로 수정하고 평균 점수도 다시 계산한다.
# (5) 대구의 인구수를 데이터프레임으로 나타낸다.
# (6) 서울의 인구수를 시리즈로 나타낸다.