### EDA을 위한 다양한 pandas function 연습  
---
참고링크 : https://pandas.pydata.org/docs/user_guide/10min.html

In [2]:
import numpy as np
import pandas as pd

/Users/myoungjunesung/.pyenv/versions/3.7.6/lib/python3.7/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

series and dataFrame 을 만들어 보고, 차이점을 기억해 두자
series 1차 배열
dataFrame 2차 배열

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -0.724787 -1.571578 -0.790210 -1.593020
2013-01-02  0.628278 -0.008546  2.157422  1.173839
2013-01-03 -2.634815  0.319209  0.449520  2.025052
2013-01-04  1.375928 -0.022579 -0.274962  0.800235
2013-01-05  2.213788 -1.187252 -0.664868 -0.007087
2013-01-06 -0.713271 -0.177195 -0.844971  1.057297

dataFrame : DataFrame은 2차원 배열 데이터라고 이해하는 것보다 공통 인덱스를 가진 column series를 딕셔너리로 묶어놓은 것

In [6]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

df2 
# df2[:]
# df2[:][:]
# df2.loc[:,:]

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [7]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [8]:
print(df.head(2),'\n')

print(df.tail(2), '\n')

print(df.index, '\n')

print(df.columns, '\n')

df.describe()

                   A         B         C         D
2013-01-01 -0.724787 -1.571578 -0.790210 -1.593020
2013-01-02  0.628278 -0.008546  2.157422  1.173839

                   A         B         C         D
2013-01-05  2.213788 -1.187252 -0.664868 -0.007087
2013-01-06 -0.713271 -0.177195 -0.844971  1.057297

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

Index(['A', 'B', 'C', 'D'], dtype='object')

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.024187 -0.441324  0.005322  0.576053
std    1.741355  0.754281  1.158657  1.247696
min   -2.634815 -1.571578 -0.844971 -1.593020
25%   -0.721908 -0.934738 -0.758874  0.194743
50%   -0.042497 -0.099887 -0.469915  0.928766
75%    1.189016 -0.012054  0.268400  1.144704
max    2.213788  0.319209  2.157422  2.025052

In [9]:
# 행, 열을 바꾼다. 

df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.724787    0.628278   -2.634815    1.375928    2.213788   -0.713271
B   -1.571578   -0.008546    0.319209   -0.022579   -1.187252   -0.177195
C   -0.790210    2.157422    0.449520   -0.274962   -0.664868   -0.844971
D   -1.593020    1.173839    2.025052    0.800235   -0.007087    1.057297

In [10]:
df.to_numpy()

array([[-0.72478662, -1.57157845, -0.79020989, -1.59302026],
       [ 0.62827783, -0.00854609,  2.15742221,  1.17383898],
       [-2.63481527,  0.31920921,  0.4495203 ,  2.02505177],
       [ 1.37592826, -0.02257933, -0.27496191,  0.8002348 ],
       [ 2.2137885 , -1.18725168, -0.66486767, -0.0070875 ],
       [-0.71327084, -0.17719534, -0.84497072,  1.05729733]])

### Selection
---
[]  
loc (or at)  
iloc (or iat)

In [13]:
print(df['A'],'\n')
print(df[:]['A'],'\n')              #df.loc[:,'A']
# df['2013-01-01':]['A']            # chained indexing ?
# df.A

## column 을 선택하게 되며 series 로 리턴된다.


print(df[['A']],'\n')               # df 으로 리턴 
df[['A','C']]                       # dataFrame 리턴

## 2개 이사, 이거나 [[ 'col' ]] 으로 1개 col 을 df 로 리터

2013-01-01   -0.724787
2013-01-02    0.628278
2013-01-03   -2.634815
2013-01-04    1.375928
2013-01-05    2.213788
2013-01-06   -0.713271
Freq: D, Name: A, dtype: float64

2013-01-01   -0.724787
2013-01-02    0.628278
2013-01-03   -2.634815
2013-01-04    1.375928
2013-01-05    2.213788
2013-01-06   -0.713271
Freq: D, Name: A, dtype: float64

                   A
2013-01-01 -0.724787
2013-01-02  0.628278
2013-01-03 -2.634815
2013-01-04  1.375928
2013-01-05  2.213788
2013-01-06 -0.713271

                   A         C
2013-01-01 -0.724787 -0.790210
2013-01-02  0.628278  2.157422
2013-01-03 -2.634815  0.449520
2013-01-04  1.375928 -0.274962
2013-01-05  2.213788 -0.664868
2013-01-06 -0.713271 -0.844971

In [ ]:
# 오류 

print(df[0],'\n')
print(df['2013-01-01'],'\n')

In [ ]:
# df[0:3]
# df['2013-01-01':'2013-01-03']
print(df['2013-01-04':], '\n')
print(df['2013-01-04':'2013-01-04'], '\n')     # 3, 4 열, label 은 끝 포함
print(df[3:4], '\n')                           # 3열만, index 은 -1 까지
df[3:]

# row 을 선택하게 되며, dataFrame 으로 리턴된다

                   A         B         C         D
2013-01-04  1.172455 -0.848995 -0.408783  1.283429
2013-01-05 -1.323479 -0.351281 -0.094185  1.492026
2013-01-06  0.146790  0.712378 -1.464708  0.742792

                   A         B         C         D
2013-01-04  1.172455 -0.848995 -0.408783  1.283429

                   A         B         C         D
2013-01-04  1.172455 -0.848995 -0.408783  1.283429

                   A         B         C         D
2013-01-04  1.172455 -0.848995 -0.408783  1.283429
2013-01-05 -1.323479 -0.351281 -0.094185  1.492026
2013-01-06  0.146790  0.712378 -1.464708  0.742792

In [ ]:
#chained indexing?
print(df2[2:4]['A'],'\n')
print(df[2:4][0:4], '\n')
df2[2:4][0:1]

2    1.0
3    1.0
Name: A, dtype: float64

                   A         B         C         D
2013-01-03 -1.491181  1.049826 -0.386138 -0.212055
2013-01-04  1.172455 -0.848995 -0.408783  1.283429

     A          B    C  D     E    F
2  1.0 2013-01-02  1.0  3  test  foo

---

Row

In [35]:
# row label 을 이용해서 row 을 인덱싱
print(df.loc['20130101'],'\n')              # series
print(df.loc['20130101':'20130102'],'\n')   # dataFrame
print(df.loc[['20130101','20130102']],'\n')

# row index 을 이용해서 row 인덱싱
print(df.iloc[0],'\n')                      # series
print(df.iloc[0:1],'\n')                    #dataFrame
print(df.iloc[[0,1]],'\n')

A   -0.724787
B   -1.571578
C   -0.790210
D   -1.593020
Name: 2013-01-01 00:00:00, dtype: float64

                   A         B         C         D
2013-01-01 -0.724787 -1.571578 -0.790210 -1.593020
2013-01-02  0.628278 -0.008546  2.157422  1.173839

                   A         B         C         D
2013-01-01 -0.724787 -1.571578 -0.790210 -1.593020
2013-01-02  0.628278 -0.008546  2.157422  1.173839

A   -0.724787
B   -1.571578
C   -0.790210
D   -1.593020
Name: 2013-01-01 00:00:00, dtype: float64

                   A         B        C        D
2013-01-01 -0.724787 -1.571578 -0.79021 -1.59302

                   A         B         C         D
2013-01-01 -0.724787 -1.571578 -0.790210 -1.593020
2013-01-02  0.628278 -0.008546  2.157422  1.173839

Column

In [67]:

# column lable 을 이용해서 column 인덱싱
# print(df.loc['A'],'\n')      # 'A' 을 row 인텍싱으로 생각해서 
print(df.loc[:,'A'],'\n')
print(df.loc[:, ['A']],'\n')
print(df.loc[:,'A':'B'],'\n')
print(df.loc[:,['A','B']],'\n')

2013-01-01   -0.724787
2013-01-02    0.628278
2013-01-03   -2.634815
2013-01-04    1.375928
2013-01-05    2.213788
2013-01-06   -0.713271
Freq: D, Name: A, dtype: float64

                   A
2013-01-01 -0.724787
2013-01-02  0.628278
2013-01-03 -2.634815
2013-01-04  1.375928
2013-01-05  2.213788
2013-01-06 -0.713271

                   A         B
2013-01-01 -0.724787 -1.571578
2013-01-02  0.628278 -0.008546
2013-01-03 -2.634815  0.319209
2013-01-04  1.375928 -0.022579
2013-01-05  2.213788 -1.187252
2013-01-06 -0.713271 -0.177195

                   A         B
2013-01-01 -0.724787 -1.571578
2013-01-02  0.628278 -0.008546
2013-01-03 -2.634815  0.319209
2013-01-04  1.375928 -0.022579
2013-01-05  2.213788 -1.187252
2013-01-06 -0.713271 -0.177195

In [65]:

# column  index 을 이용해서 column 인덱싱
# print(df.iloc[0],'\n')        # 0 을 row 인텍싱으로 생각해서 row 인텍싱
print(df.iloc[:,0],'\n')        # series 리턴
print(df.iloc[:,[0]])           # df 리턴

2013-01-01   -0.724787
2013-01-02    0.628278
2013-01-03   -2.634815
2013-01-04    1.375928
2013-01-05    2.213788
2013-01-06   -0.713271
Freq: D, Name: A, dtype: float64

                   A
2013-01-01 -0.724787
2013-01-02  0.628278
2013-01-03 -2.634815
2013-01-04  1.375928
2013-01-05  2.213788
2013-01-06 -0.713271

In [57]:
print(df.iloc[:,0:2],'\n')

                   A         B
2013-01-01 -0.724787 -1.571578
2013-01-02  0.628278 -0.008546
2013-01-03 -2.634815  0.319209
2013-01-04  1.375928 -0.022579
2013-01-05  2.213788 -1.187252
2013-01-06 -0.713271 -0.177195

In [63]:
print(df.iloc[:,[0,1,3]],'\n')

                   A         B         D
2013-01-01 -0.724787 -1.571578 -1.593020
2013-01-02  0.628278 -0.008546  1.173839
2013-01-03 -2.634815  0.319209  2.025052
2013-01-04  1.375928 -0.022579  0.800235
2013-01-05  2.213788 -1.187252 -0.007087
2013-01-06 -0.713271 -0.177195  1.057297

Multi-indxing

In [76]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [80]:
print(df2.loc[[0,1],['A','B']])    # 숫자가 lable 이다
print(df2.iloc[[0,1],[0,1]])

     A          B
0  1.0 2013-01-02
1  1.0 2013-01-02
     A          B
0  1.0 2013-01-02
1  1.0 2013-01-02

sort & sum

In [106]:
print(df.sort_index())
print(df.sort_values('A'),'\n')
# df.sort_values(by='A')
print(df.sort_values(by= ['A','B'],ascending=False))

                   A         B         C         D
2013-01-01 -0.724787 -1.571578 -0.790210 -1.593020
2013-01-02  0.628278 -0.008546  2.157422  1.173839
2013-01-03 -2.634815  0.319209  0.449520  2.025052
2013-01-04  1.375928 -0.022579 -0.274962  0.800235
2013-01-05  2.213788 -1.187252 -0.664868 -0.007087
2013-01-06 -0.713271 -0.177195 -0.844971  1.057297
                   A         B         C         D
2013-01-03 -2.634815  0.319209  0.449520  2.025052
2013-01-01 -0.724787 -1.571578 -0.790210 -1.593020
2013-01-06 -0.713271 -0.177195 -0.844971  1.057297
2013-01-02  0.628278 -0.008546  2.157422  1.173839
2013-01-04  1.375928 -0.022579 -0.274962  0.800235
2013-01-05  2.213788 -1.187252 -0.664868 -0.007087

                   A         B         C         D
2013-01-05  2.213788 -1.187252 -0.664868 -0.007087
2013-01-04  1.375928 -0.022579 -0.274962  0.800235
2013-01-02  0.628278 -0.008546  2.157422  1.173839
2013-01-06 -0.713271 -0.177195 -0.844971  1.057297
2013-01-01 -0.724787 -1.571578 -0.790210 -1.593020
2013-01-03 -2.634815  0.319209  0.449520  2.025052

In [108]:
print(df.sum())          # row 들을 의 합 (col 합) axis=0 디폴트
print(df.sum(axis=1))    # column 들의 함 (row 합) axis=1

A    0.145122
B   -2.647942
C    0.031932
D    3.456315
dtype: float64
2013-01-01   -4.679595
2013-01-02    3.950993
2013-01-03    0.158966
2013-01-04    1.878622
2013-01-05    0.354582
2013-01-06   -0.678140
Freq: D, dtype: float64