## EDA을 위한 다양한 pandas function 연습  
---
참고링크 : https://pandas.pydata.org/docs/user_guide/10min.html  
한글 : https://dandyrilla.github.io/2017-08-12/pandas-10min/

API ref : https://pandas.pydata.org/docs/reference/index.html

In [206]:
import numpy as np
import pandas as pd

### series and dataFrame 

차이점을 기억해 두자  
series 1차 배열  
dataFrame 2차 배열  

실제 data 특성에 맞는 샘플 데이터를 만들수 있어야 한다.   
해당 샘플 데이터로 각 연산 결과를 미리 확인 할 수 있어야 한다.   
print(type()) 을 이용하여 object 의 타입을 정확히 파악해야 한다.  
( series[index_label] vs dataframe[column_label] )  
answer.ipynb 와 test.ipynb, sample.ipynb 으로 운영한다.

In [207]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [208]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [209]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  1.934018  0.240168 -0.856570 -1.013682
2013-01-02  0.745105 -0.062544  0.662765 -1.792722
2013-01-03  0.663529  0.437352  0.421723  0.032032
2013-01-04 -0.466800 -0.369758  1.254150 -0.115403
2013-01-05 -1.565627  1.063928 -0.144286  0.572975
2013-01-06 -0.544321  0.439658 -1.073815  0.210661

dataFrame :   
DataFrame은 2차원 배열 데이터라고 이해하는 것보다 공통 인덱스를 가진 column series를 딕셔너리로 묶어놓은 것

In [210]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

df2 
# df2[:]
# df2[:][:]
# df2.loc[:,:]

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

### 2. Viewing Data

In [211]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [212]:
print(df.head(2),'\n')

print(df.tail(2), '\n')

print(df.index, '\n')

print(df.columns, '\n')

df.describe()

                   A         B         C         D
2013-01-01  1.934018  0.240168 -0.856570 -1.013682
2013-01-02  0.745105 -0.062544  0.662765 -1.792722

                   A         B         C         D
2013-01-05 -1.565627  1.063928 -0.144286  0.572975
2013-01-06 -0.544321  0.439658 -1.073815  0.210661

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

Index(['A', 'B', 'C', 'D'], dtype='object')

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.127651  0.291467  0.043995 -0.351023
std    1.233165  0.490940  0.903991  0.881943
min   -1.565627 -0.369758 -1.073815 -1.792722
25%   -0.524941  0.013134 -0.678499 -0.789113
50%    0.098365  0.338760  0.138719 -0.041686
75%    0.724711  0.439081  0.602505  0.166003
max    1.934018  1.063928  1.254150  0.572975

In [213]:
# 행, 열을 바꾼다. 

df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.934018    0.745105    0.663529   -0.466800   -1.565627   -0.544321
B    0.240168   -0.062544    0.437352   -0.369758    1.063928    0.439658
C   -0.856570    0.662765    0.421723    1.254150   -0.144286   -1.073815
D   -1.013682   -1.792722    0.032032   -0.115403    0.572975    0.210661

In [214]:
df.to_numpy()

array([[ 1.93401807,  0.24016778, -0.85657023, -1.01368229],
       [ 0.7451049 , -0.06254392,  0.66276505, -1.7927219 ],
       [ 0.66352906,  0.43735209,  0.42172328,  0.03203163],
       [-0.4667998 , -0.36975753,  1.25415047, -0.11540347],
       [-1.56562658,  1.06392827, -0.14428609,  0.57297491],
       [-0.54432102,  0.43965781, -1.07381498,  0.21066074]])

### 3. Selection 
```
.             : df.col
[]            : df[column]         , df[row_int: ]  
loc (or at)   : df.loc[index]      , df.loc[ : ,col]  
iloc (or iat) : df.iloc[index_int] , df.iloc[ : , col_int]  
```

In [215]:
print(df['A'],'\n')
print(df[:]['A'],'\n')              #df.loc[:,'A']
# df['2013-01-01':]['A']            # chained indexing ?
# df.A

## column 을 선택하게 되며 series 로 리턴된다.


print(df[['A']],'\n')               # df 으로 리턴 
df[['A','C']]                       # dataFrame 리턴

## 2개 이사, 이거나 [[ 'col' ]] 으로 1개 col 을 df 로 리터

2013-01-01    1.934018
2013-01-02    0.745105
2013-01-03    0.663529
2013-01-04   -0.466800
2013-01-05   -1.565627
2013-01-06   -0.544321
Freq: D, Name: A, dtype: float64

2013-01-01    1.934018
2013-01-02    0.745105
2013-01-03    0.663529
2013-01-04   -0.466800
2013-01-05   -1.565627
2013-01-06   -0.544321
Freq: D, Name: A, dtype: float64

                   A
2013-01-01  1.934018
2013-01-02  0.745105
2013-01-03  0.663529
2013-01-04 -0.466800
2013-01-05 -1.565627
2013-01-06 -0.544321

                   A         C
2013-01-01  1.934018 -0.856570
2013-01-02  0.745105  0.662765
2013-01-03  0.663529  0.421723
2013-01-04 -0.466800  1.254150
2013-01-05 -1.565627 -0.144286
2013-01-06 -0.544321 -1.073815

In [216]:
# 오류 

print(df[0],'\n')
print(df['2013-01-01'],'\n')

KeyError: 0

In [ ]:
# df[0:3]
# df['2013-01-01':'2013-01-03']
print(df['2013-01-04':], '\n')
print(df['2013-01-04':'2013-01-04'], '\n')     # 3, 4 열, label 은 끝 포함
print(df[3:4], '\n')                           # 3열만, index 은 -1 까지
df[3:]

# row 을 선택하게 되며, dataFrame 으로 리턴된다

                   A         B         C         D
2013-01-04  1.463383 -0.564231 -0.308063 -0.024509
2013-01-05 -0.401422 -0.341176  1.233796  0.599668
2013-01-06 -2.052727 -1.029365  0.085973 -1.724867

                   A         B         C         D
2013-01-04  1.463383 -0.564231 -0.308063 -0.024509

                   A         B         C         D
2013-01-04  1.463383 -0.564231 -0.308063 -0.024509

                   A         B         C         D
2013-01-04  1.463383 -0.564231 -0.308063 -0.024509
2013-01-05 -0.401422 -0.341176  1.233796  0.599668
2013-01-06 -2.052727 -1.029365  0.085973 -1.724867

In [220]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
#chained indexing?
print(df2[2:4]['A'],'\n')     # row / col
print(df2[2:4][0:4], '\n')     # row seriese 의 row serise
df2[2:4][0:1]                 # 2,3 row 로 만들어진 것에서 다시 0,1 row 첫번째

2    1.0
3    1.0
Name: A, dtype: float64

     A          B    C  D      E    F
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

     A          B    C  D     E    F
2  1.0 2013-01-02  1.0  3  test  foo

In [226]:
df2.loc[2]

A                    1.0
B    2013-01-02 00:00:00
C                    1.0
D                      3
E                   test
F                    foo
Name: 2, dtype: object

Row

In [ ]:
# row label 을 이용해서 row 을 인덱싱
# index 가 int 인 경우 df.loc[index_int] 도 가능, 
print(df.loc['20130101'],'\n')              # series
print(df.loc['20130101':'20130102'],'\n')   # dataFrame
print(df.loc[['20130101','20130102']],'\n')

# row index 을 이용해서 row 인덱싱
print(df.iloc[0],'\n')                      # series
print(df.iloc[0:1],'\n')                    #dataFrame
print(df.iloc[[0,1]],'\n')

A   -0.685896
B   -0.360552
C   -0.499072
D    0.878319
Name: 2013-01-01 00:00:00, dtype: float64

                   A         B         C         D
2013-01-01 -0.685896 -0.360552 -0.499072  0.878319
2013-01-02 -0.398987  1.285879 -0.099484 -0.588932

                   A         B         C         D
2013-01-01 -0.685896 -0.360552 -0.499072  0.878319
2013-01-02 -0.398987  1.285879 -0.099484 -0.588932

A   -0.685896
B   -0.360552
C   -0.499072
D    0.878319
Name: 2013-01-01 00:00:00, dtype: float64

                   A         B         C         D
2013-01-01 -0.685896 -0.360552 -0.499072  0.878319

                   A         B         C         D
2013-01-01 -0.685896 -0.360552 -0.499072  0.878319
2013-01-02 -0.398987  1.285879 -0.099484 -0.588932

Column

In [ ]:

# column lable 을 이용해서 column 인덱싱
# print(df.loc['A'],'\n')      # 'A' 을 row 인텍싱으로 생각해서 
print(df.loc[:,'A'],'\n')
print(df.loc[:, ['A']],'\n')
print(df.loc[:,'A':'B'],'\n')
print(df.loc[:,['A','B']],'\n')

2013-01-01   -0.685896
2013-01-02   -0.398987
2013-01-03    0.076085
2013-01-04    1.463383
2013-01-05   -0.401422
2013-01-06   -2.052727
Freq: D, Name: A, dtype: float64

                   A
2013-01-01 -0.685896
2013-01-02 -0.398987
2013-01-03  0.076085
2013-01-04  1.463383
2013-01-05 -0.401422
2013-01-06 -2.052727

                   A         B
2013-01-01 -0.685896 -0.360552
2013-01-02 -0.398987  1.285879
2013-01-03  0.076085 -1.526245
2013-01-04  1.463383 -0.564231
2013-01-05 -0.401422 -0.341176
2013-01-06 -2.052727 -1.029365

                   A         B
2013-01-01 -0.685896 -0.360552
2013-01-02 -0.398987  1.285879
2013-01-03  0.076085 -1.526245
2013-01-04  1.463383 -0.564231
2013-01-05 -0.401422 -0.341176
2013-01-06 -2.052727 -1.029365

In [ ]:

# column  index 을 이용해서 column 인덱싱
# print(df.iloc[0],'\n')        # 0 을 row 인텍싱으로 생각해서 row 인텍싱
print(df.iloc[:,0],'\n')        # series 리턴
print(df.iloc[:,[0]])           # df 리턴

2013-01-01   -0.685896
2013-01-02   -0.398987
2013-01-03    0.076085
2013-01-04    1.463383
2013-01-05   -0.401422
2013-01-06   -2.052727
Freq: D, Name: A, dtype: float64

                   A
2013-01-01 -0.685896
2013-01-02 -0.398987
2013-01-03  0.076085
2013-01-04  1.463383
2013-01-05 -0.401422
2013-01-06 -2.052727

In [ ]:
print(df.iloc[:,0:2],'\n')

                   A         B
2013-01-01 -0.685896 -0.360552
2013-01-02 -0.398987  1.285879
2013-01-03  0.076085 -1.526245
2013-01-04  1.463383 -0.564231
2013-01-05 -0.401422 -0.341176
2013-01-06 -2.052727 -1.029365

In [ ]:
print(df.iloc[:,[0,1,3]],'\n')

                   A         B         D
2013-01-01 -0.685896 -0.360552  0.878319
2013-01-02 -0.398987  1.285879 -0.588932
2013-01-03  0.076085 -1.526245 -1.299276
2013-01-04  1.463383 -0.564231 -0.024509
2013-01-05 -0.401422 -0.341176  0.599668
2013-01-06 -2.052727 -1.029365 -1.724867

Multi-indxing

In [ ]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2.loc[0:2,'A']

0    1.0
1    1.0
2    1.0
Name: A, dtype: float64

In [ ]:
print(df2.loc[[0,1],['A','B']])    # 숫자가 lable 이다 df[[0,1]] 은 오류
print(df2.iloc[[0,1],[0,1]])

     A          B
0  1.0 2013-01-02
1  1.0 2013-01-02
     A          B
0  1.0 2013-01-02
1  1.0 2013-01-02

In [ ]:
df

                   A         B         C         D    sum_row result
2013-01-01 -1.647909  1.898488 -0.558555  0.492113   0.736547   Over
2013-01-02  1.172068  0.054952 -1.439783  1.300393   4.350520   Over
2013-01-03 -1.315929  1.807103  2.320533 -1.186418   6.501154   Over
2013-01-04 -1.335727 -0.964605  0.480328 -0.298640  -8.474580  Under
2013-01-05  0.837500  0.197000  2.186717 -1.292375   7.715364   Over
2013-01-06  1.306350  1.150093 -0.284214  0.646898  11.276512   Over

In [ ]:
df[2:6][df[2:6].A < 0][1:2]

# df 의 2부터 6 row 중 A column  값이 0 보다 작은 두번재 row

                   A         B         C         D
2013-01-06 -2.052727 -1.029365  0.085973 -1.724867

In [ ]:
print(df[2:6])
print(df[2:6].A<0)

# 2개의 index가 같아야 한다. 
# IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

                   A         B         C         D
2013-01-03  0.076085 -1.526245 -0.330180 -1.299276
2013-01-04  1.463383 -0.564231 -0.308063 -0.024509
2013-01-05 -0.401422 -0.341176  1.233796  0.599668
2013-01-06 -2.052727 -1.029365  0.085973 -1.724867
2013-01-03    False
2013-01-04    False
2013-01-05     True
2013-01-06     True
Freq: D, Name: A, dtype: bool

Boolean indexing

```(df[])[(df[]) 조건][column]```  
```(df[]).loc[ (df[]) 조건 , column ]```

In [239]:
df[df['A']>0]['B']

2013-01-01    0.240168
2013-01-02   -0.062544
2013-01-03    0.437352
Freq: D, Name: B, dtype: float64

In [238]:
df.loc[df['A']>0,'B']

2013-01-01    0.240168
2013-01-02   -0.062544
2013-01-03    0.437352
Freq: D, Name: B, dtype: float64

In [ ]:
df[1:3].A > 0

2013-01-02    False
2013-01-03     True
Freq: D, Name: A, dtype: bool

In [ ]:
df[1:3][df[1:3].A > 0]

# df[df[1:3].A > 0]  은 오류가 난다.  df 의 index 와 df[1:3] 의 index 가 서로 맞지않다.

                   A         B        C         D
2013-01-03  0.076085 -1.526245 -0.33018 -1.299276

In [ ]:
df[1:3][df[1:3].A > 0]['B']
# df1 = df[1:3]
# df1.A > 0
# df1['B']

2013-01-03   -1.526245
Freq: D, Name: B, dtype: float64

funtion indexing

```
pipe()  : Tablewise Function Application
apply() : Row or Column-wise Function Application
agg() and transform() : Aggregation API
applymap() : Applying Elementwise Functions
```

In [243]:
df

                   A         B         C         D
2013-01-01  1.934018  0.240168 -0.856570 -1.013682
2013-01-02  0.745105 -0.062544  0.662765 -1.792722
2013-01-03  0.663529  0.437352  0.421723  0.032032
2013-01-04 -0.466800 -0.369758  1.254150 -0.115403
2013-01-05 -1.565627  1.063928 -0.144286  0.572975
2013-01-06 -0.544321  0.439658 -1.073815  0.210661

In [247]:
df3 = df.copy()
df3['sum_row'] = df3.apply(np.sum,axis=1)    # df3.sum(axis=1) 과 같다.
df3

                   A         B         C         D   sum_row
2013-01-01  1.934018  0.240168 -0.856570 -1.013682  0.303933
2013-01-02  0.745105 -0.062544  0.662765 -1.792722 -0.447396
2013-01-03  0.663529  0.437352  0.421723  0.032032  1.554636
2013-01-04 -0.466800 -0.369758  1.254150 -0.115403  0.302190
2013-01-05 -1.565627  1.063928 -0.144286  0.572975 -0.073009
2013-01-06 -0.544321  0.439658 -1.073815  0.210661 -0.967817

In [246]:
df3["result"] = df3.apply(lambda r: "Over" if r.sum_row > 0 else "Under", axis=1)
df3

                   A         B         C         D   sum_row result
2013-01-01  1.934018  0.240168 -0.856570 -1.013682  0.303933   Over
2013-01-02  0.745105 -0.062544  0.662765 -1.792722 -0.447396  Under
2013-01-03  0.663529  0.437352  0.421723  0.032032  1.554636   Over
2013-01-04 -0.466800 -0.369758  1.254150 -0.115403  0.302190   Over
2013-01-05 -1.565627  1.063928 -0.144286  0.572975 -0.073009  Under
2013-01-06 -0.544321  0.439658 -1.073815  0.210661 -0.967817  Under

In [ ]:
df = df.drop(columns='result')

### 4. Missing Data

### 5. Operations

### 6. Merging

sort & sum

In [ ]:
print(df.sort_index())
print(df.sort_values('A'),'\n')
# df.sort_values(by='A')
print(df.sort_values(by= ['A','B'],ascending=False))

                   A         B         C         D
2013-01-01 -0.685896 -0.360552 -0.499072  0.878319
2013-01-02 -0.398987  1.285879 -0.099484 -0.588932
2013-01-03  0.076085 -1.526245 -0.330180 -1.299276
2013-01-04  1.463383 -0.564231 -0.308063 -0.024509
2013-01-05 -0.401422 -0.341176  1.233796  0.599668
2013-01-06 -2.052727 -1.029365  0.085973 -1.724867
                   A         B         C         D
2013-01-06 -2.052727 -1.029365  0.085973 -1.724867
2013-01-01 -0.685896 -0.360552 -0.499072  0.878319
2013-01-05 -0.401422 -0.341176  1.233796  0.599668
2013-01-02 -0.398987  1.285879 -0.099484 -0.588932
2013-01-03  0.076085 -1.526245 -0.330180 -1.299276
2013-01-04  1.463383 -0.564231 -0.308063 -0.024509

                   A         B         C         D
2013-01-04  1.463383 -0.564231 -0.308063 -0.024509
2013-01-03  0.076085 -1.526245 -0.330180 -1.299276
2013-01-02 -0.398987  1.285879 -0.099484 -0.588932
2013-01-05 -0.401422 -0.341176  1.233796  0.599668
2013-01-01 -0.685896 -0.360552 -0.499072  0.878319
2013-01-06 -2.052727 -1.029365  0.085973 -1.724867

In [ ]:
print(df.sum())          # row 들의 합 (col : 합) axis=0 디폴트
print(df.sum(axis=1))    # column 들의 함 (row : 합) axis=1

A   -1.999564
B   -2.535691
C    0.082970
D   -2.159597
dtype: float64
2013-01-01   -0.667201
2013-01-02    0.198476
2013-01-03   -3.079616
2013-01-04    0.566581
2013-01-05    1.090866
2013-01-06   -4.720987
Freq: D, dtype: float64