### EDA을 위한 다양한 pandas function 연습  
---
참고링크 : https://pandas.pydata.org/docs/user_guide/10min.html

In [4]:
import numpy as np
import pandas as pd

series and dataFrame 을 만들어 보고, 차이점을 기억해 두자
series 1차 배열
dataFrame 2차 배열

In [5]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.311904  1.068326  0.572678 -1.224835
2013-01-02  0.348353  0.150395  0.977115 -0.531925
2013-01-03 -0.396212  0.239223 -0.307032  0.806667
2013-01-04  2.461516 -2.322235 -2.225534 -0.180852
2013-01-05 -1.020689 -0.599883  0.256522 -0.841685
2013-01-06  0.756965  1.615236 -1.488748  0.908836

In [8]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

df2 
# df2[:]
# df2[:][:]
# df2.loc[:,:]

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [9]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [10]:
print(df.head(2),'\n')

print(df.tail(2), '\n')

print(df.index, '\n')

print(df.columns, '\n')

df.describe()

                   A         B         C         D
2013-01-01  0.311904  1.068326  0.572678 -1.224835
2013-01-02  0.348353  0.150395  0.977115 -0.531925

                   A         B         C         D
2013-01-05 -1.020689 -0.599883  0.256522 -0.841685
2013-01-06  0.756965  1.615236 -1.488748  0.908836

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

Index(['A', 'B', 'C', 'D'], dtype='object')

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.410306  0.025177 -0.369166 -0.177299
std    1.186539  1.384123  1.248556  0.873200
min   -1.020689 -2.322235 -2.225534 -1.224835
25%   -0.219183 -0.412313 -1.193319 -0.764245
50%    0.330128  0.194809 -0.025255 -0.356388
75%    0.654812  0.861050  0.493639  0.559787
max    2.461516  1.615236  0.977115  0.908836

In [11]:
# 행, 열을 바꾼다. 

df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.311904    0.348353   -0.396212    2.461516   -1.020689    0.756965
B    1.068326    0.150395    0.239223   -2.322235   -0.599883    1.615236
C    0.572678    0.977115   -0.307032   -2.225534    0.256522   -1.488748
D   -1.224835   -0.531925    0.806667   -0.180852   -0.841685    0.908836

In [12]:
df.to_numpy()

array([[ 0.3119041 ,  1.0683261 ,  0.57267826, -1.22483533],
       [ 0.34835251,  0.15039483,  0.97711521, -0.53192468],
       [-0.39621156,  0.23922292, -0.30703201,  0.80666704],
       [ 2.46151611, -2.32223495, -2.22553358, -0.18085158],
       [-1.02068928, -0.59988261,  0.2565218 , -0.84168459],
       [ 0.75696489,  1.61523624, -1.48874834,  0.90883575]])

### Selection
---
[]  
loc (or at)  
iloc (or iat)

In [13]:
print(df['A'],'\n')
print(df[:]['A'],'\n')             #df.loc[:,'A']
# df['2013-01-01':]['A']  # chained indexing ?
# df.A
df[['A','C']]    # dataFrame 리턴

## column 을 선택하게 되며 series 로 리턴된다.

2013-01-01    0.311904
2013-01-02    0.348353
2013-01-03   -0.396212
2013-01-04    2.461516
2013-01-05   -1.020689
2013-01-06    0.756965
Freq: D, Name: A, dtype: float64

2013-01-01    0.311904
2013-01-02    0.348353
2013-01-03   -0.396212
2013-01-04    2.461516
2013-01-05   -1.020689
2013-01-06    0.756965
Freq: D, Name: A, dtype: float64

                   A         C
2013-01-01  0.311904  0.572678
2013-01-02  0.348353  0.977115
2013-01-03 -0.396212 -0.307032
2013-01-04  2.461516 -2.225534
2013-01-05 -1.020689  0.256522
2013-01-06  0.756965 -1.488748

In [14]:
# 오류 

print(df[0],'\n')
print(df['2013-01-01'],'\n')

KeyError: 0

In [ ]:
# df[0:3]
# df['2013-01-01':'2013-01-03']
print(df['2013-01-04':], '\n')
print(df['2013-01-04':'2013-01-04'], '\n')     # 3, 4 열, label 은 끝 포함
print(df[3:4], '\n')                           # 3열만, index 은 -1 까지
df[3:]

# row 을 선택하게 되며, dataFrame 으로 리턴된다

                   A         B         C         D
2013-01-04  1.172455 -0.848995 -0.408783  1.283429
2013-01-05 -1.323479 -0.351281 -0.094185  1.492026
2013-01-06  0.146790  0.712378 -1.464708  0.742792

                   A         B         C         D
2013-01-04  1.172455 -0.848995 -0.408783  1.283429

                   A         B         C         D
2013-01-04  1.172455 -0.848995 -0.408783  1.283429

                   A         B         C         D
2013-01-04  1.172455 -0.848995 -0.408783  1.283429
2013-01-05 -1.323479 -0.351281 -0.094185  1.492026
2013-01-06  0.146790  0.712378 -1.464708  0.742792

In [ ]:
#chained indexing?
print(df2[2:4]['A'],'\n')
print(df[2:4][0:4], '\n')
df2[2:4][0:1]

2    1.0
3    1.0
Name: A, dtype: float64

                   A         B         C         D
2013-01-03 -1.491181  1.049826 -0.386138 -0.212055
2013-01-04  1.172455 -0.848995 -0.408783  1.283429

     A          B    C  D     E    F
2  1.0 2013-01-02  1.0  3  test  foo

---

In [ ]:
# row label 을 이용해서 row 을 인덱싱
print(df.loc['20130101'],'\n')              # series
print(df.loc['20130101':'20130102'],'\n')   # dataFrame

# row index 을 이용해서 row 인덱싱
print(df.iloc[0],'\n')                      # series
print(df.iloc[0:1],'\n')                    #dataFrame

A    0.739857
B    0.422071
C   -0.807544
D    0.231871
Name: 2013-01-01 00:00:00, dtype: float64

                   A         B         C         D
2013-01-01  0.739857  0.422071 -0.807544  0.231871
2013-01-02  1.903632  0.809494 -0.007704 -0.395308

A    0.739857
B    0.422071
C   -0.807544
D    0.231871
Name: 2013-01-01 00:00:00, dtype: float64

                   A         B         C         D
2013-01-01  0.739857  0.422071 -0.807544  0.231871

In [ ]:

# column lable 을 이용해서 column 인덱싱
# print(df.loc['A'],'\n')      # 'A' 을 row 인텍싱으로 생각해서 
print(df.loc[:,'A'],'\n')
print(df.loc[:,'A':'B'],'\n')

# column  index 을 이용해서 column 인덱싱
# print(df.iloc[0],'\n')        # 0 을 row 인텍싱으로 생각해서 row 인텍싱
print(df.iloc[:,0],'\n')
print(df.iloc[:,0:2],'\n')

2013-01-01    0.739857
2013-01-02    1.903632
2013-01-03   -1.491181
2013-01-04    1.172455
2013-01-05   -1.323479
2013-01-06    0.146790
Freq: D, Name: A, dtype: float64

                   A         B
2013-01-01  0.739857  0.422071
2013-01-02  1.903632  0.809494
2013-01-03 -1.491181  1.049826
2013-01-04  1.172455 -0.848995
2013-01-05 -1.323479 -0.351281
2013-01-06  0.146790  0.712378

2013-01-01    0.739857
2013-01-02    1.903632
2013-01-03   -1.491181
2013-01-04    1.172455
2013-01-05   -1.323479
2013-01-06    0.146790
Freq: D, Name: A, dtype: float64

                   A         B
2013-01-01  0.739857  0.422071
2013-01-02  1.903632  0.809494
2013-01-03 -1.491181  1.049826
2013-01-04  1.172455 -0.848995
2013-01-05 -1.323479 -0.351281
2013-01-06  0.146790  0.712378

In [ ]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo