https://www.datamanim.com/dataset/03_dataq/typeone.html#id3

Ïú†ÌäúÎ∏å Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Îç∞Ïù¥ÌÑ∞

In [18]:
import pandas as pd
import numpy as np
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[Ïã†Î≥ë] Î¨ºÏûêÏ∞ΩÍ≥†,Ïû•ÏÇêÏ≠à,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ÎπÑ) - ÎÇòÎ°ú Î∞îÍæ∏Ïûê Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ÎÖÑ Ï†úÏïºÏùò Ï¢Ö Ïò®ÎùºÏù∏ ÌÉÄÏ¢ÖÌñâÏÇ¨ | Î≥¥Ïã†Í∞Å ÌòÑÏû• ÌñâÏÇ¨Îäî ÏßÑÌñâÌïòÏßÄ ÏïäÏäµÎãàÎã§.,ÏÑúÏö∏Ïãú ¬∑ Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,Í≥†Í∏∞ÎÇ®ÏûêÏùò Ïπ†Î©¥Ï°∞ ÌååÌã∞,Í≥†Í∏∞ÎÇ®Ïûê MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,Í≥®Î™© 3mcÎ•º Î∂ÑÎÖ∏ÌïòÍ≤å ÎßåÎì† ÎßàÏùåÍ≥†ÏÉùÏù¥ Ïã¨ÌñàÏùÑ Í≥µÎ¶â Î∞±Î∞òÏßë ÏÇ¨Ïû•ÎãòÏùò Ìë∏ÎÖê?! [ÏòàÎä•...,Ïä§Î∏åÏä§Î∞•Ïßë,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [3]:
df.shape

(60399, 9)

- dislikesÏàòÍ∞Ä like ÏàòÎ≥¥Îã§ ÎÜíÏùÄ ÎèôÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùÑ Î™®Îëê Ï∂úÎ†•ÌïòÎùº

In [4]:

overlike = df['likes'] < df['dislikes']
df.loc[overlike,'channelTitle'].nunique()

14

- channelIdÏùò Í≤ΩÏö∞ Í≥†Ïú†Í∞íÏù¥ÎØÄÎ°ú Ïù¥Î•º ÌÜµÌï¥ Ï±ÑÎÑêÎ™ÖÏùÑ ÌïúÎ≤àÏù¥ÎùºÎèÑ Î∞îÍæº Ï±ÑÎÑêÏùò Í∞ØÏàòÎ•º Íµ¨ÌïòÏó¨Îùº

Ï†ÑÎã¨Îêú series Ïùò Ïú†ÎãàÌÅ¨Ìïú Í∞í Í∞ØÏàò ÌôïÏù∏ 

value_counts vs nunique

In [5]:
df.groupby('channelId')['channelTitle'].apply(list)

# Ï†ÑÎã¨Í∞í ÌôïÏù∏
# def funX(Se_g):
#     print(Se_g)
# df.groupby('channelId')['channelTitle'].apply(funX)

channelId
UC-0229MiVYnQoUxdLJnFl_g    [Íæ∏Î¶¨Kkuri, Íæ∏Î¶¨Kkuri, Íæ∏Î¶¨Kkuri, Íæ∏Î¶¨Kkuri, Íæ∏Î¶¨Kkuri, ...
UC-0C8yVGJy-cS4FGlYKelWw    [ÏÑ∏Í≥ÑÎäîÏßÄÍ∏à, ÏÑ∏Í≥ÑÎäîÏßÄÍ∏à, ÏÑ∏Í≥ÑÎäîÏßÄÍ∏à, ÏÑ∏Í≥ÑÎäîÏßÄÍ∏à, ÏÑ∏Í≥ÑÎäîÏßÄÍ∏à, ÏÑ∏Í≥ÑÎäîÏßÄÍ∏à, ÏÑ∏Í≥ÑÎäî...
UC-0tICWyA0_AJAVMBHL8GdQ    [ÎÇ¥Ï£ºÏ†úÏóê Dare U Naeju, ÎÇ¥Ï£ºÏ†úÏóê Dare U Naeju, ÎÇ¥Ï£ºÏ†úÏóê Da...
UC-2Y8dQb0S6DtpxNgAKoJKA    [PlayStation, PlayStation, PlayStation, PlaySt...
UC-5acDjU6XFWu-__G17V_YQ    [ÏôÄÎÇòÎÇò, ÏôÄÎÇòÎÇò, ÏôÄÎÇòÎÇò, ÏôÄÎÇòÎÇò, ÏôÄÎÇòÎÇò, ÏôÄÎÇòÎÇò, ÏôÄÎÇòÎÇò, ÏôÄÎÇòÎÇò, ÏôÄÎÇòÎÇò, ...
                                                  ...
UCznImSIaxZR7fdLCICLdgaQ    [Ï†ÑÏù∏Íµ¨Í≤ΩÏ†úÏó∞Íµ¨ÏÜå, Ï†ÑÏù∏Íµ¨Í≤ΩÏ†úÏó∞Íµ¨ÏÜå, Ï†ÑÏù∏Íµ¨Í≤ΩÏ†úÏó∞Íµ¨ÏÜå, Ï†ÑÏù∏Íµ¨Í≤ΩÏ†úÏó∞Íµ¨ÏÜå, Ï†ÑÏù∏Íµ¨Í≤ΩÏ†ú...
UCzt24ffdUiJvJAm5HY084aw    [Íµ¨Ï†ÑÎÖπÏö©, Íµ¨Ï†ÑÎÖπÏö©, Íµ¨Ï†ÑÎÖπÏö©, Íµ¨Ï†ÑÎÖπÏö©, Íµ¨Ï†ÑÎÖπÏö©, Íµ¨Ï†ÑÎÖπÏö©, Íµ¨Ï†ÑÎÖπÏö©, Íµ¨Ï†ÑÎÖπ...
UCzteSXznVjwESizsCcSKSWw    [ÌñâÏ†ïÏïàÏ†ÑÎ∂Ä, ÌñâÏ†ïÏïàÏ†ÑÎ∂Ä, ÌñâÏ†ïÏïàÏ†ÑÎ∂Ä, ÌñâÏ†ïÏïàÏ†ÑÎ∂Ä, ÌñâÏ†ïÏïàÏ†ÑÎ∂Ä, ÌñâÏ†ïÏïàÏ†ÑÎ∂Ä, ÌñâÏ†ïÏïàÏ†ÑÎ∂Ä]
UCzxXBQnJy9guqVNM6KXi0Ig    [Tina from Korea, Tina from Korea, Tina from K...
UCzz58-H0wzmGoFi3MO_9ePQ    [Ïò®ÎßàÏù¥ÌÅ¨, Ïò®ÎßàÏù¥ÌÅ¨, Ïò®ÎßàÏù¥ÌÅ¨, Ïò®ÎßàÏù¥ÌÅ¨, Ïò®ÎßàÏù¥ÌÅ¨, Ïò®ÎßàÏù¥ÌÅ¨, Ïò®ÎßàÏù¥ÌÅ¨, Ïò®ÎßàÏù¥...
Name: channelTitle, Length: 1770, dtype: object

In [6]:

df.groupby('channelId')['channelTitle'].apply(lambda x : 'No' if x.nunique() == 1 else 'Yes')

# channelId Î≥ÑÎ°ú channelTitle Ïùò Í∞íÎì§Ïù¥ ÏûàÎäî series Í∞Ä Ï†ÑÎã¨ÎêúÎã§. 
# Ïòà) Ï≤´Î≤àÏß∏Î°ú Ï†ÑÎã¨Îêú UC-0229MiVYnQoUxdLJnFl_g (Series)ÏùÄ 17Í∞úÏùò (values) Title Ïù¥ ÏûàÎã§. 
# Ïú†ÎãâÌÅ¨Ìïú values Í∞ØÏàò, series.nunique() Í∞Ä Í≥ÑÏÇ∞ÎêòÏñ¥ channelID Î≥ÑÎ°ú 'No', 'Yes' Î¶¨ÌÑ¥ÎêúÎã§

channelId
UC-0229MiVYnQoUxdLJnFl_g    No
UC-0C8yVGJy-cS4FGlYKelWw    No
UC-0tICWyA0_AJAVMBHL8GdQ    No
UC-2Y8dQb0S6DtpxNgAKoJKA    No
UC-5acDjU6XFWu-__G17V_YQ    No
                            ..
UCznImSIaxZR7fdLCICLdgaQ    No
UCzt24ffdUiJvJAm5HY084aw    No
UCzteSXznVjwESizsCcSKSWw    No
UCzxXBQnJy9guqVNM6KXi0Ig    No
UCzz58-H0wzmGoFi3MO_9ePQ    No
Name: channelTitle, Length: 1770, dtype: object

In [72]:
df.groupby('channelId')['channelTitle'].apply(lambda x : 0 if x.nunique() == 1 else 1).sum()
# channelTitle Ïùò Ïú†ÎãâÌÅ¨Ìïú Í∞íÏù¥ 1Í∞ú Ïù¥ÏÉÅÏù¥Î©¥, channelId Í∏∞Ï§Ä Ï±ÑÎÑêÎ™ÖÏùÑ Î∞îÍæº channelId Ïù¥ÎØÄÎ°ú 1 Î°ú count ÌïúÎã§

71

In [71]:
df.groupby('channelId')['channelTitle'].apply(lambda x : x.value_counts())
# channelID Î≥ÑÎ°ú channelTitle Í∞íÎì§Ïù¥ Î™áÍ∞úÏî© ÏûàÎäîÍ∞Ä?
# 1Í∞ú channelIDÏóê Î≥µÏàòÍ∞úÏùò channelTitle Í∞íÏù¥ ÏûàÍ≥†, Í∑∏ Í∞íÎì§Ïù¥ Î™áÎ≤àÏî© Ï§ëÎ≥µÎêòÏñ¥ ÎÇòÌÉÄ ÎÇòÎäîÍ∞Ä.

channelId
UC-0229MiVYnQoUxdLJnFl_g  Íæ∏Î¶¨Kkuri               17
UC-0C8yVGJy-cS4FGlYKelWw  ÏÑ∏Í≥ÑÎäîÏßÄÍ∏à                138
UC-0tICWyA0_AJAVMBHL8GdQ  ÎÇ¥Ï£ºÏ†úÏóê Dare U Naeju     12
UC-2Y8dQb0S6DtpxNgAKoJKA  PlayStation            7
UC-5acDjU6XFWu-__G17V_YQ  ÏôÄÎÇòÎÇò                   20
                                              ...
UCznImSIaxZR7fdLCICLdgaQ  Ï†ÑÏù∏Íµ¨Í≤ΩÏ†úÏó∞Íµ¨ÏÜå              10
UCzt24ffdUiJvJAm5HY084aw  Íµ¨Ï†ÑÎÖπÏö©                  22
UCzteSXznVjwESizsCcSKSWw  ÌñâÏ†ïÏïàÏ†ÑÎ∂Ä                  7
UCzxXBQnJy9guqVNM6KXi0Ig  Tina from Korea       10
UCzz58-H0wzmGoFi3MO_9ePQ  Ïò®ÎßàÏù¥ÌÅ¨                 102
Name: channelTitle, Length: 1843, dtype: int64

 - ÏùºÏöîÏùºÏóê Ïù∏Í∏∞ÏûàÏóàÎçò ÏòÅÏÉÅÎì§Ï§ë Í∞ÄÏû•ÎßéÏùÄ ÏòÅÏÉÅ Ï¢ÖÎ•ò(categoryId)Îäî Î¨¥ÏóáÏù∏Í∞Ä?

pd.to_datetime().dt.dayname()

In [8]:
# sunday ÏùÑ Ï∞æÍ∏∞ÏúÑÌï¥ ÎÇ†Ïßú Î≥ÄÌôî : pd.to_datatime()dt.day_name()
is_sun = pd.to_datetime(df['trending_date2']).dt.day_name() == 'Sunday'

df.loc[is_sun,'categoryId'].value_counts().nlargest(1)

# 24 Ïπ¥ÌÖåÍ≥†Î¶¨Í∞Ä 3096Î≤à

categoryId
24    3096
Name: count, dtype: int64

- Í∞Å ÏöîÏùºÎ≥Ñ Ïù∏Í∏∞ ÏòÅÏÉÅÎì§Ïùò categoryIdÎäî Í∞ÅÍ∞Å Î™áÍ∞ú Ïî©Ïù∏ÏßÄ ÌïòÎÇòÏùò Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÌòÑÌïòÎùº

pivot_table vs gropyby

In [38]:
df_week = df.copy()
df_week['week'] = pd.to_datetime(df_week['trending_date2']).dt.day_name()

# pivot_table

pd.pivot_table(df_week, index='categoryId', columns='week',aggfunc='size')

week        Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1              243     263       255     274       246      257        234
2              120     105       119      99       128      119        129
10             833     837       776     830       890      894        917
15             187     215       198     217       207      208        207
17             633     668       592     636       682      708        706
19              90      92        87      91        92       89         85
20             283     298       296     289       282      285        291
22            1288    1373      1289    1337      1341     1375       1333
23             568     594       570     556       560      569        566
24            2976    3148      3066    3096      2954     3084       3090
25             444     453       422     437       470      452        468
26             369     378       364     363       375      394        385
27             183     205       183     199       194      194        212
28             171     160       173     167       166      161        165
29              12      10        10       9        13       11         12

In [51]:
# groupby
# df_week.groupby('categoryId')['week'].apply(list) Î°ú Î®ºÏ†Ä Ï†ÑÎã¨ÎêòÎäî Í∞íÎì§ÏùÑ ÌôïÏù∏Ìï¥ Î≥¥Ïûê

df_week.groupby('categoryId')['week'].apply(lambda x : x.value_counts()).unstack()

            Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1              243     263       255     274       246      257        234
2              120     105       119      99       128      119        129
10             833     837       776     830       890      894        917
15             187     215       198     217       207      208        207
17             633     668       592     636       682      708        706
19              90      92        87      91        92       89         85
20             283     298       296     289       282      285        291
22            1288    1373      1289    1337      1341     1375       1333
23             568     594       570     556       560      569        566
24            2976    3148      3066    3096      2954     3084       3090
25             444     453       422     437       470      452        468
26             369     378       364     363       375      394        385
27             183     205       183     199       194      194        212
28             171     160       173     167       166      161        165
29              12      10        10       9        13       11         12

- ÎåìÍ∏ÄÏùò ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§.  
viewcountÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÜíÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº (view_countÍ∞íÏù¥ 0Ïù∏ Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§)

1. vectoriztion
2. df.itertuples()  
3. df.apply(axis=1)

In [29]:
# df.itertuples()ÏúºÎ°ú row ÏàúÌöåÌïòÎ©¥ÏÑú ÏµúÎåÄÍ∞í Ï∞æÍ∏∞

view0 = df['view_count'] == 0
max = np.NINF   # np ÏµúÏÜåÍ∞í

for row in df.loc[~view0,['comment_count','view_count']].itertuples():
# for row in df.loc[~view0,['title','comment_count','view_count']].itertuples():
    gap = row.comment_count/row.view_count
    if gap > max:
        max=gap
        max_id = row.Index
        # max_title = row.title

df.loc[max_id,'title']
# max_title

'60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)'

In [12]:
# apply(axis=1) ÏùÄ Í∞Å row ÏùÑ Í≥ÑÏÇ∞ÌïòÍ≤å ÎêòÎØÄÎ°ú Î¶¨ÌÑ¥ÎêòÎäî Í∞íÏù¥ row Í∞ØÏàò ÎßåÌÅº Î∞úÏÉùÌïúÎã§. 
# max ÌôïÏù∏ÏùÑ Î∞ñÏóêÏÑú Ìï¥Ïïº ÌïúÎã§. 

# df_v = df.copy()
# view0 = df_v['view_count'] == 0
view0 = df['view_count'] == 0

def funcX(Se_row):
    return Se_row['comment_count']/Se_row['view_count']

# df_v['rate'] = df_v.loc[~view0,['title','comment_count','view_count']].apply(funcX, axis=1)
# df_v.loc[df_v['rate'].idxmax(),'title']

gap2_list = df.loc[~view0,['comment_count','view_count']].apply(funcX, axis=1)
df.loc[gap2_list.idxmax(),'title']

# itertuples() Í≥º ÏãúÍ∞ÑÏ∞®Ïù¥ ÌôïÏù∏

'60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)'

In [34]:
# Í∑∏ÎÉ• vectoriztion ÏúºÎ°ú Í≥ÑÏÇ∞ÌïòÎäîÍ≤å... 

id_max = (df.loc[~view0,'comment_count']/df.loc[~view0,'view_count']).idxmax()
df.loc[id_max,'title']

'60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)'

- ÎåìÍ∏ÄÏùò ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§.  
viewcountÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÇÆÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº (view_counts, ratioÍ∞íÏù¥ 0Ïù∏Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§.)

In [30]:
view_ratio0 = (df['view_count']==0)
min = np.inf   # np ÏµúÎåÄÍ∞í

for row in df.loc[~view_ratio0, ['comment_count','view_count']].itertuples():
    gap3 = row.comment_count/row.view_count
    if (min>gap3)&(gap3 !=0):
        min = gap3
        min_id = row.Index

df.loc[min_id,'title']

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

- like ÎåÄÎπÑ dislikeÏùò ÏàòÍ∞Ä Í∞ÄÏû• Ï†ÅÏùÄ ÏòÅÏÉÅÏùÄ Î¨¥ÏóáÏù∏Í∞Ä? (like, dislike Í∞íÏù¥ 0Ïù∏Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§)

In [33]:
like_dislike0 = (df['likes']==0)|(df['dislikes']==0)
like_min = np.inf

for row in df.loc[~like_dislike0,['likes','dislikes']].itertuples():
    gap4 = row.dislikes/row.likes
    if like_min > gap4:
        like_min = gap4
        like_min_id = row.Index

df.loc[like_min_id, 'title']

'[Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞ÄÎìùÌïú NCT 127 ÎèÑÏòÅ&Ï†ïÏö∞Ïùò Ï§åÌÑ∞Î∑∞'

- Í∞ÄÏû•ÎßéÏùÄ Ìä∏Î†åÎìú ÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùò Ïù¥Î¶ÑÏùÄ Î¨¥ÏóáÏù∏Í∞Ä? (ÎÇ†ÏßúÍ∏∞Ï§Ä, Ï§ëÎ≥µÌè¨Ìï®)

In [25]:
df.groupby('channelTitle')['trending_date2'].size().idxmax()

'Ïß§Ìà∞'

- 20Ìöå(20Ïùº)Ïù¥ÏÉÅ Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Î¶¨Ïä§Ìä∏Ïóê Ìè¨Ìï®Îêú ÎèôÏòÅÏÉÅÏùò Ïà´ÏûêÎäî?

df.value_counts vs. groupby().size

In [78]:
(df[['title','channelId']].value_counts()>=20).sum()

40

In [79]:
(df.groupby(['title','channelId']).size()>=20).sum()

40

In [73]:
df[['title','channelId']].nunique()

title        7854
channelId    1770
dtype: int64