https://www.datamanim.com/dataset/03_dataq/typeone.html#id3

유튜브 인기동영상 데이터

In [18]:
import pandas as pd
import numpy as np
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [3]:
df.shape

(60399, 9)

- dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라

In [4]:

overlike = df['likes'] < df['dislikes']
df.loc[overlike,'channelTitle'].nunique()

14

- channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

전달된 series 의 유니크한 값 갯수 확인 

value_counts vs nunique

In [5]:
df.groupby('channelId')['channelTitle'].apply(list)

# 전달값 확인
# def funX(Se_g):
#     print(Se_g)
# df.groupby('channelId')['channelTitle'].apply(funX)

channelId
UC-0229MiVYnQoUxdLJnFl_g    [꾸리Kkuri, 꾸리Kkuri, 꾸리Kkuri, 꾸리Kkuri, 꾸리Kkuri, ...
UC-0C8yVGJy-cS4FGlYKelWw    [세계는지금, 세계는지금, 세계는지금, 세계는지금, 세계는지금, 세계는지금, 세계는...
UC-0tICWyA0_AJAVMBHL8GdQ    [내주제에 Dare U Naeju, 내주제에 Dare U Naeju, 내주제에 Da...
UC-2Y8dQb0S6DtpxNgAKoJKA    [PlayStation, PlayStation, PlayStation, PlaySt...
UC-5acDjU6XFWu-__G17V_YQ    [와나나, 와나나, 와나나, 와나나, 와나나, 와나나, 와나나, 와나나, 와나나, ...
                                                  ...
UCznImSIaxZR7fdLCICLdgaQ    [전인구경제연구소, 전인구경제연구소, 전인구경제연구소, 전인구경제연구소, 전인구경제...
UCzt24ffdUiJvJAm5HY084aw    [구전녹용, 구전녹용, 구전녹용, 구전녹용, 구전녹용, 구전녹용, 구전녹용, 구전녹...
UCzteSXznVjwESizsCcSKSWw    [행정안전부, 행정안전부, 행정안전부, 행정안전부, 행정안전부, 행정안전부, 행정안전부]
UCzxXBQnJy9guqVNM6KXi0Ig    [Tina from Korea, Tina from Korea, Tina from K...
UCzz58-H0wzmGoFi3MO_9ePQ    [온마이크, 온마이크, 온마이크, 온마이크, 온마이크, 온마이크, 온마이크, 온마이...
Name: channelTitle, Length: 1770, dtype: object

In [6]:

df.groupby('channelId')['channelTitle'].apply(lambda x : 'No' if x.nunique() == 1 else 'Yes')

# channelId 별로 channelTitle 의 값들이 있는 series 가 전달된다. 
# 예) 첫번째로 전달된 UC-0229MiVYnQoUxdLJnFl_g (Series)은 17개의 (values) Title 이 있다. 
# 유닉크한 values 갯수, series.nunique() 가 계산되어 channelID 별로 'No', 'Yes' 리턴된다

channelId
UC-0229MiVYnQoUxdLJnFl_g    No
UC-0C8yVGJy-cS4FGlYKelWw    No
UC-0tICWyA0_AJAVMBHL8GdQ    No
UC-2Y8dQb0S6DtpxNgAKoJKA    No
UC-5acDjU6XFWu-__G17V_YQ    No
                            ..
UCznImSIaxZR7fdLCICLdgaQ    No
UCzt24ffdUiJvJAm5HY084aw    No
UCzteSXznVjwESizsCcSKSWw    No
UCzxXBQnJy9guqVNM6KXi0Ig    No
UCzz58-H0wzmGoFi3MO_9ePQ    No
Name: channelTitle, Length: 1770, dtype: object

In [72]:
df.groupby('channelId')['channelTitle'].apply(lambda x : 0 if x.nunique() == 1 else 1).sum()
# channelTitle 의 유닉크한 값이 1개 이상이면, channelId 기준 채널명을 바꾼 channelId 이므로 1 로 count 한다

71

In [71]:
df.groupby('channelId')['channelTitle'].apply(lambda x : x.value_counts())
# channelID 별로 channelTitle 값들이 몇개씩 있는가?
# 1개 channelID에 복수개의 channelTitle 값이 있고, 그 값들이 몇번씩 중복되어 나타 나는가.

channelId
UC-0229MiVYnQoUxdLJnFl_g  꾸리Kkuri               17
UC-0C8yVGJy-cS4FGlYKelWw  세계는지금                138
UC-0tICWyA0_AJAVMBHL8GdQ  내주제에 Dare U Naeju     12
UC-2Y8dQb0S6DtpxNgAKoJKA  PlayStation            7
UC-5acDjU6XFWu-__G17V_YQ  와나나                   20
                                              ...
UCznImSIaxZR7fdLCICLdgaQ  전인구경제연구소              10
UCzt24ffdUiJvJAm5HY084aw  구전녹용                  22
UCzteSXznVjwESizsCcSKSWw  행정안전부                  7
UCzxXBQnJy9guqVNM6KXi0Ig  Tina from Korea       10
UCzz58-H0wzmGoFi3MO_9ePQ  온마이크                 102
Name: channelTitle, Length: 1843, dtype: int64

 - 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?

pd.to_datetime().dt.dayname()

In [8]:
# sunday 을 찾기위해 날짜 변화 : pd.to_datatime()dt.day_name()
is_sun = pd.to_datetime(df['trending_date2']).dt.day_name() == 'Sunday'

df.loc[is_sun,'categoryId'].value_counts().nlargest(1)

# 24 카테고리가 3096번

categoryId
24    3096
Name: count, dtype: int64

- 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라

pivot_table vs gropyby

In [38]:
df_week = df.copy()
df_week['week'] = pd.to_datetime(df_week['trending_date2']).dt.day_name()

# pivot_table

pd.pivot_table(df_week, index='categoryId', columns='week',aggfunc='size')

week        Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1              243     263       255     274       246      257        234
2              120     105       119      99       128      119        129
10             833     837       776     830       890      894        917
15             187     215       198     217       207      208        207
17             633     668       592     636       682      708        706
19              90      92        87      91        92       89         85
20             283     298       296     289       282      285        291
22            1288    1373      1289    1337      1341     1375       1333
23             568     594       570     556       560      569        566
24            2976    3148      3066    3096      2954     3084       3090
25             444     453       422     437       470      452        468
26             369     378       364     363       375      394        385
27             183     205       183     199       194      194        212
28             171     160       173     167       166      161        165
29              12      10        10       9        13       11         12

In [51]:
# groupby
# df_week.groupby('categoryId')['week'].apply(list) 로 먼저 전달되는 값들을 확인해 보자

df_week.groupby('categoryId')['week'].apply(lambda x : x.value_counts()).unstack()

            Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1              243     263       255     274       246      257        234
2              120     105       119      99       128      119        129
10             833     837       776     830       890      894        917
15             187     215       198     217       207      208        207
17             633     668       592     636       682      708        706
19              90      92        87      91        92       89         85
20             283     298       296     289       282      285        291
22            1288    1373      1289    1337      1341     1375       1333
23             568     594       570     556       560      569        566
24            2976    3148      3066    3096      2954     3084       3090
25             444     453       422     437       470      452        468
26             369     378       364     363       375      394        385
27             183     205       183     199       194      194        212
28             171     160       173     167       166      161        165
29              12      10        10       9        13       11         12

- 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다.  
viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)

1. vectoriztion
2. df.itertuples()  
3. df.apply(axis=1)

In [29]:
# df.itertuples()으로 row 순회하면서 최대값 찾기

view0 = df['view_count'] == 0
max = np.NINF   # np 최소값

for row in df.loc[~view0,['comment_count','view_count']].itertuples():
# for row in df.loc[~view0,['title','comment_count','view_count']].itertuples():
    gap = row.comment_count/row.view_count
    if gap > max:
        max=gap
        max_id = row.Index
        # max_title = row.title

df.loc[max_id,'title']
# max_title

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

In [12]:
# apply(axis=1) 은 각 row 을 계산하게 되므로 리턴되는 값이 row 갯수 만큼 발생한다. 
# max 확인을 밖에서 해야 한다. 

# df_v = df.copy()
# view0 = df_v['view_count'] == 0
view0 = df['view_count'] == 0

def funcX(Se_row):
    return Se_row['comment_count']/Se_row['view_count']

# df_v['rate'] = df_v.loc[~view0,['title','comment_count','view_count']].apply(funcX, axis=1)
# df_v.loc[df_v['rate'].idxmax(),'title']

gap2_list = df.loc[~view0,['comment_count','view_count']].apply(funcX, axis=1)
df.loc[gap2_list.idxmax(),'title']

# itertuples() 과 시간차이 확인

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

In [34]:
# 그냥 vectoriztion 으로 계산하는게... 

id_max = (df.loc[~view0,'comment_count']/df.loc[~view0,'view_count']).idxmax()
df.loc[id_max,'title']

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

- 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다.  
viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)

In [30]:
view_ratio0 = (df['view_count']==0)
min = np.inf   # np 최대값

for row in df.loc[~view_ratio0, ['comment_count','view_count']].itertuples():
    gap3 = row.comment_count/row.view_count
    if (min>gap3)&(gap3 !=0):
        min = gap3
        min_id = row.Index

df.loc[min_id,'title']

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

- like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)

In [33]:
like_dislike0 = (df['likes']==0)|(df['dislikes']==0)
like_min = np.inf

for row in df.loc[~like_dislike0,['likes','dislikes']].itertuples():
    gap4 = row.dislikes/row.likes
    if like_min > gap4:
        like_min = gap4
        like_min_id = row.Index

df.loc[like_min_id, 'title']

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

- 가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)

In [25]:
df.groupby('channelTitle')['trending_date2'].size().idxmax()

'짤툰'

- 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?

df.value_counts vs. groupby().size

In [78]:
(df[['title','channelId']].value_counts()>=20).sum()

40

In [79]:
(df.groupby(['title','channelId']).size()>=20).sum()

40

In [73]:
df[['title','channelId']].nunique()

title        7854
channelId    1770
dtype: int64