In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv('TV.csv')

### Q1

In [5]:
df1 = df.copy()
df1

,Product_Name,Stars,Ratings,Reviews,current_price,MRP,channel,Operating_system,Picture_quality,Speaker,Frequency
0,Croma,4.2,1773,217,7990,20000,HD Ready 1366 x 768 Pixels,20 Speaker Output,60 Hz Refresh Rate,2 x HDMI | 2 x USB,1 Year Warranty
1,Adsun,3.8,6742,930,8699,21999,Netflix|Disney+Hotstar|Youtube,Operating System: Android Based,HD Ready 1366 x 768 Pixels,20 W Speaker Output,60 Hz Refresh Rate
2,LG,4.4,38870,3443,16499,21990,Netflix|Prime Video|Disney+Hotstar|Youtube,Operating System: WebOS,HD Ready 1366 x 768 Pixels,10 W Speaker Output,50 Hz Refresh Rate
3,OnePlus,4.3,101256,9189,16499,21999,Netflix|Prime Video|Disney+Hotstar|Youtube,Operating System: Android,HD Ready 1366 x 768 Pixels,20 W Speaker Output,60 Hz Refresh Rate
4,Xiaomi,4.3,3120,305,15499,24999,Netflix|Prime Video|Disney+Hotstar|Youtube,Operating System: Android,HD Ready 1366 x 768 Pixels,20 W Speaker Output,60 Hz Refresh Rate
...,...,...,...,...,...,...,...,...,...,...,...
661,SONY,4.6,0,0,59999,94900,Ultra HD (4K) 3840 x 2160 pixels Pixels,NO Speaker Output,60 Hz Refresh Rate,2 x HDMI | 1 x USB,1 YEAR
662,SONY,4.5,6056,1082,34184,68400,Netflix|Prime Video|Youtube,Operating System: Linux based,Ultra HD (4K) 3840 x 2160 Pixels,20 W Speaker Output,50 Hz Refresh Rate
663,Croma,0.0,0,0,9194,20000,HD Ready 1366 x 786 Pixels,20 Speaker Output,60 Hz Refresh Rate,2 x HDMI | 2 x USB,3 Years Warranty
664,T-Series,0.0,0,0,26999,33990,Netflix|Prime Video|Apple TV|Disney+Hotstar|Yo...,Full HD 1920 x 1080 Pixels,16 Speaker Output,50 Hz Refresh Rate,2 x HDMI | 2 x USB
665,SONY,4.4,0,0,52949,72990,Ultra HD (4K) 3840 x 2160 pixels Pixels,10W + 10W Speaker Output,50 Hz Refresh Rate,2 x HDMI | 2 x USB,1 YEAR

pd.Series.str.contains("[0-9]){2,3} Hz",regex=True)

2,3자리 숫자 뒤 반드시 Hz 표기됨

In [6]:
check = df1['Frequency'].str.contains("[0-9]{2,3} Hz",regex=True)
df1.loc[check,'Frequency'].unique()

array(['60 Hz Refresh Rate', '50 Hz Refresh Rate', '120 Hz Refresh Rate',
       '100 Hz Refresh Rate', '800 Hz Refresh Rate',
       '200 Hz Refresh Rate'], dtype=object)

In [7]:
check = df1['Picture_quality'].str.contains("[0-9]{2,3} Hz")
df1.loc[check,'Picture_quality'].unique()

array(['60 Hz Refresh Rate', '120 Hz Refresh Rate', '100 Hz Refresh Rate',
       '200 Hz Refresh Rate', '58 Hz Refresh Rate', '50 Hz Refresh Rate',
       '60 Hz Refresh Rate for a blur-free picture quality',
       '300 Hz Refresh Rate'], dtype=object)

In [8]:
check = df1['Speaker'].str.contains("[0-9]{2,3} Hz")
df1.loc[check,'Speaker'].unique()

array(['60 Hz Refresh Rate', '50 Hz Refresh Rate', '200 Hz Refresh Rate',
       '120 Hz Refresh Rate', '100 Hz Refresh Rate'], dtype=object)

In [9]:
have_60Hz = (df1['Frequency'].str.contains('60 Hz'))|(df1['Picture_quality'].str.contains('60 Hz'))|(df1['Speaker'].str.contains('60 Hz'))

In [10]:
df1.loc[have_60Hz,:].shape

(510, 11)

### Q2

In [11]:
df2 = df.copy()
df2.columns

Index(['Product_Name', 'Stars', 'Ratings', 'Reviews', 'current_price', 'MRP',
       'channel', 'Operating_system', 'Picture_quality', 'Speaker',
       'Frequency'],
      dtype='object')

df.apply(axis=1)

In [12]:

def func(row): 
    return row.str.contains('4K').sum()   # 각 axis=1 로 인해 각 row 의 sum 을 각각 총 666번 리턴한다. 

list_4k = df2.loc[:,'channel':'Picture_quality'].apply(func,axis=1)
list_4k

# apply 을 사용하는 이유: df 에서 str 을 사용할 수 없어서 한개 column (series) 씩 전달해서 사용한다. 
# 그런데 이건 컬럼을 전달 하는 것이라서.. row 을 전달해서 해서 columns 을 계산하려면 axis = 1 을 사용

# df2.loc[:,'channel':'Picture_quality'].apply(lambda x : x.str.contains('4K).sum(),axis=1)

0      0
1      0
2      0
3      0
4      0
      ..
661    1
662    1
663    0
664    0
665    1
Length: 666, dtype: int64

df.itertuples()

In [13]:
# 그럼 itertuples() 을 사용해 볼까?  - df 메소드, Series.itertuples()사용 불가
# str 은 series 메소드 이므로, 튜플을 series 로 변경하여 사용해야 한다. 

list_8k = []

for row in df2.loc[:,'channel':'Picture_quality'].itertuples(index=False):
    list_8k.append(pd.Series(row).str.contains('8K').sum())
list_8k= pd.Series(list_8k)
list_8k

0      0
1      0
2      0
3      0
4      0
      ..
661    0
662    0
663    0
664    0
665    0
Length: 666, dtype: int64

In [14]:
mean_4k =df2.loc[list_4k.astype('bool'),'Stars'].mean()     # 1,0 을 bool타입으로변경해도되고
mean_4k

3.2180821917808218

In [15]:
mean_8k =df2.loc[list_8k==1,'Stars'].mean()          # 직접 값을 비교(조건식)해서 bool 형태로 리턴되게 해도 되고
mean_8k

3.6

In [16]:
abs(mean_4k - mean_8k)

0.3819178082191783

### Q3

In [17]:
df3 = df.copy()
df3.shape

(666, 11)

In [18]:
df3_1 =pd.DataFrame()

In [19]:
df3_1['Review_rate']= df3['Reviews']/df3['Ratings']
df3_1['MRP'] = df3['MRP']
df3_1['dis_rate'] = df3['current_price']/df3['MRP']

In [20]:
df3_1['Netflix'] = df3['channel'].str.contains('Netflix')+0
df3_1['Prime Video'] = df3['channel'].str.contains('Prime Video')+0

np.where(조건, 1, 0) = 조건 + 0

In [21]:
df3_1['HI_den'] = np.where(df3['Picture_quality'].str.contains('4K|8K'),1,0)
df3_1['Stars'] = df3['Stars']

In [22]:
df3_1 = df3_1.dropna()
df3_1.shape

(223, 7)

In [23]:

pi_op = df3['channel'].str.contains('Pixel|Oper')
df3_1 =df3_1.loc[~pi_op,:]
df3_1.shape

(197, 7)

In [24]:
df3_1.columns

Index(['Review_rate', 'MRP', 'dis_rate', 'Netflix', 'Prime Video', 'HI_den',
       'Stars'],
      dtype='object')

In [25]:
from sklearn.ensemble import RandomForestRegressor

In [26]:
myRFR = RandomForestRegressor(random_state=123)

In [27]:
myRFR.fit(df3_1.iloc[:,:6],df3_1['Stars'])

RandomForestRegressor(random_state=123)

In [28]:
result = pd.DataFrame(myRFR.feature_importances_, index=['Review_rate','MRP','dis_rate','Netflix','Prime Video','HI_den'])
result

                    0
Review_rate  0.312206
MRP          0.173840
dis_rate     0.444691
Netflix      0.027141
Prime Video  0.024004
HI_den       0.018118

### np.arange(start, stop, step)

In [29]:
df.head(5)

,Product_Name,Stars,Ratings,Reviews,current_price,MRP,channel,Operating_system,Picture_quality,Speaker,Frequency
0,Croma,4.2,1773,217,7990,20000,HD Ready 1366 x 768 Pixels,20 Speaker Output,60 Hz Refresh Rate,2 x HDMI | 2 x USB,1 Year Warranty
1,Adsun,3.8,6742,930,8699,21999,Netflix|Disney+Hotstar|Youtube,Operating System: Android Based,HD Ready 1366 x 768 Pixels,20 W Speaker Output,60 Hz Refresh Rate
2,LG,4.4,38870,3443,16499,21990,Netflix|Prime Video|Disney+Hotstar|Youtube,Operating System: WebOS,HD Ready 1366 x 768 Pixels,10 W Speaker Output,50 Hz Refresh Rate
3,OnePlus,4.3,101256,9189,16499,21999,Netflix|Prime Video|Disney+Hotstar|Youtube,Operating System: Android,HD Ready 1366 x 768 Pixels,20 W Speaker Output,60 Hz Refresh Rate
4,Xiaomi,4.3,3120,305,15499,24999,Netflix|Prime Video|Disney+Hotstar|Youtube,Operating System: Android,HD Ready 1366 x 768 Pixels,20 W Speaker Output,60 Hz Refresh Rate

In [30]:
col_list1 = ['Stars','Ratings']
col_list2 = ['Reviews','current_price','MRP']

In [44]:
qan_list = pd.DataFrame()

for col1 in col_list1:
    for col2 in col_list2:
        q_list1 = []
        q_list2= []
        for i in np.arange(0.05, 1, 0.05):
            q_list1.append(df[col1].quantile(i))
            q_list2.append(df[col2].quantile(i))
        com = col1+'_'+col2
        qan_list[com] =(abs(pd.Series(q_list1) - pd.Series(q_list2)))

qan_list

,Stars_Reviews,Stars_current_price,Stars_MRP,Ratings_Reviews,Ratings_current_price,Ratings_MRP
0,0.0,8699.00,16999.00,0.0,8699.00,16999.00
1,0.0,12499.00,19999.00,0.0,12499.00,19999.00
2,0.0,12999.00,22367.25,0.0,12999.00,22367.25
3,0.0,14999.00,22690.00,0.0,14999.00,22690.00
4,0.0,17421.75,25225.00,0.0,17421.75,25225.00
5,3.7,19945.80,29941.30,0.0,19949.50,29945.00
6,3.9,23995.10,32992.85,0.0,23999.00,32996.75
7,4.1,26994.90,37985.90,0.0,26999.00,37990.00
8,4.2,29994.80,42994.80,0.0,29999.00,42999.00
9,4.2,33994.80,48445.30,0.0,33999.00,48449.50
10,4.3,36994.70,54985.70,0.0,36999.00,54990.00
11,4.3,41994.70,59995.70,0.0,41999.00,60000.00
12,4.3,48895.70,69994.70,0.0,48900.00,69999.00
13,171.1,55964.10,79995.10,941.5,54851.50,78882.50
14,501.6,64604.85,94367.35,2394.0,61709.25,91471.75
15,878.6,77985.60,119895.60,4947.0,72160.00,114070.00
16,984.5,98820.50,149895.50,5988.0,91848.00,142923.00
17,2285.4,134940.40,199994.90,12526.5,120128.50,185183.00
18,4194.8,193737.55,292417.80,20903.0,168639.75,267320.00

In [50]:
for i in np.arange(0.05, 1, 0.05):
    print(df['Stars'].quantile(i))

0.0
0.0
0.0
0.0
0.0
3.7
3.9
4.1
4.2
4.2
4.3
4.3
4.3
4.4
4.4
4.4
4.5
4.6
4.7

In [33]:
test = pd.qcut(df['MRP'], 20).cat.categories.to_series().reset_index(drop=True).drop(19).astype('str').str.split(',',expand=True)[1].str[:-1].astype('float')
test

0      16999.00
1      19999.00
2      22367.25
3      22690.00
4      25225.00
5      29945.00
6      32996.75
7      37990.00
8      42999.00
9      48449.50
10     54990.00
11     60000.00
12     69999.00
13     79999.50
14     94371.75
15    119900.00
16    149900.00
17    199999.50
18    292422.50
Name: 1, dtype: float64

In [34]:

q_df = pd.DataFrame()
for col1 in col_list1:
    for col2 in col_list2:
        q_col1 = pd.qcut(df[col1], 20).cat.categories.to_series().reset_index(drop=True).drop(19).astype('str').str.split(',',expand=True)[1].str[:-1].astype('float')
        q_col2 = pd.qcut(df[col2], 20).cat.categories.to_series().reset_index(drop=True).drop(19).astype('str').str.split(',',expand=True)[1].str[:-1].astype('float')
        com_list = col1+'_'+col2
        q_df[com_list] = abs(pd.Series(q_col1)-pd.Series(q_col2))

# Stars 가 qcut 에서 동일한 값을 가지게 되어 에러가 발생한다.

ValueError: Bin edges must be unique: array([0. , 0. , 0. , 0. , 0. , 0. , 3.7, 3.9, 4.1, 4.2, 4.2, 4.3, 4.3,
       4.3, 4.4, 4.4, 4.4, 4.5, 4.6, 4.7, 5. ]).
You can drop duplicate edges by setting the 'duplicates' kwarg

### list.remove(col),  df.loc[:,list]

df.loc[:,list].drop(col)

In [37]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [38]:
myLR = LinearRegression()

In [43]:
col_list = ['Stars', 'Ratings', 'Reviews', 'current_price', 'MRP']
r2_list = []

for col in col_list:
    X_train = df.loc[:,col_list].drop(col,axis=1).copy()
    y_train = df[col].copy()

    myLR.fit(X_train, y_train)
    pred = myLR.predict(X_train)
    r2_list.append(r2_score(y_train, pred))

pd.DataFrame(r2_list, index=col_list, columns=['r2'])

                     r2
Stars          0.058151
Ratings        0.955185
Reviews        0.955734
current_price  0.895891
MRP            0.895836

In [113]:
col_list2[1]

'current_price'

In [114]:
col_list2.remove(col_list2[1])

In [111]:
col_list2

['Reviews', 'MRP']