In [164]:
import numpy as np
import pandas as pd

In [165]:
df = pd.read_csv('mobiles.csv')
df.columns

Index(['screen_size', 'ROM', 'RAM', 'num_rear_camera', 'num_front_camera',
       'battery_capacity', 'ratings', 'num_of_ratings', 'sales_price',
       'discount_percent', 'sales'],
      dtype='object')

### Q1

In [166]:
df1 = df.copy()

In [167]:
df1['purp'] = (df1['ROM']/32)+(df1['RAM']/2)+(df1['num_rear_camera']+df1['num_front_camera'])+(df['battery_capacity']/1000)

In [168]:
out = df1.sales.mean()+2*(df1.sales.std())
outliear = df1.sales > out

In [169]:
df1.loc[outliear,'purp'].mean()

11.01125

### Q2

In [170]:
df2 = df.copy()
df2.columns

Index(['screen_size', 'ROM', 'RAM', 'num_rear_camera', 'num_front_camera',
       'battery_capacity', 'ratings', 'num_of_ratings', 'sales_price',
       'discount_percent', 'sales'],
      dtype='object')

In [171]:
rear_camera_1 = df2['num_rear_camera'] == 1

In [172]:
col_list=['battery_capacity', 'ratings', 'num_of_ratings', 'sales_price','sales']

In [173]:
df2.loc[~rear_camera_1,col_list].corr()

,battery_capacity,ratings,num_of_ratings,sales_price,sales
battery_capacity,1.000000,-0.424129,0.034902,-0.503019,0.025680
ratings,-0.424129,1.000000,0.191655,0.151153,0.226075
num_of_ratings,0.034902,0.191655,1.000000,-0.260279,0.949114
sales_price,-0.503019,0.151153,-0.260279,1.000000,-0.247760
sales,0.025680,0.226075,0.949114,-0.247760,1.000000

In [174]:
abs(df2.loc[~rear_camera_1,col_list].corr().drop('sales')['sales']).max().round(2)

0.95

In [175]:
df2.loc[~rear_camera_1,col_list].corr()['sales'].nlargest(2)

sales             1.000000
num_of_ratings    0.949114
Name: sales, dtype: float64

### Q3

In [176]:
df3= df.copy()
df3.columns

Index(['screen_size', 'ROM', 'RAM', 'num_rear_camera', 'num_front_camera',
       'battery_capacity', 'ratings', 'num_of_ratings', 'sales_price',
       'discount_percent', 'sales'],
      dtype='object')

In [177]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430 entries, 0 to 429
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   screen_size       430 non-null    object
 1   ROM               430 non-null    int64
 2   RAM               430 non-null    int64
 3   num_rear_camera   430 non-null    int64
 4   num_front_camera  430 non-null    int64
 5   battery_capacity  430 non-null    int64
 6   ratings           430 non-null    float64
 7   num_of_ratings    430 non-null    int64
 8   sales_price       430 non-null    int64
 9   discount_percent  430 non-null    float64
 10  sales             430 non-null    float64
dtypes: float64(3), int64(7), object(1)
memory usage: 37.1+ KB

In [178]:
df3_1 = pd.get_dummies(df3, 'screen_size')
df3_1.shape

(430, 15)

In [179]:
col_list = df3_1.columns.tolist()
X_list = col_list.copy()
X_list.remove('sales')
X_list

['ROM',
 'RAM',
 'num_rear_camera',
 'num_front_camera',
 'battery_capacity',
 'ratings',
 'num_of_ratings',
 'sales_price',
 'discount_percent',
 'screen_size_Large',
 'screen_size_Medium',
 'screen_size_Small',
 'screen_size_Very Large',
 'screen_size_Very Small']

In [180]:
from sklearn.model_selection import train_test_split

In [181]:
train, test  = train_test_split(df3_1, test_size=0.2, random_state=123)
train

,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales,screen_size_Large,screen_size_Medium,screen_size_Small,screen_size_Very Large,screen_size_Very Small
410,32,3,2,1,4000,4.3,1870,10449,0.05,1.95,False,False,True,False,False
21,128,3,1,1,2942,4.6,5366,47999,0.09,25.76,False,True,False,False,False
223,64,4,2,1,4230,4.4,13150,10499,0.04,13.81,False,True,False,False,False
79,128,6,4,1,5160,4.4,10279,18999,0.20,19.53,True,False,False,False,False
264,128,4,4,1,6000,4.2,15016,12499,0.10,18.77,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,128,6,4,1,4500,4.4,15407,19999,0.04,30.81,False,True,False,False,False
98,128,6,2,1,4000,4.6,122001,18999,0.09,231.79,False,True,False,False,False
322,128,6,4,1,4500,4.3,6,35999,0.07,0.02,True,False,False,False,False
382,64,6,2,1,4000,4.5,129661,13500,0.20,175.04,False,True,False,False,False
365,32,3,3,1,4000,4.3,220,11599,0.10,0.26,True,False,False,False,False

In [182]:
from sklearn.preprocessing import MinMaxScaler
myMMS = MinMaxScaler()
train.loc[:,:] = myMMS.fit_transform(train.loc[:,:])
test.loc[:,:] = myMMS.transform(test.loc[:,:])
train

,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales,screen_size_Large,screen_size_Medium,screen_size_Small,screen_size_Very Large,screen_size_Very Small
410,0.047619,0.181818,0.333333,0.0,0.423077,0.625,0.003963,0.026073,0.093023,0.003948,0.0,0.0,1.0,0.0,0.0
21,0.238095,0.181818,0.000000,0.0,0.219615,1.000,0.011387,0.273927,0.186047,0.052148,0.0,1.0,0.0,0.0,0.0
223,0.111111,0.272727,0.333333,0.0,0.467308,0.750,0.027917,0.026403,0.069767,0.027957,0.0,1.0,0.0,0.0,0.0
79,0.238095,0.454545,1.000000,0.0,0.646154,0.750,0.021820,0.082508,0.441860,0.039536,1.0,0.0,0.0,0.0,0.0
264,0.238095,0.272727,1.000000,0.0,0.807692,0.500,0.031879,0.039604,0.209302,0.037997,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,0.238095,0.454545,1.000000,0.0,0.519231,0.750,0.032710,0.089109,0.069767,0.062371,0.0,1.0,0.0,0.0,0.0
98,0.238095,0.454545,0.333333,0.0,0.423077,1.000,0.259071,0.082508,0.186047,0.469230,0.0,1.0,0.0,0.0,0.0
322,0.238095,0.454545,1.000000,0.0,0.519231,0.625,0.000004,0.194719,0.139535,0.000040,1.0,0.0,0.0,0.0,0.0
382,0.111111,0.454545,0.333333,0.0,0.423077,0.875,0.275338,0.046211,0.441860,0.354346,0.0,1.0,0.0,0.0,0.0
365,0.047619,0.181818,0.666667,0.0,0.423077,0.625,0.000459,0.033663,0.209302,0.000526,1.0,0.0,0.0,0.0,0.0

In [183]:
X_train = train.loc[:,X_list]
X_test = test.loc[:,X_list]
y_train = train['sales']
y_test = test['sales']

In [184]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

In [185]:
mse_list = []
for k in [3, 5, 7,9, 11]:
    myKNR = KNeighborsRegressor(n_neighbors=k)
    myKNR.fit(X_train, y_train)
    y_pred = myKNR.predict(X_test)
    mse_list.append(mean_squared_error(y_test, y_pred,squared=False))

pd.DataFrame(mse_list, index=[3, 5, 7,9, 11]).idxmin()

0    3
dtype: int64

### np.arage(start, stop, step)

In [186]:
# for구문 확인
q_list=[]
for i in np.arange(0.05,1,0.05):
    q_list.append(df4['sales'].quantile(i))
q_list

[0.07900000000000006,
 0.28900000000000003,
 0.65,
 1.39,
 1.6400000000000001,
 2.7329999999999934,
 4.289499999999997,
 5.15,
 5.943000000000005,
 9.655000000000001,
 12.34,
 16.126,
 18.758000000000006,
 23.33,
 29.71750000000005,
 36.44800000000015,
 51.210000000000065,
 93.29,
 130.29]

In [187]:
df4 = df.drop('screen_size',axis=1).copy()
df_q = pd.DataFrame()

for col in q_col:
    q_list=[]
    for i in np.arange(0.05,1,0.05):
        q_list.append(df4[col].quantile(i))
    df_q[col] = q_list
df_q

,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales
0,32.0,2.0,1.0,1.0,2815.0,4.1,23.00,8287.45,0.02,0.0790
1,32.0,3.0,2.0,1.0,2942.0,4.2,109.50,8999.00,0.03,0.2890
2,64.0,3.0,2.0,1.0,3300.0,4.2,244.00,9999.00,0.04,0.6500
3,64.0,4.0,2.0,1.0,4000.0,4.3,322.00,10999.00,0.05,1.3900
4,64.0,4.0,2.0,1.0,4000.0,4.3,745.00,11999.00,0.06,1.6400
5,64.0,4.0,2.0,1.0,4035.0,4.3,1041.00,12996.30,0.06,2.7330
6,64.0,4.0,3.0,1.0,4250.0,4.3,1546.35,14106.35,0.07,4.2895
7,64.0,4.0,3.0,1.0,4310.0,4.3,2414.40,14999.00,0.08,5.1500
8,64.0,4.0,3.0,1.0,4500.0,4.3,3972.25,15999.00,0.08,5.9430
9,128.0,4.0,3.0,1.0,4500.0,4.3,5197.50,16989.50,0.09,9.6550
10,128.0,6.0,3.0,1.0,5000.0,4.3,5548.65,17999.00,0.09,12.3400
11,128.0,6.0,3.0,1.0,5000.0,4.3,8161.00,20059.00,0.10,16.1260
12,128.0,6.0,3.0,1.0,5000.0,4.4,10279.00,21999.00,0.11,18.7580
13,128.0,6.0,4.0,1.0,5000.0,4.4,14204.00,25999.00,0.13,23.3300
14,128.0,6.0,4.0,1.0,5000.0,4.4,21089.25,28999.00,0.16,29.7175
15,128.0,8.0,4.0,1.0,5000.0,4.5,29084.20,33244.20,0.17,36.4480
16,128.0,8.0,4.0,1.0,5160.0,4.5,39543.25,42999.00,0.19,51.2100
17,128.0,8.0,4.0,1.0,6000.0,4.5,61812.00,57149.00,0.20,93.2900
18,256.0,8.0,4.0,1.0,6000.0,4.6,123155.45,72149.00,0.24,130.2900

###  df.loc[:,list].drop(col)

In [188]:
df5 = df4.loc[:,q_col].copy()

In [189]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [190]:
myLR = LinearRegression()

In [191]:
r_list=[]
for col in q_col:
    X_train = df5.drop(col,axis=1)
    y_train = df5[col]

    myLR.fit(X_train, y_train)
    pred = myLR.predict(X_train)

    r_list.append(r2_score(pred, y_train))

pd.DataFrame(r_list, index=q_col)

                         0
ROM               0.494967
RAM               0.406223
num_rear_camera   0.151364
num_front_camera -6.727898
battery_capacity  0.266946
ratings          -1.065437
num_of_ratings    0.902909
sales_price       0.417012
discount_percent -9.838057
sales             0.906278