In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('galaxy_users.csv')

### Q1

In [3]:
df1 = df.copy()
df1.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
df1.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [5]:
ser_list = ['OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies']

1 if 조건 else 0 if 조건 else np.nan

In [6]:
df1.loc[:,ser_list]= df1.loc[:,ser_list].applymap(lambda x : 1 if x =='Yes' else 0 if x == 'No' else np.nan)
df1.shape

(7032, 21)

df.dropna(subset = )

In [7]:
df2=df1.dropna(subset=ser_list).copy()
df2.shape

(5512, 21)

In [8]:
df2['ser_AMT'] = df2.loc[:,ser_list].sum(axis=1)

In [9]:
df2['ser_AMT'].value_counts()

ser_AMT
3.0    1117
2.0    1033
1.0     966
4.0     850
0.0     693
5.0     569
6.0     284
Name: count, dtype: int64

In [10]:
df2['ser_AMT'].value_counts()[1]/df2['ser_AMT'].value_counts()[6]

3.4014084507042255

### Q2

In [11]:
df2=df.copy()

// 몫 구하기

몫, 나머지 = divmod(a,b)

In [12]:
df2['use_month'] = df2['TotalCharges']//df2['MonthlyCharges']

In [13]:
ans3 = df2[['tenure','MonthlyCharges','use_month']].corr()

In [14]:
pd.Series(ans3.values.reshape(-1)).abs().sort_values(ascending=False).unique()[1]

0.9988308750302998

In [16]:
df2[['tenure','MonthlyCharges','use_month']].corr().nlargest(2,columns=['tenure','use_month'])

             tenure  MonthlyCharges  use_month
tenure     1.000000        0.246862   0.998831
use_month  0.998831        0.246164   1.000000

### Q3

In [15]:
df3=df.copy()
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   gender            7032 non-null   object
 2   SeniorCitizen     7032 non-null   int64
 3   Partner           7032 non-null   object
 4   Dependents        7032 non-null   object
 5   tenure            7032 non-null   int64
 6   PhoneService      7032 non-null   object
 7   MultipleLines     7032 non-null   object
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   object
 10  OnlineBackup      7032 non-null   object
 11  DeviceProtection  7032 non-null   object
 12  TechSupport       7032 non-null   object
 13  StreamingTV       7032 non-null   object
 14  StreamingMovies   7032 non-null   object
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   object
 17  PaymentMethod     7032 non-null   object
 18  MonthlyCharges    7032 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7032 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [16]:
X_list = ["SeniorCitizen", "Partner", "Dependents", "tenure", "MonthlyCharges", "TotalCharges",
           "OnlineSecurity", "OnlineBackup", "DeviceProtection", "TechSupport", "StreamingMovies", 
           "PaperlessBilling"]

In [17]:
df3_1 = df3.loc[:,X_list].copy()
df3.loc[:,X_list]

,SeniorCitizen,Partner,Dependents,tenure,MonthlyCharges,TotalCharges,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingMovies,PaperlessBilling
0,0,Yes,No,1,29.85,29.85,No,Yes,No,No,No,Yes
1,0,No,No,34,56.95,1889.50,Yes,No,Yes,No,No,No
2,0,No,No,2,53.85,108.15,Yes,Yes,No,No,No,Yes
3,0,No,No,45,42.30,1840.75,Yes,No,Yes,Yes,No,No
4,0,No,No,2,70.70,151.65,No,No,No,No,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,Yes,Yes,24,84.80,1990.50,Yes,No,Yes,Yes,Yes,Yes
7028,0,Yes,Yes,72,103.20,7362.90,No,Yes,Yes,No,Yes,Yes
7029,0,Yes,Yes,11,29.60,346.45,Yes,No,No,No,No,Yes
7030,1,Yes,No,4,74.40,306.60,No,No,No,No,No,Yes
7031,0,No,No,66,105.65,6844.50,Yes,No,Yes,Yes,Yes,Yes

In [18]:
Cat_list = ["Partner", "Dependents", 
           "OnlineSecurity", "OnlineBackup", "DeviceProtection", "TechSupport", "StreamingMovies", 
           "PaperlessBilling"]

In [19]:
df3_1.loc[:,Cat_list] =df3_1.loc[:,Cat_list].applymap(lambda x : 1 if x == 'Yes' else 0 if x == 'No' else -1)
df3_1

,SeniorCitizen,Partner,Dependents,tenure,MonthlyCharges,TotalCharges,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingMovies,PaperlessBilling
0,0,1,0,1,29.85,29.85,0,1,0,0,0,1
1,0,0,0,34,56.95,1889.50,1,0,1,0,0,0
2,0,0,0,2,53.85,108.15,1,1,0,0,0,1
3,0,0,0,45,42.30,1840.75,1,0,1,1,0,0
4,0,0,0,2,70.70,151.65,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,1,1,24,84.80,1990.50,1,0,1,1,1,1
7028,0,1,1,72,103.20,7362.90,0,1,1,0,1,1
7029,0,1,1,11,29.60,346.45,1,0,0,0,0,1
7030,1,1,0,4,74.40,306.60,0,0,0,0,0,1
7031,0,0,0,66,105.65,6844.50,1,0,1,1,1,1

In [20]:
df3_1['Churn']=df3['Churn'].map(lambda x : 1 if x == 'Yes' else 0 if x == 'No' else -1)
df3_1

,SeniorCitizen,Partner,Dependents,tenure,MonthlyCharges,TotalCharges,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingMovies,PaperlessBilling,Churn
0,0,1,0,1,29.85,29.85,0,1,0,0,0,1,0
1,0,0,0,34,56.95,1889.50,1,0,1,0,0,0,0
2,0,0,0,2,53.85,108.15,1,1,0,0,0,1,1
3,0,0,0,45,42.30,1840.75,1,0,1,1,0,0,0
4,0,0,0,2,70.70,151.65,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,1,1,24,84.80,1990.50,1,0,1,1,1,1,0
7028,0,1,1,72,103.20,7362.90,0,1,1,0,1,1,0
7029,0,1,1,11,29.60,346.45,1,0,0,0,0,1,0
7030,1,1,0,4,74.40,306.60,0,0,0,0,0,1,1
7031,0,0,0,66,105.65,6844.50,1,0,1,1,1,1,0

In [21]:
from sklearn.model_selection import train_test_split

In [22]:

train,test = train_test_split(df3_1,test_size=0.3,random_state=123)
train.shape, test.shape

((4922, 13), (2110, 13))

In [23]:
from sklearn.preprocessing import StandardScaler

In [24]:
mySDS = StandardScaler()
mySDS.fit(train[X_list])

StandardScaler()

In [25]:
train_SS = mySDS.transform(train[X_list])
test_SS = mySDS.transform(test[X_list])

In [26]:
from sklearn.linear_model import LogisticRegression

In [27]:
myLR = LogisticRegression(random_state=123)

In [28]:
myLR.fit(train[X_list],train['Churn'])

LogisticRegression(random_state=123)

In [29]:
y_pred =myLR.predict(test[X_list])
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [30]:
from sklearn.metrics import f1_score

In [33]:
f1_score(test['Churn'],y_pred)

0.5529411764705883