In [130]:
import numpy as np
import pandas as pd

In [131]:
df = pd.read_csv('edu_enrollees.csv')
df.columns

Index(['enrollee_id', 'city', 'city_development_index', 'gender',
       'relevant_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'last_new_job', 'training_hours', 'target', 'Xgrp'],
      dtype='object')

In [132]:
df=df.drop(['city','company_size','company_type'],axis=1)

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  float64
 1   city_development_index  19158 non-null  float64
 2   gender                  14650 non-null  object
 3   relevant_experience     19158 non-null  object
 4   enrolled_university     18772 non-null  object
 5   education_level         18698 non-null  object
 6   major_discipline        16345 non-null  object
 7   experience              19093 non-null  object
 8   last_new_job            18735 non-null  object
 9   training_hours          19158 non-null  float64
 10  target                  19158 non-null  float64
 11  Xgrp                    19158 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.8+ MB

In [134]:
obj_list =  ['gender','relevant_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'last_new_job','Xgrp']

In [135]:
df.loc[:,obj_list].isna().sum()

gender                 4508
relevant_experience       0
enrolled_university     386
education_level         460
major_discipline       2813
experience               65
last_new_job            423
Xgrp                      0
dtype: int64

In [136]:
df=df.dropna(subset=obj_list)

In [137]:
df.loc[:,obj_list].isna().sum()

gender                 0
relevant_experience    0
enrolled_university    0
education_level        0
major_discipline       0
experience             0
last_new_job           0
Xgrp                   0
dtype: int64

In [138]:
df['experience'].unique()

array(['>20', '15', '13', '7', '5', '16', '4', '11', '<1', '18', '19',
       '12', '10', '9', '2', '6', '14', '3', '8', '20', '17', '1'],
      dtype=object)

In [139]:
df.query("experience not in ['>20','<1']")

,enrollee_id,city_development_index,gender,relevant_experience,enrolled_university,education_level,major_discipline,experience,last_new_job,training_hours,target,Xgrp
1,29725.0,0.776,Male,No relevant experience,no_enrollment,Graduate,STEM,15,>4,47.0,0.0,train
7,402.0,0.762,Male,Has relevant experience,no_enrollment,Graduate,STEM,13,>4,18.0,1.0,train
8,27107.0,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,7,1,46.0,1.0,train
11,23853.0,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,5,1,108.0,0.0,train
15,6588.0,0.926,Male,Has relevant experience,no_enrollment,Graduate,STEM,16,>4,18.0,0.0,train
...,...,...,...,...,...,...,...,...,...,...,...,...
19149,251.0,0.920,Male,Has relevant experience,no_enrollment,Masters,STEM,9,1,36.0,1.0,test
19150,32313.0,0.920,Female,Has relevant experience,no_enrollment,Graduate,STEM,10,3,23.0,0.0,test
19152,29754.0,0.920,Female,Has relevant experience,no_enrollment,Graduate,Humanities,7,1,25.0,0.0,test
19153,7386.0,0.878,Male,No relevant experience,no_enrollment,Graduate,Humanities,14,1,42.0,1.0,test
19154,31398.0,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,14,4,52.0,1.0,test

In [140]:
df = df.loc[~df['experience'].isin(['>20','<1']),:]

In [141]:
df['experience'].unique()

array(['15', '13', '7', '5', '16', '4', '11', '18', '19', '12', '10', '9',
       '2', '6', '14', '3', '8', '20', '17', '1'], dtype=object)

In [142]:
df['experience']= df['experience'].astype('int')

In [143]:
df.columns

Index(['enrollee_id', 'city_development_index', 'gender',
       'relevant_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'last_new_job', 'training_hours',
       'target', 'Xgrp'],
      dtype='object')

In [144]:
df.query("last_new_job not in ['>4','never']")

,enrollee_id,city_development_index,gender,relevant_experience,enrolled_university,education_level,major_discipline,experience,last_new_job,training_hours,target,Xgrp
8,27107.0,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,7,1,46.0,1.0,train
11,23853.0,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,5,1,108.0,0.0,train
19,11399.0,0.827,Female,Has relevant experience,no_enrollment,Graduate,Arts,4,1,132.0,1.0,train
20,31972.0,0.843,Male,Has relevant experience,no_enrollment,Masters,STEM,11,1,68.0,0.0,train
21,19061.0,0.926,Male,Has relevant experience,no_enrollment,Masters,STEM,11,2,50.0,0.0,train
...,...,...,...,...,...,...,...,...,...,...,...,...
19149,251.0,0.920,Male,Has relevant experience,no_enrollment,Masters,STEM,9,1,36.0,1.0,test
19150,32313.0,0.920,Female,Has relevant experience,no_enrollment,Graduate,STEM,10,3,23.0,0.0,test
19152,29754.0,0.920,Female,Has relevant experience,no_enrollment,Graduate,Humanities,7,1,25.0,0.0,test
19153,7386.0,0.878,Male,No relevant experience,no_enrollment,Graduate,Humanities,14,1,42.0,1.0,test
19154,31398.0,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,14,4,52.0,1.0,test

In [145]:
df = df.loc[~df['last_new_job'].isin(['>4','never']),:]

In [146]:
df['last_new_job']= df['last_new_job'].astype('int')

In [147]:
df.shape

(7522, 12)