In [109]:
import numpy as np
import pandas as pd

In [110]:
df = pd.read_csv('edu_enrollees.csv')
df.columns

Index(['enrollee_id', 'city', 'city_development_index', 'gender',
       'relevant_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'last_new_job', 'training_hours', 'target', 'Xgrp'],
      dtype='object')

In [111]:
df=df.drop(['city','company_size','company_type'],axis=1)

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  float64
 1   city_development_index  19158 non-null  float64
 2   gender                  14650 non-null  object
 3   relevant_experience     19158 non-null  object
 4   enrolled_university     18772 non-null  object
 5   education_level         18698 non-null  object
 6   major_discipline        16345 non-null  object
 7   experience              19093 non-null  object
 8   last_new_job            18735 non-null  object
 9   training_hours          19158 non-null  float64
 10  target                  19158 non-null  float64
 11  Xgrp                    19158 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.8+ MB

In [113]:
obj_list =  ['gender','relevant_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'last_new_job','Xgrp']

In [114]:
df.loc[:,obj_list].isna().sum()

gender                 4508
relevant_experience       0
enrolled_university     386
education_level         460
major_discipline       2813
experience               65
last_new_job            423
Xgrp                      0
dtype: int64

In [115]:
df=df.dropna(subset=obj_list)

In [116]:
df.loc[:,obj_list].isna().sum()

gender                 0
relevant_experience    0
enrolled_university    0
education_level        0
major_discipline       0
experience             0
last_new_job           0
Xgrp                   0
dtype: int64

In [117]:
df['experience'].unique()

array(['>20', '15', '13', '7', '5', '16', '4', '11', '<1', '18', '19',
       '12', '10', '9', '2', '6', '14', '3', '8', '20', '17', '1'],
      dtype=object)

In [118]:
df.query("experience not in ['>20','<1']")

,enrollee_id,city_development_index,gender,relevant_experience,enrolled_university,education_level,major_discipline,experience,last_new_job,training_hours,target,Xgrp
1,29725.0,0.776,Male,No relevant experience,no_enrollment,Graduate,STEM,15,>4,47.0,0.0,train
7,402.0,0.762,Male,Has relevant experience,no_enrollment,Graduate,STEM,13,>4,18.0,1.0,train
8,27107.0,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,7,1,46.0,1.0,train
11,23853.0,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,5,1,108.0,0.0,train
15,6588.0,0.926,Male,Has relevant experience,no_enrollment,Graduate,STEM,16,>4,18.0,0.0,train
...,...,...,...,...,...,...,...,...,...,...,...,...
19149,251.0,0.920,Male,Has relevant experience,no_enrollment,Masters,STEM,9,1,36.0,1.0,test
19150,32313.0,0.920,Female,Has relevant experience,no_enrollment,Graduate,STEM,10,3,23.0,0.0,test
19152,29754.0,0.920,Female,Has relevant experience,no_enrollment,Graduate,Humanities,7,1,25.0,0.0,test
19153,7386.0,0.878,Male,No relevant experience,no_enrollment,Graduate,Humanities,14,1,42.0,1.0,test
19154,31398.0,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,14,4,52.0,1.0,test

In [119]:
df = df.loc[~df['experience'].isin(['>20','<1']),:]

In [120]:
df['experience'].unique()

array(['15', '13', '7', '5', '16', '4', '11', '18', '19', '12', '10', '9',
       '2', '6', '14', '3', '8', '20', '17', '1'], dtype=object)

In [121]:
df['experience']= df['experience'].astype('int')

In [122]:
df.columns

Index(['enrollee_id', 'city_development_index', 'gender',
       'relevant_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'last_new_job', 'training_hours',
       'target', 'Xgrp'],
      dtype='object')

In [123]:
df.query("last_new_job not in ['>4','never']")

,enrollee_id,city_development_index,gender,relevant_experience,enrolled_university,education_level,major_discipline,experience,last_new_job,training_hours,target,Xgrp
8,27107.0,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,7,1,46.0,1.0,train
11,23853.0,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,5,1,108.0,0.0,train
19,11399.0,0.827,Female,Has relevant experience,no_enrollment,Graduate,Arts,4,1,132.0,1.0,train
20,31972.0,0.843,Male,Has relevant experience,no_enrollment,Masters,STEM,11,1,68.0,0.0,train
21,19061.0,0.926,Male,Has relevant experience,no_enrollment,Masters,STEM,11,2,50.0,0.0,train
...,...,...,...,...,...,...,...,...,...,...,...,...
19149,251.0,0.920,Male,Has relevant experience,no_enrollment,Masters,STEM,9,1,36.0,1.0,test
19150,32313.0,0.920,Female,Has relevant experience,no_enrollment,Graduate,STEM,10,3,23.0,0.0,test
19152,29754.0,0.920,Female,Has relevant experience,no_enrollment,Graduate,Humanities,7,1,25.0,0.0,test
19153,7386.0,0.878,Male,No relevant experience,no_enrollment,Graduate,Humanities,14,1,42.0,1.0,test
19154,31398.0,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,14,4,52.0,1.0,test

In [124]:
df = df.loc[~df['last_new_job'].isin(['>4','never']),:]

In [125]:
df['last_new_job']= df['last_new_job'].astype('int')

In [126]:
df.shape

(7522, 12)

### Q1

In [127]:
df1 = df.copy()

In [128]:
df1[['relevant_experience','target']]

           relevant_experience  target
8      Has relevant experience     1.0
11     Has relevant experience     0.0
19     Has relevant experience     1.0
20     Has relevant experience     0.0
21     Has relevant experience     0.0
...                        ...     ...
19149  Has relevant experience     1.0
19150  Has relevant experience     0.0
19152  Has relevant experience     0.0
19153   No relevant experience     1.0
19154  Has relevant experience     1.0

[7522 rows x 2 columns]

조건부 확률

In [129]:
Noex = df1['relevant_experience']=='No relevant experience'
Y_ta = df1['target'] == 1

A = df1[Noex & Y_ta].shape[0]/df1[Noex].shape[0]
A

0.38287331917905165

In [130]:
B = df1[(~Noex) & Y_ta].shape[0]/df1[(~Noex)].shape[0]
B

0.21591095105581928

In [131]:
A/B

1.7732927269634773

### Q2

In [132]:
df2 = df.copy()

In [133]:
df2.head(2)

,enrollee_id,city_development_index,gender,relevant_experience,enrolled_university,education_level,major_discipline,experience,last_new_job,training_hours,target,Xgrp
8,27107.0,0.92,Male,Has relevant experience,no_enrollment,Graduate,STEM,7,1,46.0,1.0,train
11,23853.0,0.92,Male,Has relevant experience,no_enrollment,Graduate,STEM,5,1,108.0,0.0,train

In [134]:
df2.columns

Index(['enrollee_id', 'city_development_index', 'gender',
       'relevant_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'last_new_job', 'training_hours',
       'target', 'Xgrp'],
      dtype='object')

In [135]:
dum_col = ['gender',
       'relevant_experience', 'enrolled_university', 'education_level',
       'major_discipline']

In [136]:
df2_1 = pd.get_dummies(df2, columns=dum_col)

In [137]:
drop_list = ['gender_Other','relevant_experience_No relevant experience',
'enrolled_university_no_enrollment','education_level_Phd','major_discipline_STEM']

df2_2= df2_1.drop(drop_list, axis=1)

In [138]:
df2_2.columns

Index(['enrollee_id', 'city_development_index', 'experience', 'last_new_job',
       'training_hours', 'target', 'Xgrp', 'gender_Female', 'gender_Male',
       'relevant_experience_Has relevant experience',
       'enrolled_university_Full time course',
       'enrolled_university_Part time course', 'education_level_Graduate',
       'education_level_Masters', 'major_discipline_Arts',
       'major_discipline_Business Degree', 'major_discipline_Humanities',
       'major_discipline_No Major', 'major_discipline_Other'],
      dtype='object')

In [139]:
X_list = ['city_development_index', 'experience', 'last_new_job',
       'training_hours','gender_Female', 'gender_Male',
       'relevant_experience_Has relevant experience',
       'enrolled_university_Full time course',
       'enrolled_university_Part time course', 'education_level_Graduate',
       'education_level_Masters', 'major_discipline_Arts',
       'major_discipline_Business Degree', 'major_discipline_Humanities',
       'major_discipline_No Major', 'major_discipline_Other']

df2_3 = df2_2[X_list]

In [140]:
len(df2_3.columns)

16

In [141]:
df2_4 = pd.concat((df2_3, df2_2[['target','Xgrp']]),axis=1)

In [142]:
from sklearn.linear_model import LogisticRegression

In [143]:
myLOR = LogisticRegression(C=100000, max_iter=1000, solver='liblinear',random_state=123)

In [144]:
X_train = df2_4[X_list]
y_train = df2_4['target']

myLOR.fit(X_train, y_train)

LogisticRegression(C=100000, max_iter=1000, random_state=123,
                   solver='liblinear')

In [145]:
myLOR.intercept_

array([4.5584022])

승산비

In [146]:
my_co = pd.DataFrame(myLOR.coef_).T
my_co['var'] = X_list
np.exp(my_co.set_index('var')).max()

0    1.670868
dtype: float64

### Q3

In [147]:
df3 =df2_4.copy()

In [148]:
test = df3['Xgrp']=='test'

In [149]:
X_train = df3.loc[~test, X_list]
X_test  = df3.loc[test, X_list]
y_train  = df3.loc[~test, 'target']
y_test= df3.loc[test, 'target']

In [150]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [151]:
myKNN = KNeighborsClassifier(n_neighbors=5)

In [152]:
myKNN.fit(X_train, y_train)

KNeighborsClassifier()

In [153]:
y_pred = myKNN.predict(X_test)

In [154]:
accuracy_score(y_test, y_pred)

0.7127130681818182