## ëª¨ì˜ê³ ì‚¬ 1
 í•™ì› ê·œëª¨ê°€ ì»¤ì§€ë©´ì„œ ì‹œìŠ¤í…œì„ í™•ì¥í•˜ë ¤ í•œë‹¤. í™•ì¥ ì „ í•™ì›ì˜ ë“±ë¡ëœ í•™ìƒë“¤ì˜ ì£¼ìš” ì •ë³´ë¥¼ íŒŒì•…í•˜ë ¤ í•œë‹¤.

### ì‚¬ì „ ì •ë³´
enrollment_info.csv

|ì»¬ëŸ¼|ì •ì˜|type|
|:---|:---|:---:|
|enrollment_code|í•™ìƒ ë“±ë¡ ì½”ë“œ(ê¸¸ì´6 ì•ŒíŒŒë²³ ëŒ€ë¬¸ì)|object|
|gender|ì—¬ìë©´ F, ë‚¨ìë©´ M|object|
|bonus|ìƒì |float64|
|penalty|ë²Œì |float64|
|school_code|ì†Œì† í•™êµ ì½”ë“œ|object|  

ì •ë‹µ ë° í•´ì„¤ : https://tjd229.tistory.com/20

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("../content/tjd229/enrollment_info.csv")
print(df.dtypes)
print(df.shape)
df.head()

enrollment_code     object
gender              object
bonus              float64
penalty            float64
school_code         object
dtype: object
(86550, 5)

  enrollment_code gender  bonus  penalty school_code
0          QEHRNZ      F    0.0      0.0        SWHS
1          IUGTFR      F    1.6      0.0        PYHS
2          PWJCQA      M    0.0      0.0        NKHS
3          ZYFHCX      F    5.5      0.0        NKHS
4          KIBAHX      M    0.6      0.0        MWHS

### Q1. ë‹¤ìŒ ë‹¨ê³„ì— ë”°ë¼ ë¶„ì„ì„ ìˆ˜í–‰í•˜ê³  ì§ˆë¬¸ì— ë‹µí•˜ì‹œì˜¤.
ë‹¨ê³„ 1 : ê° í•™ìƒë“¤ì˜ ìƒì (bonus)ì—ì„œ ë²Œì (penalty)ì„ ëº€ ê°’ì„ í•©ê³„ ì ìˆ˜ë¡œ ì •ì˜í•œë‹¤.  
ë‹¨ê³„ 2 : ê° í•™êµ ì½”ë“œ(school_code)ë³„ í•©ê³„ ì ìˆ˜ í‰ê· ì„ êµ¬í•˜ê³ , ì´ ì¤‘ 3ë²ˆì§¸ë¡œ í° ê°’ì„ Aë¼ê³  í•œë‹¤.  
ë‹¨ê³„ 3 : 0ë¯¸ë§Œì˜ í•©ê³„ ì ìˆ˜ëŠ” 0ìœ¼ë¡œ ë³€ê²½ í›„, ê° í•™êµ ì½”ë“œ(school_code)ë³„ í•©ê³„ ì ìˆ˜ í‰ê· ì„ êµ¬í•˜ê³ , ì´ ì¤‘ 3ë²ˆì§¸ë¡œ í° ê°’ì„ Bë¼ê³  í•œë‹¤.  

ë‹¨ê³„ 2ì—ì„œ êµ¬í•œ Aì™€ ë‹¨ê³„ 3ì—ì„œ êµ¬í•œ Bì˜ ì ˆëŒ€ê°’ ì°¨ì´ë¥¼ êµ¬í•˜ì‹œì˜¤  
â€» ê²°ê³¼ëŠ” ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ì  ì²«ì§¸ ìë¦¬ê¹Œì§€ ê¸°ìˆ í•˜ì‹œì˜¤. (ë‹µì•ˆì˜ˆì‹œ : 22.9)

In [4]:
df1 = df.copy()
df1['total'] = df1['bonus'] - df1.penalty

A = df1.groupby('school_code').total.mean().sort_values(ascending=False)[2]
A

1.8854451935775354

In [5]:

# print(df1.loc[df1['total']<0,:].total.count())

df1.loc[df1['total']<0, 'total'] = 0

# print(df1.loc[df1['total']<0,:].total.count()) 

B = df1.groupby('school_code').total.mean().sort_values(ascending=False)[2]

In [6]:
round(abs(A-B),1)

0.1

### Q2. ë°ì´í„°ì—ëŠ” ì´ 6ì¢…ë¥˜ì˜ í•™êµ ì½”ë“œ(school_code)ê°€ ìˆë‹¤. í•™ìƒë“¤ì˜ ë“±ë¡ ì½”ë“œ(enrollment_code)ì— í•™êµ ì½”ë“œ(school_code)ê°€ í¬í•¨ë˜ì–´ ìˆëŠ” ê²½ìš°, ì‹œìŠ¤í…œì— ë¬¸ì œê°€ ë°œìƒí•  ìˆ˜ ìˆì–´, ì´ë¥¼ ì‚¬ì „ì— ë°©ì§€í•˜ê³ ì í•œë‹¤. ë“±ë¡ ì½”ë“œ(enrollment_code)ì— í•™êµ ì½”ë“œ(school_code)ê°€ í¬í•¨ë˜ì–´ ìˆëŠ” í•™ìƒë“¤ì˜ ìˆ˜ ì´í•©ì„ êµ¬í•˜ì‹œì˜¤


â€» í•™êµ ì½”ë“œ(school_code)ê°€ **ZXCV**ì¼ ë•Œ, ë“±ë¡ ì½”ë“œ(enrollment_code)ê°€ **ZXCV**AB, A**ZXCV**B, CD**ZXCV** ë“±ì˜ ê²½ìš°ëŠ” ë“±ë¡ ì½”ë“œ(enrollment_code)ì— í•™êµ ì½”ë“œ(school_code)ê°€ í¬í•¨ë˜ì–´ ìˆë‹¤ê³  ë³¸ë‹¤.  
â€» í•™êµ ì½”ë“œ(school_code)ê°€ **ZXCV**ì¼ ë•Œ, ë“±ë¡ ì½”ë“œ(enrollment_code)ê°€ **ZX**AB**CV**ì˜ ê²½ìš°ëŠ” ë“±ë¡ ì½”ë“œ(enrollment_code)ì— í•™êµ ì½”ë“œ(school_code)ê°€ í¬í•¨ë˜ì–´ ìˆë‹¤ê³  ë³´ì§€ ì•ŠëŠ”ë‹¤.

 ğŸ‘‰ df.series.str.contains()

In [7]:
df2 = df.copy()

schools = df2['school_code'].unique().tolist()
ans = 0


for name in schools:
    mask = df2['enrollment_code'].str.contains(name)     # ìœ ë‹‰í¬í•œ school_code (6ê°œ) * ëª¨ë“  í–‰ (Serise) -> boolean Series 6 ê°œ
    ans+=mask.sum()                                      # mask (boolean series) ì˜ sum() ì€ True ê°¯ìˆ˜
print(ans)

print(type(df2['enrollment_code'].str.contains(name)))   # boolean series ì„ ë¦¬í„´í•œë‹¤. 

# school_codeì˜ ë¦¬ìŠ¤íŠ¸ë¥¼ ë§Œë“¤ì–´ ê° í–‰(row) enrollment_codeì— ë¦¬ìŠ¤íŠ¸ ê°’ì´ ìˆëŠ”ì§€ í™•ì¸ 
# ì¦‰, shool_code ì¤‘ í•˜ë‚˜ë¼ë„ ì–´ë–¤ enrollment_code ì— í¬í•¨ë˜ì§€ ì•Šì•„ì•¼ í•œë‹¤.. 
# df2.loc[df2.loc[:,'enrollment_code'].str.contains(schools)] -> contains() ëŠ” ë¦¬ìŠ¤íŠ¸ë¥¼ ì²˜ë¦¬í•  ìˆ˜ ì—†ë‹¤.
# True ê°¯ìˆ˜ : https://stackoverflow.com/questions/53550988/count-occurrences-of-false-or-true-in-a-column-in-pandas

3
<class 'pandas.core.series.Series'>

- ğŸ‘‰ ë‹¤ë¥¸ ë°©ì‹ì˜ ë¬¸ì œ ëŒ€ì‘
í•´ë‹¹ í–‰ì˜ school_code ì˜ ê°’ë§Œ ë™ì¼ í•´ë‹¹ í–‰ì˜ enrollmetn_code ì— ìˆëŠ”ì§€ í™•ì¸  
ì°¸ê³  ì‚¬ì´íŠ¸  
http://ltlkodae.tistory.com/10   
http://bio-info.tistory.com/149

- iterrows()

In [8]:

df2_1 = df.copy()

ans2 = 0
ans2_list=[]

for indX, colX in df2_1.iterrows():
    if colX.school_code in colX.enrollment_code:     # row[1].school_code , row[1].enrollment_code
        ans2 = ans2 +1 
        ans2_list.append(indX)                       # row[0]
print(ans2)
print(ans2_list)

# itertuples() ì— ë¹„í•´ ì—„ì²¨ëŠë¦¬ë‹¤. 
# ë”ì´ìƒ ë³¼ì¼ì´ ì—†ì„ê¹Œ?

0
[]

- itertuples()

In [9]:

df2_2 = df.copy()

ans3 = 0
ans3_list =[]

for row in df2_2.itertuples():
    if row.school_code in row.enrollment_code:  # row.school_code ëŠ” <class 'str'> íƒ€ì… ì´ë¼ì„œ "in" ì‚¬ìš© (contains() ëª»ì”€)
        ans3 = ans3 +1
        ans3_list.append(row.Index)             # í•´ë‹¹ í–‰ì„ list ì— ì—…ë°ì´íŠ¸ í•œë‹¤. ( index ê°€ ì•„ë‹ˆë‹¤.)
print(ans3)
print(ans3_list)                                # list ì¶œë ¥

df2_2.loc[ans3_list]                            # lsit ì„ ì´ìš©í•´ df ì¶œë ¥

# iterrow() ë³´ë‹¤ 33 ë°°
# index ë³´ë‹¤ 13 ë°° ë¹ ë¥´ë‹¤.

0
[]

Empty DataFrame
Columns: [enrollment_code, gender, bonus, penalty, school_code]
Index: []

- df.index loop

In [32]:

df2_3 = df.copy()

ans4 = 0

for idx in df2_3.index:
    if df2_3.at[idx, 'school_code'] in df2_3.at[idx, 'enrollment_code']:
        ans4 = ans4 +1
print(ans4)

# iterrow() ë³´ë‹¤ëŠ” ë¹ ë¥´ì§€ë§Œ, itertuples() ë³´ë‹¤ëŠ” ëŠë¦¬ë‹¤. 
# loc ë³´ë‹¤ at ì´ 2ë°° ë” ë¹ ë¥´ë‹¤.

0

- ğŸ‘‰ apply()  
```
df.apply()        : axis = 1 :  ê° í–‰ì´ ì „ë‹¬ë˜ì–´ ì—´(columns) ê°€ ê³„ì‚°ëœë‹¤. 
                    axix = 0 :  ê° ì—´ì´ ì „ë‹¬ë˜ì–´ í–‰(row) ê°€ ê³„ì‚°ëœë‹¤.
df.series.apply() : í–‰/ì—´ì˜ ê°œë³„ê°’ì´ ì „ë‹¬ëœë‹¤. 
```

In [33]:
df2_4 = df.copy()

def funX (dfX):
    if dfX.school_code in dfX.enrollment_code:          # dfX.school_code ì˜ type ì€ serise.school_code ì´ë¯€ë¡œ str ê°œë³„ê°’ì´ë‹¤. 
        return True
    else:
        return False
        
df2_4['result'] = df2_4.apply(funX, axis=1)               # dfì— ì ìš©ë˜ì—ˆìœ¼ë¡œ, ê° í–‰(series) ê°€ dfX ë¡œ ì „ë‹¬ëœë‹¤. column ì¶”ê°€ í•˜ëŠ” ê²ƒì´ë‹ˆê¹Œ axis=1
print(df2_4.head())
# print(type(df2_4.school_code))                          # df2_4.school_code ëŠ” Series ì¸ë°????
# print(df2_4.info())
print(df2_4['result'].sum())                              # result ì˜ true ê°¯ìˆ˜
list(df2_4[df2_4['result']== True ].index)

  enrollment_code gender  bonus  penalty school_code  result
0          QEHRNZ      F    0.0      0.0        SWHS   False
1          IUGTFR      F    1.6      0.0        PYHS   False
2          PWJCQA      M    0.0      0.0        NKHS   False
3          ZYFHCX      F    5.5      0.0        NKHS   False
4          KIBAHX      M    0.6      0.0        MWHS   False
0

[]

### Q3. í•™ìƒë“¤ì˜ í•™ì—…ì„±ì·¨ë„ë¥¼ ë¶„ì„í•˜ê¸° ìœ„í•´ êµ°ì§‘í™”ë¥¼ í•˜ë ¤ê³  í•œë‹¤. ë‹¤ìŒ ë‹¨ê³„ì— ë”°ë¼ ë¶„ì„ì„ ìˆ˜í–‰í•˜ê³  ì§ˆë¬¸ì— ë‹µí•˜ì‹œì˜¤.

ë‹¨ê³„ 1 : ë“±ë¡ ì½”ë“œ(enrollment_code)ì— 'HS'ê°€ í¬í•¨ë˜ì–´ ìˆì§€ ì•Šì€ í•™ìƒë“¤ì„ ì œê±°í•œë‹¤.

In [66]:
df3 = df.copy()

print(df3.loc[df3.enrollment_code.str.contains('HS'),'enrollment_code'].count())
df3.drop(df3.loc[df3.enrollment_code.str.contains('HS'),'enrollment_code'].index,inplace=True)

661

In [64]:
print(df3.loc[df3.enrollment_code.str.contains('HS'),'enrollment_code'].count())

0

ë‹¨ê³„ 2 : ì„±ë³„(gender) ì»¬ëŸ¼ì—ì„œ "M"ì„ 0, "F"ë¥¼ 1ë¡œ ë³€í™˜í•œë‹¤.

 ğŸ‘‰ df.serise.replace({ A:B, C:D })

In [76]:
print(df3.loc[(df3.gender == 'M') | (df3.gender == "F"),'gender'].count())
df3.gender.replace({'M':0, 'F':1},inplace=True)
print(df3.loc[(df3.gender == 'M') | (df3.gender == "F"),'gender'].count())

85889
0

In [78]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85889 entries, 0 to 86549
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   enrollment_code  85889 non-null  object
 1   gender           85889 non-null  int64
 2   bonus            85889 non-null  float64
 3   penalty          85889 non-null  float64
 4   school_code      85889 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 3.9+ MB

ë‹¨ê³„ 3 : ë…ë¦½ ë³€ìˆ˜ë“¤ì— ëŒ€í•´ K-means êµ°ì§‘ ë¶„ì„ì„ ìˆ˜í–‰í•œë‹¤. ì´ ë•Œ, êµ°ì§‘ ìˆ˜ëŠ” 2~9ê°œ ì¤‘ K-means Silhouette ë¥¼ í†µí•´ êµ¬í•˜ê³ , ì´ ì¤‘ ë‘ ë²ˆì§¸ë¡œ ë†’ì€ scoreë¥¼ ìµœì ì˜ Kë¡œ ì„¤ì •í•œë‹¤.  
- ë…ë¦½ ë³€ìˆ˜(ì´ 3ê°œ) : ì„±ë³„(gender), ìƒì (bonus), ë²Œì (penalty)

In [77]:
df3.head()

  enrollment_code  gender  bonus  penalty school_code
0          QEHRNZ       1    0.0      0.0        SWHS
1          IUGTFR       1    1.6      0.0        PYHS
2          PWJCQA       0    0.0      0.0        NKHS
3          ZYFHCX       1    5.5      0.0        NKHS
4          KIBAHX       0    0.6      0.0        MWHS


ë‹¨ê³„ 4 : ë‹¨ê³„ 3ì—ì„œ ìµœì ì˜ Kë¡œ ë„ì¶œí•œ ê° êµ°ì§‘ì— ì†Œì†ëœ í•™ìƒ ìˆ˜ì˜ ë¹„ìœ¨ ì¤‘, ê°€ì¥ í° ê°’ì„ êµ¬í•˜ì‹œì˜¤  

â€» ê²°ê³¼ëŠ” ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ê¸°ìˆ í•˜ì‹œì˜¤. (ë‹µì•ˆì˜ˆì‹œ : 2.29)

#### í•„ìš” ë¼ì´ë¸ŒëŸ¬ë¦¬ í•¨ìˆ˜,í´ë˜ìŠ¤ ë° ì„¤ì •ê°’ ëª©ë¡  

from sklearn.cluster import KMeans  
from sklearn.metrics import silhouette_score  
random_state = 229  
ë¬¸ì œ ì§€ì‹œ ì™¸ Default ê°’ ì‚¬ìš©