## ëª¨ì˜ê³ ì‚¬ 1
 í•™ì› ê·œëª¨ê°€ ì»¤ì§€ë©´ì„œ ì‹œìŠ¤í…œì„ í™•ì¥í•˜ë ¤ í•œë‹¤. í™•ì¥ ì „ í•™ì›ì˜ ë“±ë¡ëœ í•™ìƒë“¤ì˜ ì£¼ìš” ì •ë³´ë¥¼ íŒŒì•…í•˜ë ¤ í•œë‹¤.

### ì‚¬ì „ ì •ë³´
enrollment_info.csv

|ì»¬ëŸ¼|ì •ì˜|type|
|:---|:---|:---:|
|enrollment_code|í•™ìƒ ë“±ë¡ ì½”ë“œ(ê¸¸ì´6 ì•ŒíŒŒë²³ ëŒ€ë¬¸ì)|object|
|gender|ì—¬ìë©´ F, ë‚¨ìë©´ M|object|
|bonus|ìƒì |float64|
|penalty|ë²Œì |float64|
|school_code|ì†Œì† í•™êµ ì½”ë“œ|object|  

ì •ë‹µ ë° í•´ì„¤ : https://tjd229.tistory.com/20

In [32]:
import numpy as np
import pandas as pd

In [33]:
df = pd.read_csv("../content/tjd229/enrollment_info.csv")
print(df.dtypes)
print(df.shape)
df.head()

enrollment_code     object
gender              object
bonus              float64
penalty            float64
school_code         object
dtype: object
(86550, 5)

  enrollment_code gender  bonus  penalty school_code
0          QEHRNZ      F    0.0      0.0        SWHS
1          IUGTFR      F    1.6      0.0        PYHS
2          PWJCQA      M    0.0      0.0        NKHS
3          ZYFHCX      F    5.5      0.0        NKHS
4          KIBAHX      M    0.6      0.0        MWHS

### Q1. ë‹¤ìŒ ë‹¨ê³„ì— ë”°ë¼ ë¶„ì„ì„ ìˆ˜í–‰í•˜ê³  ì§ˆë¬¸ì— ë‹µí•˜ì‹œì˜¤.
ë‹¨ê³„ 1 : ê° í•™ìƒë“¤ì˜ ìƒì (bonus)ì—ì„œ ë²Œì (penalty)ì„ ëº€ ê°’ì„ í•©ê³„ ì ìˆ˜ë¡œ ì •ì˜í•œë‹¤.  
ë‹¨ê³„ 2 : ê° í•™êµ ì½”ë“œ(school_code)ë³„ í•©ê³„ ì ìˆ˜ í‰ê· ì„ êµ¬í•˜ê³ , ì´ ì¤‘ 3ë²ˆì§¸ë¡œ í° ê°’ì„ Aë¼ê³  í•œë‹¤.  
ë‹¨ê³„ 3 : 0ë¯¸ë§Œì˜ í•©ê³„ ì ìˆ˜ëŠ” 0ìœ¼ë¡œ ë³€ê²½ í›„, ê° í•™êµ ì½”ë“œ(school_code)ë³„ í•©ê³„ ì ìˆ˜ í‰ê· ì„ êµ¬í•˜ê³ , ì´ ì¤‘ 3ë²ˆì§¸ë¡œ í° ê°’ì„ Bë¼ê³  í•œë‹¤.  

ë‹¨ê³„ 2ì—ì„œ êµ¬í•œ Aì™€ ë‹¨ê³„ 3ì—ì„œ êµ¬í•œ Bì˜ ì ˆëŒ€ê°’ ì°¨ì´ë¥¼ êµ¬í•˜ì‹œì˜¤  
â€» ê²°ê³¼ëŠ” ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ì  ì²«ì§¸ ìë¦¬ê¹Œì§€ ê¸°ìˆ í•˜ì‹œì˜¤. (ë‹µì•ˆì˜ˆì‹œ : 22.9)

In [34]:
df1 = df.copy()
df1['total'] = df1['bonus'] - df1.penalty

A = df1.groupby('school_code').total.mean().sort_values(ascending=False)[2]     # .iat[2,] ì™€ ê°™ë‹¤. 
A

1.8854451935775354

In [35]:
df1.groupby('school_code').total.mean().index

# groupby ëœ column ëª…ìœ¼ë¡œ indexê°€ ìƒì„±ëœë‹¤.

Index(['HJHS', 'MWHS', 'NKHS', 'PYHS', 'SSHS', 'SWHS'], dtype='object', name='school_code')

In [36]:

print(df1.loc[df1['total']<0,:].total.count())

df1.loc[df1['total']<0, 'total'] = 0
# df1['total'] = np.where(df1['total']<0, 0, df1['total'] )

print(df1[df1['total']<0].shape)

B = df1.groupby('school_code').total.mean().sort_values(ascending=False)[2]  # .iat[2,] ì™€ ê°™ë‹¤.

7678
(0, 6)

In [37]:
abs(A-B).round(1)

0.1

### Q2. ë°ì´í„°ì—ëŠ” ì´ 6ì¢…ë¥˜ì˜ í•™êµ ì½”ë“œ(school_code)ê°€ ìˆë‹¤. í•™ìƒë“¤ì˜ ë“±ë¡ ì½”ë“œ(enrollment_code)ì— í•™êµ ì½”ë“œ(school_code)ê°€ í¬í•¨ë˜ì–´ ìˆëŠ” ê²½ìš°, ì‹œìŠ¤í…œì— ë¬¸ì œê°€ ë°œìƒí•  ìˆ˜ ìˆì–´, ì´ë¥¼ ì‚¬ì „ì— ë°©ì§€í•˜ê³ ì í•œë‹¤. ë“±ë¡ ì½”ë“œ(enrollment_code)ì— í•™êµ ì½”ë“œ(school_code)ê°€ í¬í•¨ë˜ì–´ ìˆëŠ” í•™ìƒë“¤ì˜ ìˆ˜ ì´í•©ì„ êµ¬í•˜ì‹œì˜¤


â€» í•™êµ ì½”ë“œ(school_code)ê°€ **ZXCV**ì¼ ë•Œ, ë“±ë¡ ì½”ë“œ(enrollment_code)ê°€ **ZXCV**AB, A**ZXCV**B, CD**ZXCV** ë“±ì˜ ê²½ìš°ëŠ” ë“±ë¡ ì½”ë“œ(enrollment_code)ì— í•™êµ ì½”ë“œ(school_code)ê°€ í¬í•¨ë˜ì–´ ìˆë‹¤ê³  ë³¸ë‹¤.  
â€» í•™êµ ì½”ë“œ(school_code)ê°€ **ZXCV**ì¼ ë•Œ, ë“±ë¡ ì½”ë“œ(enrollment_code)ê°€ **ZX**AB**CV**ì˜ ê²½ìš°ëŠ” ë“±ë¡ ì½”ë“œ(enrollment_code)ì— í•™êµ ì½”ë“œ(school_code)ê°€ í¬í•¨ë˜ì–´ ìˆë‹¤ê³  ë³´ì§€ ì•ŠëŠ”ë‹¤.

ğŸ‘‰  df.series.str.contains()

In [38]:
df2 = df.copy()

schools = df2['school_code'].unique().tolist()
ans = 0


for name in schools:
    mask = df2['enrollment_code'].str.contains(name)     # ìœ ë‹‰í¬í•œ school_code (6ê°œ) * enrollment_codeì˜ ëª¨ë“  row (Serise) -> boolean Series 86550ê°œ, 6ë²ˆ
    ans+=mask.sum()                                      # mask (boolean series) ì˜ sum() ì€ True ê°¯ìˆ˜
print(ans)

print(type(df2['enrollment_code'].str.contains(name)))   # boolean series ì„ ë¦¬í„´í•œë‹¤. 

# school_codeì˜ ë¦¬ìŠ¤íŠ¸ë¥¼ ë§Œë“¤ì–´ ê° í–‰(row) enrollment_codeì— ë¦¬ìŠ¤íŠ¸ ê°’ì´ ìˆëŠ”ì§€ í™•ì¸ 
# ì¦‰, shool_code ì¤‘ í•˜ë‚˜ë¼ë„ ì–´ë–¤ enrollment_code ì—ë„ í¬í•¨ë˜ì§€ ì•Šì•„ì•¼ í•œë‹¤.  
# df2.loc[df2.loc[:,'enrollment_code'].str.contains(schools)] -> contains() ëŠ” ë¦¬ìŠ¤íŠ¸ë¥¼ ì²˜ë¦¬í•  ìˆ˜ ì—†ë‹¤.
# True ê°¯ìˆ˜ : https://stackoverflow.com/questions/53550988/count-occurrences-of-false-or-true-in-a-column-in-pandas

3
<class 'pandas.core.series.Series'>

- ğŸ‘‰ ë‹¤ë¥¸ ë°©ì‹ì˜ ë¬¸ì œ ëŒ€ì‘
í•´ë‹¹ í–‰ì˜ school_code ì˜ ê°’ë§Œ ë™ì¼ í•´ë‹¹ í–‰ì˜ enrollmetn_code ì— ìˆëŠ”ì§€ í™•ì¸  
ì°¸ê³  ì‚¬ì´íŠ¸  
http://ltlkodae.tistory.com/10   
http://bio-info.tistory.com/149

- iterrows()  

row[0] : index  
row[1] : column  

for indx, colx in df.iterrow()

In [39]:

df2_1 = df.copy()

ans2 = 0
ans2_list=[]

for indX, colX in df2_1.iterrows():
    if colX.school_code in colX.enrollment_code:     # row[1].school_code , row[1].enrollment_code
        ans2 = ans2 +1 
        ans2_list.append(indX)                       # row[0]
print(ans2)
print(ans2_list)

# itertuples() ì— ë¹„í•´ ì—„ì²¨ëŠë¦¬ë‹¤. 
# ë”ì´ìƒ ë³¼ì¼ì´ ì—†ì„ê¹Œ?

0
[]

- itertuples()  

row.Index : ì¸ë±ìŠ¤   
row.col   : column  

for row in df.itertupes()

In [40]:

df2_2 = df.copy()

ans3 = 0
ans3_list =[]
df2_2['result'] = 0

for row in df2_2.itertuples():
    if row.school_code in row.enrollment_code:  # row.school_code ëŠ” <class 'str'> íƒ€ì… ì´ë¼ì„œ "in" ì‚¬ìš© (contains() ëª»ì”€)
        ans3 = ans3 +1
        # ans3_list.append(row.Index)             # í•´ë‹¹ í–‰ì„ list ì— ì—…ë°ì´íŠ¸ í•œë‹¤. ( index ê°€ ì•„ë‹ˆë‹¤.)
        df2_2.loc[row.Index,'result'] = True      # í•´ë‹¹ í–‰ 'result' col ì— ê²°ê³¼ ì…ë ¥
print(ans3)            
print(df2_2['result'].sum())

print(ans3_list)                                # list ì¶œë ¥
df2_2.loc[ans3_list]                            # lsit ì„ ì´ìš©í•´ df ì¶œë ¥ ì •ë‹µì´ 0 ì´ë¼ì„œ ì¶œë ¥ë˜ëŠ” row ê°€ ì—†ë‹¤.

# iterrow() ë³´ë‹¤ 33 ë°°
# index ë³´ë‹¤ 13 ë°° ë¹ ë¥´ë‹¤.

0
0
[]

Empty DataFrame
Columns: [enrollment_code, gender, bonus, penalty, school_code, result]
Index: []

- df.index/columns loop

```for idx in df.index```                       # index (ê° row ) ë³„ ê³„ì‚°   
```for idx in df.columns```                      # column ë³„ ê³„ì‚°  
```for idx in df.unique_column_values_list```    # colum ê°’ì´ ë™ì¼í•œ slicing ëœ row ë³„ (ê·¸ë£¹) ê³„ì‚°

In [41]:

df2_3 = df.copy()

ans4 = 0

for idx in df2_3.index:
    if df2_3.at[idx, 'school_code'] in df2_3.at[idx, 'enrollment_code']:
        ans4 = ans4 +1
print(ans4)

# iterrow(), apply() ë³´ë‹¤ëŠ” ë¹ ë¥´ì§€ë§Œ, itertuples() ë³´ë‹¤ëŠ” ëŠë¦¬ë‹¤. 
# loc ë³´ë‹¤ at ì´ 2ë°° ë” ë¹ ë¥´ë‹¤.

0

- ğŸ‘‰ apply()  
```
df.apply()        : axix = 0 :  ê° ì—´ (columns) ì´ ì „ë‹¬ë˜ì–´ í–‰(row) ê°€ ê³„ì‚°ëœë‹¤. (default)
                    axis = 1 :  ê° í–‰ (row) ì´ ì „ë‹¬ë˜ì–´ ì—´(columns) ê°€ ê³„ì‚°ëœë‹¤. 
                    
df.series.apply() : í–‰/ì—´ì˜ ê°œë³„ê°’ì´ ì „ë‹¬ëœë‹¤. 
```

In [42]:
df2_4 = df.copy()

def funX (dfX :pd.DataFrame) -> bool:
    if dfX.school_code in dfX.enrollment_code:          # dfX.school_code ì˜ type ì€ serise.school_code ì´ë¯€ë¡œ str ê°œë³„ê°’ì´ë‹¤. 
        return True                                     # ì „ë‹¬ëœ row(í–‰)ì˜ df2_4['result'] ì— ë¦¬í„´í•  ê°’
    else:
        return False
        
df2_4['result'] = df2_4.apply(funX, axis=1)               # dfì— ì ìš©ë˜ì—ˆìœ¼ë¡œ, row (í–‰) ìˆœíšŒí•˜ëŠ” ê²ƒì´ë‹ˆê¹Œ axis=1 ìœ¼ë¡œ row (í–‰) ì „ë‹¬, column ê³„ì‚°

print(df2_4.head())
# print(type(df2_4.school_code))                          # df2_4.school_code ëŠ” Series ì¸ë°????
# print(df2_4.info())
print(df2_4['result'].sum())                              # result ì˜ true ê°¯ìˆ˜
list(df2_4[df2_4['result']== True ].index)

  enrollment_code gender  bonus  penalty school_code  result
0          QEHRNZ      F    0.0      0.0        SWHS   False
1          IUGTFR      F    1.6      0.0        PYHS   False
2          PWJCQA      M    0.0      0.0        NKHS   False
3          ZYFHCX      F    5.5      0.0        NKHS   False
4          KIBAHX      M    0.6      0.0        MWHS   False
0

[]

### Q3. í•™ìƒë“¤ì˜ í•™ì—…ì„±ì·¨ë„ë¥¼ ë¶„ì„í•˜ê¸° ìœ„í•´ êµ°ì§‘í™”ë¥¼ í•˜ë ¤ê³  í•œë‹¤. ë‹¤ìŒ ë‹¨ê³„ì— ë”°ë¼ ë¶„ì„ì„ ìˆ˜í–‰í•˜ê³  ì§ˆë¬¸ì— ë‹µí•˜ì‹œì˜¤.

ë‹¨ê³„ 1 : ë“±ë¡ ì½”ë“œ(enrollment_code)ì— 'HS'ê°€ í¬í•¨ë˜ì–´ ìˆì§€ ì•Šì€ í•™ìƒë“¤ì„ ì œê±°í•œë‹¤.

ğŸ‘‰ í–‰ ì„ ë³„ (slicing)

drop ë³´ë‹¤ slicing ìœ¼ë¡œ í–‰ì„ ê°€ì ¸ì˜¤ëŠ” ê²ƒì´ ë” ê°„ë‹¨í•˜ë‹¤.

In [43]:
df3 = df.copy()

print(df3.loc[df3.enrollment_code.str.contains('HS'),'enrollment_code'].count())

# df3.drop(df3.loc[~(df3.enrollment_code.str.contains('HS')),'enrollment_code'].index,inplace=True)
df3 = df3.loc[(df3.enrollment_code.str.contains('HS')),:]

661

In [44]:
df3.shape

(661, 5)

ë‹¨ê³„ 2 : ì„±ë³„(gender) ì»¬ëŸ¼ì—ì„œ "M"ì„ 0, "F"ë¥¼ 1ë¡œ ë³€í™˜í•œë‹¤.

 ğŸ‘‰ df.serise.replace({ A:B, C:D })  
ì„   
df3.gender = np.where((df3.gender == 'M'), 0, 1)  
ìœ¼ë¡œ ë°”ê¿€ìˆ˜ ìˆë‹¤.   
2ê°œ ì´ìƒì¸ ê²½ìš° replace ì‚¬ìš©

In [45]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 661 entries, 212 to 86502
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   enrollment_code  661 non-null    object
 1   gender           661 non-null    object
 2   bonus            661 non-null    float64
 3   penalty          661 non-null    float64
 4   school_code      661 non-null    object
dtypes: float64(2), object(3)
memory usage: 31.0+ KB

ğŸ‘‰ df.series = np.where(df.series ì¡°ê±´, true, false)

repleace, slicing ì´ ìœ ë¦¬í•  ë•Œë„ ìˆë‹¤.

In [46]:
print(df3.loc[(df3.gender == 'M') | (df3.gender == "F"),'gender'].count())

# df3.gender.replace({'M':0, 'F':1},inplace=True) 
#  
# df3.loc[(df3.gender == 'M'),'gender'] = 0
# df3.loc[(df3.gender == "F"),'gender'] = 1
#
df3.gender = np.where((df3.gender == 'M'), 0, 1)   # 2ê°œì¼ ê²½ìš° ìœ ë¦¬ 
print(df3.loc[(df3.gender == 'M') | (df3.gender == "F"),'gender'].count())

661
0

ë‹¨ê³„ 3 : ë…ë¦½ ë³€ìˆ˜ë“¤ì— ëŒ€í•´ K-means êµ°ì§‘ ë¶„ì„ì„ ìˆ˜í–‰í•œë‹¤. ì´ ë•Œ, êµ°ì§‘ ìˆ˜ëŠ” 2~9ê°œ ì¤‘ K-means Silhouette ë¥¼ í†µí•´ êµ¬í•˜ê³ , ì´ ì¤‘ ë‘ ë²ˆì§¸ë¡œ ë†’ì€ scoreë¥¼ ìµœì ì˜ Kë¡œ ì„¤ì •í•œë‹¤.  
- ë…ë¦½ ë³€ìˆ˜(ì´ 3ê°œ) : ì„±ë³„(gender), ìƒì (bonus), ë²Œì (penalty)

In [47]:
df3.head()

    enrollment_code  gender  bonus  penalty school_code
212          HSJZSV       1    2.7      0.0        NKHS
352          GHSBRB       0    1.7      0.0        PYHS
466          QCMHSO       0    1.9      0.0        HJHS
515          QCUGHS       1    0.6      0.0        PYHS
825          VFEHSR       1    0.0      1.0        HJHS

In [48]:
X_train = df3[['gender','bonus','penalty']]

silhouette_score(df,labels)

In [49]:
from sklearn.cluster import KMeans  
from sklearn.metrics import silhouette_score 

K = range(2,10)     # 2,3,4,5,6,7,8,9
si_list =[]

for k in K:
    my_si = KMeans(n_clusters=k, init='k-means++', n_init=10, random_state=229)
    my_si.fit(X_train)
    si_list.append(silhouette_score(X=X_train, labels=my_si.labels_))   # my_si.predict(X_train)

2ë²ˆì§¸ë¡œ í° sil_coef ì˜ k ê°’ì„ ì°¾ëŠ”ë‹¤.

In [50]:
si_df = pd.DataFrame({ "K": K,
                      "sil_coef": si_list})
si_df.sort_values(by='sil_coef',ascending=False).iat[1,0]   # ê³¼ iloc[1,0] ì€ 2ë²ˆì§¸ row ì´ì§€ë§Œ loc[1,0] ì€  1ë²ˆ row (3ë²ˆì§¸) ì´ë‹¤.

8

In [51]:
si_df

   K  sil_coef
0  2  0.492106
1  3  0.406293
2  4  0.367341
3  5  0.378843
4  6  0.381971
5  7  0.395668
6  8  0.408609
7  9  0.405521


ë‹¨ê³„ 4 : ë‹¨ê³„ 3ì—ì„œ ìµœì ì˜ Kë¡œ ë„ì¶œí•œ ê° êµ°ì§‘ì— ì†Œì†ëœ í•™ìƒ ìˆ˜ì˜ ë¹„ìœ¨ ì¤‘, ê°€ì¥ í° ê°’ì„ êµ¬í•˜ì‹œì˜¤  

â€» ê²°ê³¼ëŠ” ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ê¸°ìˆ í•˜ì‹œì˜¤. (ë‹µì•ˆì˜ˆì‹œ : 2.29)

KMean

In [52]:
my_KM = KMeans(n_clusters=8, init='k-means++', n_init=10, random_state=229)
my_KM.fit(X_train)
df3['cluster'] = my_KM.labels_

In [53]:
df3.head()

    enrollment_code  gender  bonus  penalty school_code  cluster
212          HSJZSV       1    2.7      0.0        NKHS        4
352          GHSBRB       0    1.7      0.0        PYHS        0
466          QCMHSO       0    1.9      0.0        HJHS        0
515          QCUGHS       1    0.6      0.0        PYHS        2
825          VFEHSR       1    0.0      1.0        HJHS        5

In [54]:
df3.cluster.value_counts(normalize=True)#.iat[0].round(2)

# reset_index í•´ì„œ df[0] í•˜ë˜ê°€
# ë°”ë¡œ iat[0]

7    0.157337
4    0.154312
0    0.148260
6    0.142209
2    0.127080
3    0.122542
1    0.093797
5    0.054463
Name: cluster, dtype: float64

sort_values(asceding = False).iat[0]  

normalize (ë¹„ìœ¨) ëŠ” ê°’ì„ ì •ë ¬í•˜ì—¬ í‘œì‹œ í•˜ë¯€ë¡œ ì²«ë²ˆì§¸ ê°’ì„ ì„ íƒ  (0ë²ˆ at[0], loc[0] ì´ ì•„ë‹ˆë‹¤.)  
ê°€ì¥í° ê°’ ì°¾ê¸° max() ì„ ì‚¬ìš©í•˜ì  
3ë²ˆì§¸ë¡œ í°ê°’ ì°¾ê¸° : sort_values(asceding = False).iat[2]

ğŸ‘‰ Reset_index(drop=True) ì„ ì´ìš©í•´ì„œ row 0ë²ˆì„ ì°¾ì„ ìˆ˜ ìˆë‹¤.  
```df3['cluster'].value_counts(normalize=True).reset_index(drop=True)[0].round(2)```

In [56]:
df3['cluster'].value_counts(normalize=True).reset_index(drop=True)#[0].round(2)

0    0.157337
1    0.154312
2    0.148260
3    0.142209
4    0.127080
5    0.122542
6    0.093797
7    0.054463
Name: cluster, dtype: float64

#### í•„ìš” ë¼ì´ë¸ŒëŸ¬ë¦¬ í•¨ìˆ˜,í´ë˜ìŠ¤ ë° ì„¤ì •ê°’ ëª©ë¡  

from sklearn.cluster import KMeans  
from sklearn.metrics import silhouette_score  
random_state = 229  
ë¬¸ì œ ì§€ì‹œ ì™¸ Default ê°’ ì‚¬ìš©