## 4ê°œì›” ê°„ s-ë§ˆíŠ¸ì˜ ì˜ìˆ˜ì¦ ë°ì´í„°ë¥¼ ì´ìš©í•˜ì—¬ ë§ˆì¼€íŒ… ì „ëµì„ ìˆ˜ë¦½í•˜ë ¤ í•œë‹¤.

s_mart.csv

|ì»¬ëŸ¼|ì •ì˜|type|
|:---|:---|:---:|
|goods|ìƒí’ˆ êµ¬ë§¤ ìˆ˜|int64|
|purchases|ê²°ì œ ì´ ê¸ˆì•¡|float64|
|parking|ì£¼ì°¨ ì—¬ë¶€ (ê°’ì´ 0ì´ë©´ ì£¼ì°¨í•˜ì§€ ì•ŠìŒ, 1ì´ë©´ ì£¼ì°¨í•˜ì˜€ìŒ)|int64|
|rental_bag|ì¥ë°”êµ¬ë‹ˆ ëŒ€ì—¬ ì—¬ë¶€(ê°’ì´ 0ì´ë©´ ëŒ€ì—¬í•˜ì§€ ì•ŠìŒ, 1ì´ë©´ ì†Œí˜• ì‚¬ì´ì¦ˆ ëŒ€ì—¬, 2ë©´ ëŒ€í˜• ì‚¬ì´ì¦ˆ ëŒ€ì—¬)|int64|
|date|ê²°ì œ ë‚ ì§œ|object|  

ì •ë‹µ ë° í•´ì„¤ : https://tjd229.tistory.com/21

In [238]:
import pandas as pd
import numpy as np

df = pd.read_csv('../content/tjd229/s_mart.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8043 entries, 0 to 8042
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   goods       8043 non-null   int64
 1   purchases   6654 non-null   float64
 2   parking     8043 non-null   int64
 3   rental_bag  8043 non-null   int64
 4   date        8043 non-null   object
dtypes: float64(1), int64(3), object(1)
memory usage: 314.3+ KB

In [239]:
df.shape

(8043, 5)

In [240]:
df.describe()

             goods     purchases      parking   rental_bag
count  8043.000000  6.654000e+03  8043.000000  8043.000000
mean     15.474326  1.548129e+05     0.486137     1.202785
std       9.249488  1.675084e+05     0.499839     0.872374
min       0.000000  0.000000e+00     0.000000     0.000000
25%       7.000000  5.190750e+04     0.000000     0.000000
50%      15.000000  1.080450e+05     0.000000     2.000000
75%      23.000000  1.858050e+05     1.000000     2.000000
max      31.000000  1.430040e+06     1.000000     2.000000

In [241]:
df.head()

   goods  purchases  parking  rental_bag        date
0     25    96120.0        0           2  2023-02-07
1     13    49710.0        0           2  2022-11-18
2     28   247380.0        1           2  2023-02-20
3      3   174430.0        1           0  2022-12-10
4      8    35510.0        0           1  2022-11-19

### Q1. ì—¬ëŸ¬ ë³€ìˆ˜ê°„ ìƒê´€ê´€ê³„ë¥¼ í™•ì¸í•˜ê³ ì í•œë‹¤. ìƒí’ˆ êµ¬ë§¤ ìˆ˜(goods), ê²°ì œ ì´ ê¸ˆì•¡(purchases), ì£¼ì°¨ ì—¬ë¶€(parking), ì¥ë°”êµ¬ë‹ˆ ëŒ€ì—¬ ì—¬ë¶€(rental_bag)ê°„ í”¼ì–´ìŠ¨ ìƒê´€ë¶„ì„ì„ ìˆ˜í–‰í•˜ê³  ê·¸ ê²°ê³¼ ì¤‘ ìƒê´€ê³„ìˆ˜ ì ˆëŒ€ê°’ì´ ê°€ì¥ í° ê°’ì„ êµ¬í•˜ì‹œì˜¤
â€» ê²°ì¸¡ê°’ì´ í¬í•¨ëœ ë°ì´í„°ëŠ” ì œê±°í•œ í›„ì— ìƒê´€ë¶„ì„ì„ ìˆ˜í–‰í•˜ì‹œì˜¤  
â€» ì •ë‹µì€ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ì  ì²«ì§¸ ìë¦¬ê¹Œì§€ ì¶œë ¥í•˜ì‹œì˜¤.
(ì •ë‹µ ì˜ˆì‹œ: 22.9)

In [242]:
df1 = df.copy()

df1.isna().sum()   

# purchases ì—ë§Œ ê²°ì¸¡ ì¡´ì¬

goods            0
purchases     1389
parking          0
rental_bag       0
date             0
dtype: int64

In [243]:
df1_null = df1.loc[df1.purchases.notnull(),]

print(df1_null.shape)
df1_null.isna().sum()

(6654, 5)

goods         0
purchases     0
parking       0
rental_bag    0
date          0
dtype: int64

In [244]:
round(abs(df1_null.corr(method='pearson')).goods.sort_values(ascending = False)[1],1)

# goods ê¸°ì¤€ìœ¼ë¡œ sort í•´ì„œ ì œì¼ í°ìˆ˜

0.5

In [245]:
(abs(df1_null.corr(method='pearson')).goods.sort_values(ascending = False)).index.values[1]

# goods ì™€ ìƒê´€ê´€ê³„ê°€ ì œì¼ í°ìˆ˜ë¥¼ ê°–ì€ column

'rental_bag'

### Q2. íŠ¹ì • ë‚ ì§œ ì‚¬ì´ì˜ ê²°ì œ ì´ ê¸ˆì•¡(purchases) í‰ê· ì„ êµ¬í•˜ë ¤ê³  í•œë‹¤. ë‹¤ìŒ ë‹¨ê³„ì— ë”°ë¼ ë¶„ì„ì„ ìˆ˜í–‰í•˜ê³  ì§ˆë¬¸ì— ë‹µí•˜ì‹œì˜¤.

ë‹¨ê³„ 1 : ê²°ì¸¡ê°’(Null)ì´ í¬í•¨ëœ ëª¨ë“  í–‰ì„ ì œê±°í•˜ì‹œì˜¤  
ë‹¨ê³„ 2 : ë‹¨ê³„ 1ì„ ìˆ˜í–‰í•œ ë°ì´í„°ì—ì„œ ê²°ì œ ì´ ê¸ˆì•¡(purchases)ì´ 49710ì¸ ë‚ ì§œ st, ê²°ì œ ì´ ê¸ˆì•¡(purchases)ì´ 96120ì¸ ë‚ ì§œ edë¥¼ êµ¬í•œë‹¤.  
- stì™€ ed ì¡°ê±´ì„ ë§Œì¡±í•˜ëŠ” ë°ì´í„°ëŠ” ìœ ì¼í•˜ë‹¤.

ë‹¨ê³„ 3 : ë‹¨ê³„ 2ì—ì„œ êµ¬í•œ stì™€ ed ë‚ ì§œ ì‚¬ì´ì˜ ê²°ì œ ì´ ê¸ˆì•¡(purchases) í‰ê· ì„ êµ¬í•˜ì‹œì˜¤(stì™€ ed ë‚ ë„ í¬í•¨í•œë‹¤.)  
  
â€» ì •ë‹µì€ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ì  ì…‹ì§¸ ìë¦¬ê¹Œì§€ ì¶œë ¥í•˜ì‹œì˜¤.
(ì •ë‹µ ì˜ˆì‹œ: 0.229)

In [321]:
df2 =df.copy()
df2.dropna(how ='any',inplace=True)
df2.isnull().sum()

goods         0
purchases     0
parking       0
rental_bag    0
date          0
dtype: int64

In [322]:
df2.tail()

      goods  purchases  parking  rental_bag        date
8037     22    95230.0        1           2  2022-12-08
8038      9    75870.0        0           1  2022-11-28
8039     21   159070.0        1           2  2022-12-20
8040     10    92720.0        0           0  2023-01-18
8041     13   764510.0        1           0  2023-01-05

In [323]:
df2.info()

# ì¤‘ê°„ì— drop ëœ index ê°€ ìˆì–´ì„œ 
# Int64Index: 6654 entries, 0 to 8041 
# ìœ¼ë¡œ í‘œì‹œ ëœë‹¤.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6654 entries, 0 to 8041
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   goods       6654 non-null   int64
 1   purchases   6654 non-null   float64
 2   parking     6654 non-null   int64
 3   rental_bag  6654 non-null   int64
 4   date        6654 non-null   object
dtypes: float64(1), int64(3), object(1)
memory usage: 311.9+ KB

In [324]:
df2.reset_index(inplace = True ,drop = True)
df2.info()

# ì¸í…ìŠ¤ë¥¼ ë‹¤ì‹œ ì„¤ì • 0 ~ 6654

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6654 entries, 0 to 6653
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   goods       6654 non-null   int64
 1   purchases   6654 non-null   float64
 2   parking     6654 non-null   int64
 3   rental_bag  6654 non-null   int64
 4   date        6654 non-null   object
dtypes: float64(1), int64(3), object(1)
memory usage: 260.0+ KB

In [325]:
df2.tail()

      goods  purchases  parking  rental_bag        date
6649     22    95230.0        1           2  2022-12-08
6650      9    75870.0        0           1  2022-11-28
6651     21   159070.0        1           2  2022-12-20
6652     10    92720.0        0           0  2023-01-18
6653     13   764510.0        1           0  2023-01-05

In [326]:
df2.loc[df2.purchases == 49710, ]

# ì›ë˜ë¶€í„°ê°€ index ê°€ 1 ì´ì˜€ë„¤.

   goods  purchases  parking  rental_bag        date
1     13    49710.0        0           2  2022-11-18

ğŸ˜‚ ì •ìˆ˜í˜• ëª…ëª©ì  ë¬µì‹œì  ì¸ë±ìŠ¤ì˜ êµ¬ë¶„

In [291]:

# st = df2.loc[df2.purchases == 49710, 'date'][1]      
# df ë•Œë¶€í„° ìˆë˜ ì›ë˜ ì¸ë±ìŠ¤ [1] ë¥¼ ë„£ì–´ì•¼ í•œë‹¤. ì—¬ê¸°ì„œëŠ” ìš°ì—°íˆ 0, 1 ì´ë¼ì„œ í˜¼ë™ë¨
# [int] ì¸ê²½ìš° ëª…ëª©ì  ì¸ë±ìŠ¤ë¡œ ê°„ì£¼í•œë‹¤. 

st = df2.loc[df2.purchases == 49710, 'date'].values[0]
st

# df2.loc[df2.purchases == 49710, 'date'] ì€ ì™œ ì•ˆë ê¹Œ?  Serise ë¼ì„œ
# ì™€
# df2.loc[df2.purchases == 49710, 'date'][0] ì€ ì™œ ì•ˆë ê¹Œ? [1] ì´ì—¬ë§Œ í• ê¹Œ? --> df ì—ì„œë¶€í„° ê°–ê³  ìˆëŠ” ì›ë˜ ì¸ë±ìŠ¤[1] ë¥¼ ë„£ì–´ì•¼ í•œë‹¤.

'2022-11-18'

In [289]:
print(df2.loc[df2.purchases == 96120, ['date']])
ed = df2.loc[df2.purchases == 96120, 'date'].values[0]
ed

# ed = df2.loc[df2.purchases == 96120, 'date'][1] ì—¬ê¸°ëŠ” ì™œ ì´ê²Œ ì•ˆë ê¹Œ?

         date
0  2023-02-07

'2023-02-07'

In [292]:
mask = (df2['date'] >= st) & (df2['date'] <= ed)
df2.loc[mask,'purchases']

0        96120.0
1        49710.0
3       174430.0
4        35510.0
5        90330.0
          ...
8037     95230.0
8038     75870.0
8039    159070.0
8040     92720.0
8041    764510.0
Name: purchases, Length: 4609, dtype: float64

### Q3. ë°ì´í„°ë¥¼ ë°”íƒ•ìœ¼ë¡œ ì¥ë°”êµ¬ë‹ˆ ëŒ€ì—¬ ì—¬ë¶€(rental_bag)ë¥¼ ì˜ˆì¸¡í•˜ëŠ” ëª¨ë¸ì„ ë§Œë“œë ¤ê³  í•œë‹¤. ë‹¤ìŒ ë‹¨ê³„ì— ë”°ë¼ ë¶„ì„ì„ ìˆ˜í–‰í•˜ê³  ì§ˆë¬¸ì— ë‹µí•˜ì‹œì˜¤.

ë‹¨ê³„ 1 : ê²°ì œ ì´ ê¸ˆì•¡(purchases)ì˜ ê²°ì¸¡ ê°’(Null)ì„ ê²°ì œ ì´ ê¸ˆì•¡(purchases)ì˜ í‰ê· ê°’ìœ¼ë¡œ ëŒ€ì²´í•œë‹¤.  
ë‹¨ê³„ 2 : ì¥ë°”êµ¬ë‹ˆ ëŒ€ì—¬ ì—¬ë¶€(rental_bag) ì»¬ëŸ¼ ê°’ì„ ëŒ€ì—¬í•˜ì§€ ì•Šì€ ê²½ìš°ëŠ” 0, ëŒ€ì—¬í•œ ê²½ìš°ëŠ” ì¢…ë¥˜ì— ìƒê´€ì—†ì´ 1ë¡œ ë³€í™˜í•œë‹¤.  
ë‹¨ê³„ 3 : ë‚ ì§œê°€ 2ì›”ì´ ì•„ë‹Œ ë°ì´í„°ë¥¼ Train Setìœ¼ë¡œ, 2ì›”ì¸ ë°ì´í„°ë¥¼ Test Setìœ¼ë¡œ ë¶„í• í•œë‹¤.  
ë‹¨ê³„ 4 : ìƒí’ˆ êµ¬ë§¤ ìˆ˜(goods)ì™€ ê²°ì œ ì´ ê¸ˆì•¡(purchases) ì»¬ëŸ¼ì— ëŒ€í•´ Train Setì„ ê¸°ì¤€ìœ¼ë¡œ Z-score í‘œì¤€í™”(Standardization) í•œë‹¤.  
ë‹¨ê³„ 5 : Train Setìœ¼ë¡œ ì•„ë˜ ì¡°ê±´ì— ë”°ë¼ ë¡œì§€ìŠ¤í‹± íšŒê·€ë¶„ì„ì„ í•™ìŠµí•œë‹¤.  
- ë…ë¦½ ë³€ìˆ˜ : ìƒí’ˆ êµ¬ë§¤ ìˆ˜(goods), ê²°ì œ ì´ ê¸ˆì•¡(purchases), ì£¼ì°¨ ì—¬ë¶€(parking)  
- ì¢…ì† ë³€ìˆ˜ : ì¥ë°”êµ¬ë‹ˆ ëŒ€ì—¬ ì—¬ë¶€(rental_bag)  

ë‹¨ê³„ 6 : ë‹¨ê³„ 5ì—ì„œ í•™ìŠµí•œ ëª¨ë¸ì„ Test Setì— ì ìš©í•˜ì—¬ ì¥ë°”êµ¬ë‹ˆ ëŒ€ì—¬ ì—¬ë¶€(rental_bag)ë¥¼ ì˜ˆì¸¡í•œë‹¤. Test Setì— ì£¼ì–´ì§„ ì¢…ì† ë³€ìˆ˜ë¥¼ í™œìš©í•˜ì—¬ F1-scoreë¡œ ëª¨ë¸ì„ í‰ê°€í•˜ì‹œì˜¤  
            
â€» ì •ë‹µì€ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ì¶œë ¥í•˜ì‹œì˜¤.  
(ì •ë‹µ ì˜ˆì‹œ: 2.29)

In [257]:
df3 = df.copy()
df3.isna().sum()

goods            0
purchases     1389
parking          0
rental_bag       0
date             0
dtype: int64

In [260]:
df3.fillna(df3.purchases.mean(), inplace=True)

In [261]:
df3.isna().sum()

goods         0
purchases     0
parking       0
rental_bag    0
date          0
dtype: int64

In [262]:
df3.rental_bag.unique()

array([2, 0, 1])

In [264]:
df3[df3.rental_bag == 2] = 1

In [265]:
df3.rental_bag.unique()

array([1, 0])

#### í•„ìš” ë¼ì´ë¸ŒëŸ¬ë¦¬ í•¨ìˆ˜,í´ë˜ìŠ¤ ë° ì„¤ì •ê°’ ëª©ë¡  


from sklearn.linear_model import LogisticRegression  
from sklearn.preprocessing import StandardScaler  
from sklearn.metrics import f1_score  
random_state = 229  
ë¬¸ì œ ì§€ì‹œ ì™¸ Default ê°’ ì‚¬ìš©