## ìŠ¤íŠ¸ë¦¬ë° ì„œë¹„ìŠ¤ë¥¼ ì œê³µí•˜ëŠ” ìŠ¤íƒ€íŠ¸ì—… metflixì—ì„œ 10ê°œì›” ì´ìƒ ê°€ì… ì¤‘ì¸ ê³ ê° ì •ë³´ë¥¼ ì´ìš©í•˜ì—¬ ë§ˆì¼€íŒ… ì „ëµì„ ìˆ˜ë¦½í•˜ë ¤í•œë‹¤.

metflix.csv

|ì»¬ëŸ¼|ì •ì˜|type|
|:---|:---|:---:|
|ids|ì‹ë³„ ë²ˆí˜¸|int64|
|ages|ë‚˜ì´|int64|
|bookmarks|ì¦ê²¨ì°¾ê¸° ìˆ˜|int64|
|replies|ë‹µê¸€ ìˆ˜|int64|
|ratings|ë³„ì  ìˆ˜|int64|
|watches|ì‹œì²­ íšŸìˆ˜|int64|
|period|ê°€ì… ê¸°ê°„([ê°€ì… í›„ ê²½ê³¼í•œ ì›” ìˆ˜]M)|object|  

ì •ë‹µ ë° í•´ì„¤ : https://tjd229.tistory.com/23

In [107]:
import numpy as np
import pandas as pd

df = pd.read_csv('../content/tjd229/metflix.csv')

df.shape

(540, 7)

### ë¶„ì„ì„ ìˆ˜í–‰í•˜ê¸° ì „, ì•„ë˜ì˜ ì „ì²˜ë¦¬ë¥¼ ìˆ˜í–‰í•˜ì‹œì˜¤.

ë‹¨ê³„ 1 : ê°€ì… ê¸°ê°„(period) ì»¬ëŸ¼ì—ì„œ ë¬¸ì Mì„ ì œê±°í•œ í›„ ì •ìˆ˜í˜•ìœ¼ë¡œ ë³€ê²½í•˜ì‹œì˜¤

ìƒê¸° ì „ì²˜ë¦¬ë¥¼ ì™„ë£Œí•œ ë°ì´í„°ì…‹(ë°ì´í„°ì…‹ëª…: <span style="color:skyblue">customer</span>)ì„ ì´ìš©í•˜ì—¬ ë‹¤ìŒ 1~3ë²ˆ ë¬¸ì œì— ë‹µí•˜ì‹œì˜¤.

In [108]:
df.period.unique()

array(['16M', '10M', '21M', '22M', '24M', '13M', '27M', '19M', '17M',
       '15M', '18M', '36M', '34M', '12M', '31M', '11M', '33M', '20M',
       '32M', '25M', '14M', '30M', '26M', '23M', '35M', '29M', '28M'],
      dtype=object)

 ğŸ‘‰ df.series.str.replace(,)

In [109]:
df.period = df.period.str.replace('M','').astype(int)
df.info()

# df['period'] = df['period'].str.slice(0,2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ids        540 non-null    int64
 1   ages       540 non-null    int64
 2   bookmarks  540 non-null    int64
 3   replies    540 non-null    int64
 4   ratings    540 non-null    int64
 5   watches    540 non-null    int64
 6   period     540 non-null    int64
dtypes: int64(7)
memory usage: 29.7 KB

In [110]:
customer = df.copy()

### Q1. (<span style="color:skyblue">customer</span>ë¥¼ ì´ìš©í•˜ì—¬)ë³„ì  ìˆ˜(ratings) ì»¬ëŸ¼ì—ì„œ ì´ìƒì¹˜ë¥¼ ì œì™¸í•œ ë³„ì  ìˆ˜(ratings) í‰ê· ì„ êµ¬í•˜ì‹œì˜¤.  
ì´ìƒì¹˜ëŠ” ì•„ë˜ êµ¬ê°„ì— í¬í•¨ë˜ì§€ ì•Šì€ ë°ì´í„°ë¡œ ê°„ì£¼í•œë‹¤.

$ [ Median - 2.3 \times IQR , Median + 2.3 \times IQR ]  $

â€» ì •ë‹µì€ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ì¶œë ¥í•˜ì‹œì˜¤.
(ì •ë‹µ ì˜ˆì‹œ: 2.29)

 ğŸ‘‰ IQR : quantile(0.25, 0.75)

In [111]:
# IQR = Q3 - Q1 
Q1 = customer.ratings.quantile(0.25)
Q3 = customer.ratings.quantile(0.75)
IQR = Q3-Q1
IQR

190.5

In [112]:
uplimit = customer.ratings.median()+(2.3*IQR)
underlimit = customer.ratings.median()-(2.3*IQR)
uplimit, underlimit

(537.65, -338.65)

In [113]:
rating_1 = customer.loc[(customer.ratings > underlimit) & (customer.ratings < uplimit), 'ratings' ]
round(rating_1.mean(),2)

126.77

In [114]:
# customer.reset_index(inplace=True)
# customer.info()

### Q2. (<span style="color:skyblue">customer</span>ë¥¼ ì´ìš©í•˜ì—¬)ê³ ê° ë‚˜ì´ëŒ€ ë³„ í™œë™ ë¹ˆë„ë¥¼ ë¶„ì„í•˜ë ¤ê³  í•œë‹¤. ë‹¤ìŒ ë‹¨ê³„ì— ë”°ë¼ ë¶„ì„ì„ ìˆ˜í–‰í•˜ê³  ì§ˆë¬¸ì— ë‹µí•˜ì‹œì˜¤.

ë‹¨ê³„ 1 : ê³ ê° ë°ì´í„°ì˜ ages ì»¬ëŸ¼ì„ ì´ìš©í•˜ì—¬ ì•„ë˜ ê·œì¹™ì— ë”°ë¼ age_cls ì»¬ëŸ¼ì„ ìƒˆë¡œ ìƒì„±í•œë‹¤.
- agesê°€ 10ì´ìƒ 19ì´í•˜ì¸ ê²½ìš° age_clsëŠ” 10sê°€ ëœë‹¤.  
- agesê°€ 20ì´ìƒ 29ì´í•˜ì¸ ê²½ìš° age_clsëŠ” 20sê°€ ëœë‹¤.  
- agesê°€ 30ì´ìƒ 39ì´í•˜ì¸ ê²½ìš° age_clsëŠ” 30sê°€ ëœë‹¤.  
- agesê°€ 40ì´ìƒ 49ì´í•˜ì¸ ê²½ìš° age_clsëŠ” 40sê°€ ëœë‹¤.  
- agesê°€ 50ì´ìƒì¸ ê²½ìš° age_clsëŠ” 50sê°€ ëœë‹¤.  

ë‹¨ê³„ 2 : age_clsë³„ ë‹µê¸€ ìˆ˜(replies)ì˜ í‰ê· ì„ êµ¬í•œë‹¤.  
ë‹¨ê³„ 3 : ë‹¨ê³„ 2ì—ì„œ êµ¬í•œ age_clsë³„ ë‹µê¸€ ìˆ˜(replies)ì˜ í‰ê· ì—ì„œ ìµœëŒ€ê°’ì„ A, ìµœì†Œê°’ì„ Bë¼ê³  í•  ë•Œ, A+Bë¥¼ êµ¬í•˜ì‹œì˜¤ 


â€» ì •ë‹µì€ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ì¶œë ¥í•˜ì‹œì˜¤.
(ì •ë‹µ ì˜ˆì‹œ: 2.29)

In [130]:
# default ê°’ì„ ì…‹íŒ…í•œë‹¤.
customer['age_cls'] = np.nan

 ğŸ‘‰ cut() / where()

In [131]:

customer['age_cls'] = pd.cut(customer.ages, 
                             bins = [10,19,29,39,49,100],
                             labels= ['10s','20s','30s','40s','50s'])
customer.loc[customer.ages ==50,['ages','age_cls']]

     ages age_cls
154    50     50s
200    50     50s
268    50     50s
358    50     50s
487    50     50s

In [147]:
# print(customer.groupby('age_cls').mean()) 
customer.groupby('age_cls').replies.mean().sort_values()

#customer.groupby('age_cls').replies ëŠ” series ë¼ì„œ sort_values() ì„ ì‚¬ìš©

age_cls
40s     6.482456
50s     7.416667
10s    68.135135
20s    69.344086
30s    75.804469
Name: replies, dtype: float64

In [154]:
customer.groupby('age_cls')[['replies']].mean().sort_values(by='replies')

#customer.groupby('age_cls')[['replies']] ëŠ” df type ì´ë¼ì„œ sort_values(by='replies') ì„ ì‚¬ìš©

           replies
age_cls
40s       6.482456
50s       7.416667
10s      68.135135
20s      69.344086
30s      75.804469

In [158]:
customer.loc[:,['replies','age_cls']].groupby('age_cls').mean().sort_values('replies')

           replies
age_cls
40s       6.482456
50s       7.416667
10s      68.135135
20s      69.344086
30s      75.804469

In [148]:
rep_max = customer.groupby('age_cls').replies.mean().max()
rep_min = customer.groupby('age_cls').replies.mean().min()
rep_max,rep_min

(75.80446927374301, 6.482456140350878)

In [149]:

round(rep_max+rep_min,2)

82.29

In [136]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ids        540 non-null    int64
 1   ages       540 non-null    int64
 2   bookmarks  540 non-null    int64
 3   replies    540 non-null    int64
 4   ratings    540 non-null    int64
 5   watches    540 non-null    int64
 6   period     540 non-null    int64
 7   age_cls    540 non-null    category
dtypes: category(1), int64(7)
memory usage: 30.4 KB

### Q3. (<span style="color:skyblue">customer</span>ë¥¼ ì´ìš©í•˜ì—¬)ê³ ê° ë‚˜ì´ëŒ€ë¥¼ ì˜ˆì¸¡í•˜ê¸° ìœ„í•œ ëª¨ë¸ì„ ë§Œë“œë ¤ê³  í•œë‹¤. ë‹¤ìŒ ë‹¨ê³„ì— ë”°ë¼ ë¶„ì„ì„ ìˆ˜í–‰í•˜ê³  ì§ˆë¬¸ì— ë‹µí•˜ì‹œì˜¤.

ë‹¨ê³„ 1 : ê³ ê° ë°ì´í„°ì˜ ages ì»¬ëŸ¼ì„ ì´ìš©í•˜ì—¬ ì•„ë˜ ê·œì¹™ì— ë”°ë¼ age_cls ì»¬ëŸ¼ì„ ìƒˆë¡œ ìƒì„±í•œë‹¤.  
- agesê°€ 40ì´ìƒì¸ ê²½ìš° age_clsëŠ” 1ì´ ë˜ê³ , ê·¸ ì™¸ì—ëŠ” 0ì´ ëœë‹¤. 

ë‹¨ê³„ 2 : Train Setê³¼ Test Setì„ 99:1 ë¹„ìœ¨ë¡œ ë‚˜ëˆˆë‹¤.  
- Train Setì—ì„œ ë‹µê¸€ ìˆ˜(replies)ê°€ 0ì¸ ë°ì´í„°ëŠ” ì´ 13ê°œì´ë‹¤.
- Test Setì—ì„œ ë‹µê¸€ ìˆ˜(replies)ê°€ 0ì¸ ë°ì´í„°ëŠ” ì¡´ì¬í•˜ì§€ ì•ŠëŠ”ë‹¤.
        
ë‹¨ê³„ 3 : Train Setì„ ì´ìš©í•˜ì—¬ KNeighborsClassifierë¥¼ í•™ìŠµí•œë‹¤. 
- ë…ë¦½ ë³€ìˆ˜ : ê°€ì… ê¸°ê°„(period)ì„ (replies+0.01)ë¡œ ë‚˜ëˆˆ ê°’
- ì¢…ì† ë³€ìˆ˜ : age_cls

ë‹¨ê³„ 4 : Train Setì„ ì´ìš©í•˜ì—¬ KNeighborsClassifierë¥¼ ìƒˆë¡œ í•™ìŠµí•œë‹¤. 
- ë…ë¦½ ë³€ìˆ˜ : ê°€ì… ê¸°ê°„(period)ì„ ë‹µê¸€ ìˆ˜(replies)ë¡œ ë‚˜ëˆˆ ê°’, ë‚˜ëˆ„ê¸° ì „ ë‹µê¸€ ìˆ˜(replies)ê°€ 0ì¸ ë°ì´í„°ëŠ” ì œê±°í•œë‹¤.
- ì¢…ì† ë³€ìˆ˜ : age_cls

ë‹¨ê³„ 5 : ë‹¨ê³„ 4ì™€ ë‹¨ê³„ 5ì—ì„œ í•™ìŠµí•œ ë‘ ëª¨ë¸ì„ ê°ê° Test Setì— ì ìš©í•˜ì—¬ age_clsë¥¼ ì˜ˆì¸¡í•œë‹¤. Test Setì— ì£¼ì–´ì§„ ì¢…ì† ë³€ìˆ˜ë¥¼ í™œìš©í•˜ì—¬ ì•„ë˜ ì •ì˜ëœ ì§€í‘œ Pë¥¼ ê°ê° êµ¬í•˜ê³ , ë‘ ê°’ì¤‘ ê°€ì¥ í° ê°’ì„ êµ¬í•˜ì‹œì˜¤
- ì˜ˆì¸¡ê°’ $ \hat{y_i} $ë„ 0ì´ê³  ì‹¤ì œê°’ $ y_i $ë„ 0ì¸ ê²½ìš°ë¥¼ Aë¼ê³  í•œë‹¤. 
- ì˜ˆì¸¡ê°’ $ \hat{y_i} $ë„ 0ì´ê³  ì‹¤ì œê°’ $ y_i $ë„ 1ì¸ ê²½ìš°ë¥¼ Bë¼ê³  í•œë‹¤. 

$$ P={A \over (A+B)} $$

â€» ì •ë‹µì€ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ì¶œë ¥í•˜ì‹œì˜¤.
(ì •ë‹µ ì˜ˆì‹œ: 2.29)

#### í•„ìš” ë¼ì´ë¸ŒëŸ¬ë¦¬ í•¨ìˆ˜,í´ë˜ìŠ¤ ë° ì„¤ì •ê°’ ëª©ë¡  


from sklearn.model_selection import train_test_split  
from sklearn.neighbors import KNeighborsClassifier    
KNeighborsClassifierì˜ ê±°ë¦¬ëŠ” Manhattan Distance ì‚¬ìš©, ê°€ì¤‘ì¹˜ëŠ” ê±°ë¦¬ ì—­ìˆœìœ¼ë¡œ ì„¤ì •  
ëª¨ë“  random_state = 229  
ë¬¸ì œ ì§€ì‹œ ì™¸ Default ê°’ ì‚¬ìš©