## 스트리밍 서비스를 제공하는 스타트업 metflix에서 10개월 이상 가입 중인 고객 정보를 이용하여 마케팅 전략을 수립하려한다.

metflix.csv

|컬럼|정의|type|
|:---|:---|:---:|
|ids|식별 번호|int64|
|ages|나이|int64|
|bookmarks|즐겨찾기 수|int64|
|replies|답글 수|int64|
|ratings|별점 수|int64|
|watches|시청 횟수|int64|
|period|가입 기간([가입 후 경과한 월 수]M)|object|  

정답 및 해설 : https://tjd229.tistory.com/23

In [107]:
import numpy as np
import pandas as pd

df = pd.read_csv('../content/tjd229/metflix.csv')

df.shape

(540, 7)

### 분석을 수행하기 전, 아래의 전처리를 수행하시오.

단계 1 : 가입 기간(period) 컬럼에서 문자 M을 제거한 후 정수형으로 변경하시오

상기 전처리를 완료한 데이터셋(데이터셋명: <span style="color:skyblue">customer</span>)을 이용하여 다음 1~3번 문제에 답하시오.

In [108]:
df.period.unique()

array(['16M', '10M', '21M', '22M', '24M', '13M', '27M', '19M', '17M',
       '15M', '18M', '36M', '34M', '12M', '31M', '11M', '33M', '20M',
       '32M', '25M', '14M', '30M', '26M', '23M', '35M', '29M', '28M'],
      dtype=object)

 👉 df.series.str.replace(,)

In [109]:
df.period = df.period.str.replace('M','').astype(int)
df.info()

# df['period'] = df['period'].str.slice(0,2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ids        540 non-null    int64
 1   ages       540 non-null    int64
 2   bookmarks  540 non-null    int64
 3   replies    540 non-null    int64
 4   ratings    540 non-null    int64
 5   watches    540 non-null    int64
 6   period     540 non-null    int64
dtypes: int64(7)
memory usage: 29.7 KB

In [110]:
customer = df.copy()

### Q1. (<span style="color:skyblue">customer</span>를 이용하여)별점 수(ratings) 컬럼에서 이상치를 제외한 별점 수(ratings) 평균을 구하시오.  
이상치는 아래 구간에 포함되지 않은 데이터로 간주한다.

$ [ Median - 2.3 \times IQR , Median + 2.3 \times IQR ]  $

※ 정답은 반올림하여 소수점 둘째 자리까지 출력하시오.
(정답 예시: 2.29)

 👉 IQR : quantile(0.25, 0.75)

In [111]:
# IQR = Q3 - Q1 
Q1 = customer.ratings.quantile(0.25)
Q3 = customer.ratings.quantile(0.75)
IQR = Q3-Q1
IQR

190.5

In [112]:
uplimit = customer.ratings.median()+(2.3*IQR)
underlimit = customer.ratings.median()-(2.3*IQR)
uplimit, underlimit

(537.65, -338.65)

In [113]:
rating_1 = customer.loc[(customer.ratings > underlimit) & (customer.ratings < uplimit), 'ratings' ]
round(rating_1.mean(),2)

126.77

In [114]:
# customer.reset_index(inplace=True)
# customer.info()

### Q2. (<span style="color:skyblue">customer</span>를 이용하여)고객 나이대 별 활동 빈도를 분석하려고 한다. 다음 단계에 따라 분석을 수행하고 질문에 답하시오.

단계 1 : 고객 데이터의 ages 컬럼을 이용하여 아래 규칙에 따라 age_cls 컬럼을 새로 생성한다.
- ages가 10이상 19이하인 경우 age_cls는 10s가 된다.  
- ages가 20이상 29이하인 경우 age_cls는 20s가 된다.  
- ages가 30이상 39이하인 경우 age_cls는 30s가 된다.  
- ages가 40이상 49이하인 경우 age_cls는 40s가 된다.  
- ages가 50이상인 경우 age_cls는 50s가 된다.  

단계 2 : age_cls별 답글 수(replies)의 평균을 구한다.  
단계 3 : 단계 2에서 구한 age_cls별 답글 수(replies)의 평균에서 최대값을 A, 최소값을 B라고 할 때, A+B를 구하시오 


※ 정답은 반올림하여 소수점 둘째 자리까지 출력하시오.
(정답 예시: 2.29)

In [130]:
# default 값을 셋팅한다.
customer['age_cls'] = np.nan

 👉 cut() / where()

In [131]:

customer['age_cls'] = pd.cut(customer.ages, 
                             bins = [10,19,29,39,49,100],
                             labels= ['10s','20s','30s','40s','50s'])
customer.loc[customer.ages ==50,['ages','age_cls']]

     ages age_cls
154    50     50s
200    50     50s
268    50     50s
358    50     50s
487    50     50s

In [147]:
# print(customer.groupby('age_cls').mean()) 
customer.groupby('age_cls').replies.mean().sort_values()

#customer.groupby('age_cls').replies 는 series 라서 sort_values() 을 사용

age_cls
40s     6.482456
50s     7.416667
10s    68.135135
20s    69.344086
30s    75.804469
Name: replies, dtype: float64

In [154]:
customer.groupby('age_cls')[['replies']].mean().sort_values(by='replies')

#customer.groupby('age_cls')[['replies']] 는 df type 이라서 sort_values(by='replies') 을 사용

           replies
age_cls
40s       6.482456
50s       7.416667
10s      68.135135
20s      69.344086
30s      75.804469

In [158]:
customer.loc[:,['replies','age_cls']].groupby('age_cls').mean().sort_values('replies')

           replies
age_cls
40s       6.482456
50s       7.416667
10s      68.135135
20s      69.344086
30s      75.804469

In [148]:
rep_max = customer.groupby('age_cls').replies.mean().max()
rep_min = customer.groupby('age_cls').replies.mean().min()
rep_max,rep_min

(75.80446927374301, 6.482456140350878)

In [149]:

round(rep_max+rep_min,2)

82.29

In [136]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ids        540 non-null    int64
 1   ages       540 non-null    int64
 2   bookmarks  540 non-null    int64
 3   replies    540 non-null    int64
 4   ratings    540 non-null    int64
 5   watches    540 non-null    int64
 6   period     540 non-null    int64
 7   age_cls    540 non-null    category
dtypes: category(1), int64(7)
memory usage: 30.4 KB

### Q3. (<span style="color:skyblue">customer</span>를 이용하여)고객 나이대를 예측하기 위한 모델을 만드려고 한다. 다음 단계에 따라 분석을 수행하고 질문에 답하시오.

단계 1 : 고객 데이터의 ages 컬럼을 이용하여 아래 규칙에 따라 age_cls 컬럼을 새로 생성한다.  
- ages가 40이상인 경우 age_cls는 1이 되고, 그 외에는 0이 된다. 

단계 2 : Train Set과 Test Set을 99:1 비율로 나눈다.  
- Train Set에서 답글 수(replies)가 0인 데이터는 총 13개이다.
- Test Set에서 답글 수(replies)가 0인 데이터는 존재하지 않는다.
        
단계 3 : Train Set을 이용하여 KNeighborsClassifier를 학습한다. 
- 독립 변수 : 가입 기간(period)을 (replies+0.01)로 나눈 값
- 종속 변수 : age_cls

단계 4 : Train Set을 이용하여 KNeighborsClassifier를 새로 학습한다. 
- 독립 변수 : 가입 기간(period)을 답글 수(replies)로 나눈 값, 나누기 전 답글 수(replies)가 0인 데이터는 제거한다.
- 종속 변수 : age_cls

단계 5 : 단계 4와 단계 5에서 학습한 두 모델을 각각 Test Set에 적용하여 age_cls를 예측한다. Test Set에 주어진 종속 변수를 활용하여 아래 정의된 지표 P를 각각 구하고, 두 값중 가장 큰 값을 구하시오
- 예측값 $ \hat{y_i} $도 0이고 실제값 $ y_i $도 0인 경우를 A라고 한다. 
- 예측값 $ \hat{y_i} $도 0이고 실제값 $ y_i $도 1인 경우를 B라고 한다. 

$$ P={A \over (A+B)} $$

※ 정답은 반올림하여 소수점 둘째 자리까지 출력하시오.
(정답 예시: 2.29)

#### 필요 라이브러리 함수,클래스 및 설정값 목록  


from sklearn.model_selection import train_test_split  
from sklearn.neighbors import KNeighborsClassifier    
KNeighborsClassifier의 거리는 Manhattan Distance 사용, 가중치는 거리 역순으로 설정  
모든 random_state = 229  
문제 지시 외 Default 값 사용