## ìŠ¤íŠ¸ë¦¬ë° ì„œë¹„ìŠ¤ë¥¼ ì œê³µí•˜ëŠ” ìŠ¤íƒ€íŠ¸ì—… metflixì—ì„œ 10ê°œì›” ì´ìƒ ê°€ì… ì¤‘ì¸ ê³ ê° ì •ë³´ë¥¼ ì´ìš©í•˜ì—¬ ë§ˆì¼€íŒ… ì „ëµì„ ìˆ˜ë¦½í•˜ë ¤í•œë‹¤.

metflix.csv

|ì»¬ëŸ¼|ì •ì˜|type|
|:---|:---|:---:|
|ids|ì‹ë³„ ë²ˆí˜¸|int64|
|ages|ë‚˜ì´|int64|
|bookmarks|ì¦ê²¨ì°¾ê¸° ìˆ˜|int64|
|replies|ë‹µê¸€ ìˆ˜|int64|
|ratings|ë³„ì  ìˆ˜|int64|
|watches|ì‹œì²­ íšŸìˆ˜|int64|
|period|ê°€ì… ê¸°ê°„([ê°€ì… í›„ ê²½ê³¼í•œ ì›” ìˆ˜]M)|object|  

ì •ë‹µ ë° í•´ì„¤ : https://tjd229.tistory.com/23

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('../content/tjd229/metflix.csv')

df.shape

(540, 7)

### ë¶„ì„ì„ ìˆ˜í–‰í•˜ê¸° ì „, ì•„ë˜ì˜ ì „ì²˜ë¦¬ë¥¼ ìˆ˜í–‰í•˜ì‹œì˜¤.

ë‹¨ê³„ 1 : ê°€ì… ê¸°ê°„(period) ì»¬ëŸ¼ì—ì„œ ë¬¸ì Mì„ ì œê±°í•œ í›„ ì •ìˆ˜í˜•ìœ¼ë¡œ ë³€ê²½í•˜ì‹œì˜¤

ìƒê¸° ì „ì²˜ë¦¬ë¥¼ ì™„ë£Œí•œ ë°ì´í„°ì…‹(ë°ì´í„°ì…‹ëª…: <span style="color:skyblue">customer</span>)ì„ ì´ìš©í•˜ì—¬ ë‹¤ìŒ 1~3ë²ˆ ë¬¸ì œì— ë‹µí•˜ì‹œì˜¤.

In [3]:
df.period.unique()

array(['16M', '10M', '21M', '22M', '24M', '13M', '27M', '19M', '17M',
       '15M', '18M', '36M', '34M', '12M', '31M', '11M', '33M', '20M',
       '32M', '25M', '14M', '30M', '26M', '23M', '35M', '29M', '28M'],
      dtype=object)

 ğŸ‘‰ df.series.str.replace({'A':'B', 'C':'D'})

  relace ì€ 2ê°œ ì´ìƒ 
  where ì€ ì¡°ê±´ìœ¼ë¡œ 2ê°œë¡œ ë¶„ë¥˜

In [4]:
df.period = df.period.str.replace('M','').astype(int)
df.info()

# df['period'] = df['period'].str.slice(0,2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ids        540 non-null    int64
 1   ages       540 non-null    int64
 2   bookmarks  540 non-null    int64
 3   replies    540 non-null    int64
 4   ratings    540 non-null    int64
 5   watches    540 non-null    int64
 6   period     540 non-null    int64
dtypes: int64(7)
memory usage: 29.7 KB

In [5]:
customer = df.copy()

### Q1. (<span style="color:skyblue">customer</span>ë¥¼ ì´ìš©í•˜ì—¬)ë³„ì  ìˆ˜(ratings) ì»¬ëŸ¼ì—ì„œ ì´ìƒì¹˜ë¥¼ ì œì™¸í•œ ë³„ì  ìˆ˜(ratings) í‰ê· ì„ êµ¬í•˜ì‹œì˜¤.  
ì´ìƒì¹˜ëŠ” ì•„ë˜ êµ¬ê°„ì— í¬í•¨ë˜ì§€ ì•Šì€ ë°ì´í„°ë¡œ ê°„ì£¼í•œë‹¤.

$ [ Median - 2.3 \times IQR , Median + 2.3 \times IQR ]  $

â€» ì •ë‹µì€ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ì¶œë ¥í•˜ì‹œì˜¤.
(ì •ë‹µ ì˜ˆì‹œ: 2.29)

 ğŸ‘‰ IQR : quantile(0.25, 0.75)

In [6]:
# IQR = Q3 - Q1 
Q1 = customer.ratings.quantile(0.25)
Q3 = customer.ratings.quantile(0.75)
IQR = Q3-Q1
IQR

190.5

In [7]:
uplimit = customer.ratings.median()+(2.3*IQR)
underlimit = customer.ratings.median()-(2.3*IQR)
uplimit, underlimit

(537.65, -338.65)

In [8]:
rating_1 = customer.loc[(customer.ratings > underlimit) & (customer.ratings < uplimit), 'ratings' ]
rating_1.mean().round(2)

126.77

In [9]:
# customer.reset_index(inplace=True)
# customer.info()

### Q2. (<span style="color:skyblue">customer</span>ë¥¼ ì´ìš©í•˜ì—¬)ê³ ê° ë‚˜ì´ëŒ€ ë³„ í™œë™ ë¹ˆë„ë¥¼ ë¶„ì„í•˜ë ¤ê³  í•œë‹¤. ë‹¤ìŒ ë‹¨ê³„ì— ë”°ë¼ ë¶„ì„ì„ ìˆ˜í–‰í•˜ê³  ì§ˆë¬¸ì— ë‹µí•˜ì‹œì˜¤.

ë‹¨ê³„ 1 : ê³ ê° ë°ì´í„°ì˜ ages ì»¬ëŸ¼ì„ ì´ìš©í•˜ì—¬ ì•„ë˜ ê·œì¹™ì— ë”°ë¼ age_cls ì»¬ëŸ¼ì„ ìƒˆë¡œ ìƒì„±í•œë‹¤.
- agesê°€ 10ì´ìƒ 19ì´í•˜ì¸ ê²½ìš° age_clsëŠ” 10sê°€ ëœë‹¤.  
- agesê°€ 20ì´ìƒ 29ì´í•˜ì¸ ê²½ìš° age_clsëŠ” 20sê°€ ëœë‹¤.  
- agesê°€ 30ì´ìƒ 39ì´í•˜ì¸ ê²½ìš° age_clsëŠ” 30sê°€ ëœë‹¤.  
- agesê°€ 40ì´ìƒ 49ì´í•˜ì¸ ê²½ìš° age_clsëŠ” 40sê°€ ëœë‹¤.  
- agesê°€ 50ì´ìƒì¸ ê²½ìš° age_clsëŠ” 50sê°€ ëœë‹¤.  

ë‹¨ê³„ 2 : age_clsë³„ ë‹µê¸€ ìˆ˜(replies)ì˜ í‰ê· ì„ êµ¬í•œë‹¤.  
ë‹¨ê³„ 3 : ë‹¨ê³„ 2ì—ì„œ êµ¬í•œ age_clsë³„ ë‹µê¸€ ìˆ˜(replies)ì˜ í‰ê· ì—ì„œ ìµœëŒ€ê°’ì„ A, ìµœì†Œê°’ì„ Bë¼ê³  í•  ë•Œ, A+Bë¥¼ êµ¬í•˜ì‹œì˜¤ 


â€» ì •ë‹µì€ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ì¶œë ¥í•˜ì‹œì˜¤.
(ì •ë‹µ ì˜ˆì‹œ: 2.29)

In [10]:
# default ê°’ì„ ì…‹íŒ…í•œë‹¤.
customer['age_cls'] = np.nan

 ğŸ‘‰ cut() / where()

 cut ì€ ì—¬ëŸ¬ê°œê°€ ìˆì„ë•Œ,
 where ì€ 2ê°œê°€ ìˆì„ë•Œ,

In [11]:

customer['age_cls'] = pd.cut(customer.ages, 
                             bins = [10,19,29,39,49,100],
                             labels= ['10s','20s','30s','40s','50s'])
customer.loc[customer.ages ==50,['ages','age_cls']]

     ages age_cls
154    50     50s
200    50     50s
268    50     50s
358    50     50s
487    50     50s

In [12]:
# print(customer.groupby('age_cls').mean()) 
customer.groupby('age_cls').replies.mean().sort_values()

#customer.groupby('age_cls').replies ëŠ” series ë¼ì„œ sort_values() ì„ ì‚¬ìš©

age_cls
40s     6.482456
50s     7.416667
10s    68.135135
20s    69.344086
30s    75.804469
Name: replies, dtype: float64

In [13]:
customer.groupby('age_cls')[['replies']].mean().sort_values(by='replies')

#customer.groupby('age_cls')[['replies']] ëŠ” df type ì´ë¼ì„œ sort_values(by='replies') ì„ ì‚¬ìš©

           replies
age_cls
40s       6.482456
50s       7.416667
10s      68.135135
20s      69.344086
30s      75.804469

In [14]:
customer.loc[:,['replies','age_cls']].groupby('age_cls').mean().sort_values('replies')

           replies
age_cls
40s       6.482456
50s       7.416667
10s      68.135135
20s      69.344086
30s      75.804469

In [15]:
rep_max = customer.groupby('age_cls').replies.mean().max()
rep_min = customer.groupby('age_cls').replies.mean().min()
rep_max,rep_min

(75.80446927374301, 6.482456140350878)

In [16]:

round(rep_max+rep_min,2)

82.29

In [17]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ids        540 non-null    int64
 1   ages       540 non-null    int64
 2   bookmarks  540 non-null    int64
 3   replies    540 non-null    int64
 4   ratings    540 non-null    int64
 5   watches    540 non-null    int64
 6   period     540 non-null    int64
 7   age_cls    540 non-null    category
dtypes: category(1), int64(7)
memory usage: 30.4 KB

### Q3. (<span style="color:skyblue">customer</span>ë¥¼ ì´ìš©í•˜ì—¬)ê³ ê° ë‚˜ì´ëŒ€ë¥¼ ì˜ˆì¸¡í•˜ê¸° ìœ„í•œ ëª¨ë¸ì„ ë§Œë“œë ¤ê³  í•œë‹¤. ë‹¤ìŒ ë‹¨ê³„ì— ë”°ë¼ ë¶„ì„ì„ ìˆ˜í–‰í•˜ê³  ì§ˆë¬¸ì— ë‹µí•˜ì‹œì˜¤.

ë‹¨ê³„ 1 : ê³ ê° ë°ì´í„°ì˜ ages ì»¬ëŸ¼ì„ ì´ìš©í•˜ì—¬ ì•„ë˜ ê·œì¹™ì— ë”°ë¼ age_cls ì»¬ëŸ¼ì„ ìƒˆë¡œ ìƒì„±í•œë‹¤.  
- agesê°€ 40ì´ìƒì¸ ê²½ìš° age_clsëŠ” 1ì´ ë˜ê³ , ê·¸ ì™¸ì—ëŠ” 0ì´ ëœë‹¤.

In [35]:
df3 = customer.copy()

In [19]:
df3.where(df3.ages >= 40).head()

# 40 í° ê°’ì€ ê·¸ëŒ€ë¡œ ìœ ì§€ë˜ì–´ ê°€ì ¸ì˜¤ê³ , ê·¸ì™¸ ê°’ì€ NaN

     ids  ages  bookmarks  replies  ratings  watches  period age_cls
0  912.0  47.0        5.0     11.0     23.0     74.0    16.0     40s
1  325.0  44.0        6.0      4.0     11.0     90.0    10.0     40s
2  282.0  49.0        6.0     12.0     38.0    188.0    10.0     40s
3    NaN   NaN        NaN      NaN      NaN      NaN     NaN     NaN
4    NaN   NaN        NaN      NaN      NaN      NaN     NaN     NaN

ğŸ‘‰ np.where

df.where, series.where ì€ í•„í„°ë§í•œ ê°’ì„ ê°€ì ¸ì˜¨ë‹¤.

np.whereì€ í•´ë‹¹ ì›ì†Œ ê°’ ëŒ€ì‹  ìœ„ì¹˜ë¥¼ ê°€ì ¸ì˜¨ë‹¤ëŠ” ì ê³¼ ê°’ì´ Trueì¸ ìœ„ì¹˜ì—ë„ ëŒ€ì¹˜í•  ê°’ ì§€ì •ì´ ê°€ëŠ¥í•˜ë‹¤ëŠ” ì 

```df.series = np.where(df.series ì¡°ê±´, true, false)```

In [36]:
df3.age_cls = np.where(df3.ages >= 40,1,0)
df3.head()
# df3.where(df3.ages >= 40,1)   # -> 40 í° ê°’ì€ ê·¸ëŒ€ë¡œ ìœ ì§€ë˜ì–´ ê°€ì ¸ì˜¤ê³ , ê·¸ì™¸ ê°’ì€ (NaN) ì€ 1ë¡œ ëŒ€ì²´ ë¨
# df3 = np.where(df3.ages >= 40,1,0) # -> 0,1 ì´ ì±„ì›Œì§„ ë¦¬ìŠ¤íŠ¸ë¡œ df3 ê°€ ì—…ë°ì´íŠ¸ ë¨.

    ids  ages  bookmarks  replies  ratings  watches  period  age_cls
0   912    47          5       11       23       74      16        1
1   325    44          6        4       11       90      10        1
2   282    49          6       12       38      188      10        1
3  1234    21         13       53       89      766      21        0
4  1279    25         40       73      186      736      22        0

ë‹¨ê³„ 2 : Train Setê³¼ Test Setì„ 99:1 ë¹„ìœ¨ë¡œ ë‚˜ëˆˆë‹¤.  
- Train Setì—ì„œ ë‹µê¸€ ìˆ˜(replies)ê°€ 0ì¸ ë°ì´í„°ëŠ” ì´ 13ê°œì´ë‹¤.
- Test Setì—ì„œ ë‹µê¸€ ìˆ˜(replies)ê°€ 0ì¸ ë°ì´í„°ëŠ” ì¡´ì¬í•˜ì§€ ì•ŠëŠ”ë‹¤.

In [37]:
from sklearn.model_selection import train_test_split  

Train, test = train_test_split(df3,test_size=0.01,random_state=229)

In [38]:
test.replies.value_counts()

41    1
94    1
22    1
68    1
91    1
8     1
Name: replies, dtype: int64

In [39]:
Train

      ids  ages  bookmarks  replies  ratings  watches  period  age_cls
336   195    48          2        7       20      190      10        1
278  1334    24         15        0        0      647      23        0
149   500    49          0        4        6       84      10        1
241  2130    23         46      102      103      716      36        0
413  2140    42          2        1        3       80      36        1
..    ...   ...        ...      ...      ...      ...     ...      ...
50    182    37          6       81      234      841      10        0
501   406    24         26       71       81      309      10        0
112   360    42          5       11       36      181      10        1
476   621    33          6      139      388       53      11        0
345  1475    38         19       40       71      353      10        0

[534 rows x 8 columns]

In [40]:

from sklearn.neighbors import KNeighborsClassifier

ë‹¨ê³„ 3 : Train Setì„ ì´ìš©í•˜ì—¬ KNeighborsClassifierë¥¼ í•™ìŠµí•œë‹¤. 
- ë…ë¦½ ë³€ìˆ˜ : ê°€ì… ê¸°ê°„(period)ì„ (replies+0.01)ë¡œ ë‚˜ëˆˆ ê°’
- ì¢…ì† ë³€ìˆ˜ : age_cls

ğŸ‘‰ Series.to_frame()

In [41]:
X_train_3 = (Train.period/(Train.replies+0.01)).to_frame()
X_test_3  = (test['period']/(test['replies']+0.01)).to_frame()

y_train_3 = Train['age_cls']
y_test_3 = test['age_cls']

ğŸ‘‰ KNeighborsClassifier

>n_neighborsint (default=5)  
p (default=2) :  1 - manhattan_distance, 2 - euclidean_distance  
weights(default='uniform'): 'distance'ë¡œ ì„¤ì •í•˜ë©´, ë¶„ë¥˜í•  ë•Œ ì¸ì ‘í•œ ìƒ˜í”Œì˜ ê±°ë¦¬ì— ë”°ë¼ ë‹¤ë¥¸ ê°€ì¤‘ì¹˜ ë¶€ì—¬ (ê°€ê¹Œìš¸ìˆ˜ë¡ í° ê°€ì¤‘ì¹˜, ê±°ë¦¬ì—­ìˆœ)

>knn.predict: ì˜ˆì¸¡í•œ í´ë˜ìŠ¤ ë²ˆí˜¸ë¥¼ ë°˜í™˜  
knn.predict_proba: í´ë˜ìŠ¤ ë³„ í™•ë¥  ê°’ì„ ë°˜í™˜  
knn.kneighbors: ì¸ì ‘í•œ kê°œì˜ sampleì— ëŒ€í•´ ê±°ë¦¬, indexë¥¼ ë°˜í™˜

KNeighborsRegressor

In [43]:
my_knn = KNeighborsClassifier(p=1,weights='distance')
my_knn.fit(X_train_3, y_train_3)
y_pred_3 = my_knn.predict(X_test_3)

test['pred'] = y_pred_3

test

      ids  ages  bookmarks  replies  ratings  watches  period  age_cls  pred
503  2145    37         34       41       50      123      36        0     0
397    95    26         19       94      161      782      10        0     0
524  1241    35         20       22       70      831      21        0     0
32    635    24         49       68      187      430      12        0     0
341   855    21         26       91      303      456      15        0     0
225   513    52          0        8       29       74      10        1     1

In [60]:
A1 = test.loc[(test.age_cls == 0) & (test.pred == 0) , ['age_cls','pred']].shape[0]

In [61]:
B1 =test.loc[(test.age_cls == 1) & (test.pred == 0) , ['age_cls','pred']].shape[0]

In [62]:
answer1 = A1/A1+B1
answer1

1.0

ğŸ‘‰ precision_score

In [70]:
from sklearn.metrics import precision_score, classification_report

precision_score(test.age_cls,test.pred,pos_label=0)

1.0

In [73]:
print(classification_report(test.age_cls,test.pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         5
           1       1.00      1.00      1.00         1

    accuracy                           1.00         6
   macro avg       1.00      1.00      1.00         6
weighted avg       1.00      1.00      1.00         6

ë‹¨ê³„ 4 : Train Setì„ ì´ìš©í•˜ì—¬ KNeighborsClassifierë¥¼ ìƒˆë¡œ í•™ìŠµí•œë‹¤. 
- ë…ë¦½ ë³€ìˆ˜ : ê°€ì… ê¸°ê°„(period)ì„ ë‹µê¸€ ìˆ˜(replies)ë¡œ ë‚˜ëˆˆ ê°’, ë‚˜ëˆ„ê¸° ì „ ë‹µê¸€ ìˆ˜(replies)ê°€ 0ì¸ ë°ì´í„°ëŠ” ì œê±°í•œë‹¤.
- ì¢…ì† ë³€ìˆ˜ : age_cls

In [44]:
Train2 = Train.loc[Train.replies != 0,].copy()

In [45]:
X_train_4 = (Train2.period/(Train2.replies)).to_frame()
X_test_4  = (test['period']/(test['replies'])).to_frame()

y_train_4 = Train2['age_cls']
y_test_4 = test['age_cls']

In [46]:
my_knn = KNeighborsClassifier(p=1,weights='distance')
my_knn.fit(X_train_4, y_train_4)
y_pred_4 = my_knn.predict(X_test_4)
test['pred2'] = y_pred_4
test

,ids,ages,bookmarks,replies,ratings,watches,period,age_cls,pred,pred2
503,2145,37,34,41,50,123,36,0,0,0
397,95,26,19,94,161,782,10,0,0,0
524,1241,35,20,22,70,831,21,0,0,0
32,635,24,49,68,187,430,12,0,0,0
341,855,21,26,91,303,456,15,0,0,0
225,513,52,0,8,29,74,10,1,1,1

In [63]:
A2 = test.loc[(test.age_cls == 0) & (test.pred2 == 0) , ['age_cls','pred2']].shape[0]

In [67]:
B2 =test.loc[(test.age_cls == 1) & (test.pred2 == 0) , ['age_cls','pred2']].shape[0]

Empty DataFrame
Columns: [age_cls, pred2]
Index: []

In [65]:
answer2 = A2/A2+B2
answer2

1.0

In [75]:
print(classification_report(test.age_cls,test.pred2))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         5
           1       1.00      1.00      1.00         1

    accuracy                           1.00         6
   macro avg       1.00      1.00      1.00         6
weighted avg       1.00      1.00      1.00         6

classification_report


ë‹¨ê³„ 5 : ë‹¨ê³„ 4ì™€ ë‹¨ê³„ 5ì—ì„œ í•™ìŠµí•œ ë‘ ëª¨ë¸ì„ ê°ê° Test Setì— ì ìš©í•˜ì—¬ age_clsë¥¼ ì˜ˆì¸¡í•œë‹¤. Test Setì— ì£¼ì–´ì§„ ì¢…ì† ë³€ìˆ˜ë¥¼ í™œìš©í•˜ì—¬ ì•„ë˜ ì •ì˜ëœ ì§€í‘œ Pë¥¼ ê°ê° êµ¬í•˜ê³ , ë‘ ê°’ì¤‘ ê°€ì¥ í° ê°’ì„ êµ¬í•˜ì‹œì˜¤
- ì˜ˆì¸¡ê°’ $ \hat{y_i} $ë„ 0ì´ê³  ì‹¤ì œê°’ $ y_i $ë„ 0ì¸ ê²½ìš°ë¥¼ Aë¼ê³  í•œë‹¤. 
- ì˜ˆì¸¡ê°’ $ \hat{y_i} $ë„ 0ì´ê³  ì‹¤ì œê°’ $ y_i $ë„ 1ì¸ ê²½ìš°ë¥¼ Bë¼ê³  í•œë‹¤. 

$$ P={A \over (A+B)} $$

â€» ì •ë‹µì€ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ì¶œë ¥í•˜ì‹œì˜¤.
(ì •ë‹µ ì˜ˆì‹œ: 2.29)

ğŸ‘‰ ë¶„ë¥˜ ì„±ëŠ¥í‰ê°€  
https://datascienceschool.net/03%20machine%20learning/09.04%20%EB%B6%84%EB%A5%98%20%EC%84%B1%EB%8A%A5%ED%8F%89%EA%B0%80.html

#### í•„ìš” ë¼ì´ë¸ŒëŸ¬ë¦¬ í•¨ìˆ˜,í´ë˜ìŠ¤ ë° ì„¤ì •ê°’ ëª©ë¡  


from sklearn.model_selection import train_test_split  
from sklearn.neighbors import KNeighborsClassifier    
KNeighborsClassifierì˜ ê±°ë¦¬ëŠ” Manhattan Distance ì‚¬ìš©, ê°€ì¤‘ì¹˜ëŠ” ê±°ë¦¬ ì—­ìˆœìœ¼ë¡œ ì„¤ì •  
ëª¨ë“  random_state = 229  
ë¬¸ì œ ì§€ì‹œ ì™¸ Default ê°’ ì‚¬ìš©