## Í∞ÄÏÉÅÌòÑÏã§RPGÍ≤åÏûÑ ÎùºÌîåÎùºÏä§Ïùò ÏïÖÎßàÎäî ÎÇ†Ïî®Í∞Ä ÌÅ∞ Î≥ÄÏàòÎ•º Ï∞®ÏßÄÌïòÎäî Í≤åÏûÑÏù¥Îã§. Í≤åÏûÑ Î∞∏Îü∞Ïä§ Ï°∞Ï†ïÏùÑ ÏúÑÌï¥ ÌïúÎã¨ Í∞ÑÏùò ÎÇ†Ïî® Îç∞Ïù¥ÌÑ∞Î•º Î∂ÑÏÑùÌïòÎ†§Í≥† ÌïúÎã§.

Laplace's Demon.csv

|Ïª¨Îüº|Ï†ïÏùò|type|
|:---|:---|:---:|
|date|ÎÇ†Ïßú|object|
|area|ÏßÄÏó≠Î™Ö|object|
|temp|Ïò®ÎèÑ|float64|
|atemp|Ï≤¥Í∞êÏò®ÎèÑ|float64|
|humidity|ÏäµÎèÑ|float64|
|windspeed|ÌíçÏÜç|float64|
|rain|ÎÇ†Ïî®(Í∞íÏù¥ 0Ïù¥Î©¥ ÎßëÏùå, 1Ïù¥Î©¥ ÎπÑÍ∞Ä ÎÇ¥Î¶º)|int64|  

Ï†ïÎãµ Î∞è Ìï¥ÏÑ§ : https://tjd229.tistory.com/24

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('../content/tjd229/Laplace\'s Demon.csv')
df.shape

(992, 7)

### Q1. Ï≤¥Í∞êÏò®ÎèÑ(atemp)Í∞Ä Ï†ïÍ∑úÎ∂ÑÌè¨ÏôÄÏùò Í¥ÄÍ≥ÑÎ•º Î∂ÑÏÑùÌïòÎ†§ ÌïúÎã§. Îã§Ïùå Îã®Í≥ÑÏóê Îî∞Îùº Î∂ÑÏÑùÏùÑ ÏàòÌñâÌïòÍ≥† ÏßàÎ¨∏Ïóê ÎãµÌïòÏãúÏò§.

Îã®Í≥Ñ 1 : Ï≤¥Í∞êÏò®ÎèÑ(atemp)Í∞Ä 0Î≥¥Îã§ ÌÅ∞ Îç∞Ïù¥ÌÑ∞Î•º Train SetÏúºÎ°ú, Ï≤¥Í∞êÏò®ÎèÑ(atemp)Í∞Ä 0Ïù¥ÌïòÏù∏ Îç∞Ïù¥ÌÑ∞Î•º Test SetÏúºÎ°ú Î∂ÑÌï†ÌïúÎã§.  
Îã®Í≥Ñ 2 : Train SetÏùÑ Ïù¥Ïö©ÌïòÏó¨ LinearRegressionÏùÑ ÌïôÏäµÌïòÍ≥†, Test SetÏóê Ï†ÅÏö©ÌïúÎã§. 
- ÎèÖÎ¶Ω Î≥ÄÏàò(Ï¥ù 4Í∞ú) : Ïò®ÎèÑ(temp), ÏäµÎèÑ(humidity), ÌíçÏÜç(windspeed), ÎÇ†Ïî®(rain)
- Ï¢ÖÏÜç Î≥ÄÏàò : Ï≤¥Í∞êÏò®ÎèÑ(atemp)
        
Îã®Í≥Ñ 3 : Train SetÏóêÏÑú Ï≤¥Í∞êÏò®ÎèÑ(atemp)Ïùò ÌèâÍ∑†Í≥º ÌëúÏ§ÄÌé∏Ï∞®Î•º Íµ¨ÌïòÍ≥†, Ìï¥Îãπ ÌèâÍ∑†Í≥º ÌëúÏ§ÄÌé∏Ï∞®Î•º Í∞ÄÏßÄÎäî Ï†ïÍ∑ú Î∂ÑÌè¨Î•º Íµ¨ÌïúÎã§.

Îã®Í≥Ñ 4 : Îã®Í≥Ñ 2ÏóêÏÑú Íµ¨Ìïú Test SetÏùò ÏòàÏ∏°Í∞í $ \hat{y_i} $ÏôÄ Îã®Í≥Ñ 3ÏóêÏÑú Íµ¨Ìïú Ï†ïÍ∑ú Î∂ÑÌè¨Ïùò 0.25 Î∂ÑÏúÑÏàòÏóê Ìï¥ÎãπÌïòÎäî Í∞í $ y $Ïóê ÎåÄÌïòÏó¨ ÏïÑÎûò Ï†ïÏùòÎêú Measure MÏùÑ Í≥ÑÏÇ∞Ìïú Í∞íÏùÄ?  
$$ M = \biggl(\frac{1}{n} \sum_{i=1}^{n}{(y - \hat{y_i})^2}\biggr)^{\frac{1}{2}}, \quad \hat{y_i}: ÏòàÏ∏°Í∞í, y: Ïã§Ï†úÍ∞í $$


‚Äª Ï†ïÎãµÏùÄ Î∞òÏò¨Î¶ºÌïòÏó¨ ÏÜåÏàòÏ†ê ÎëòÏß∏ ÏûêÎ¶¨ÍπåÏßÄ Ï∂úÎ†•ÌïòÏãúÏò§.
(Ï†ïÎãµ ÏòàÏãú: 2.29)

In [2]:
from sklearn.linear_model import LinearRegression  
from scipy.stats import norm 
df1 = df.copy()

In [3]:
X_train = df1.loc[df1.atemp > 0, ['temp','humidity','windspeed','rain']]
X_test = df1.loc[df1.atemp <= 0, ['temp','humidity','windspeed','rain']]
y_train = df1.loc[df1.atemp > 0, 'atemp']
y_test = df1.loc[df1.atemp <= 0, 'atemp']

In [4]:
my_LR = LinearRegression()
my_LR.fit(X_train, y_train)
y_pred = my_LR.predict(X_test)

In [5]:
df1.loc[df1.atemp > 0,'atemp'].mean(), df1.loc[df1.atemp > 0,'atemp'].std()

(46.39257288379459, 34.36297082966668)

üëâ norm.ppf  

norm : Ï†ïÍ∑úÎ∂ÑÌè¨ Ìï®Ïàò   norm(Í∏∞ÎåÄÍ∞í,ÌëúÏ§ÄÌé∏Ï∞®)  
pmf : ÌôïÎ•†ÏßàÎüâÌï®Ïàò(probability mass function)  
pdf : ÌôïÎ•†Î∞ÄÎèÑÌï®Ïàò(probability density function)  
cdf : ÎàÑÏ†ÅÎ∂ÑÌè¨Ìï®Ïàò(cumulative distribution function)  
ppf : ÎàÑÏ†ÅÎ∂ÑÌè¨Ìï®ÏàòÏùò Ïó≠Ìï®Ïàò(inverse cumulative distribution function)  

https://datascienceschool.net/02%20mathematics/08.01%20%EC%82%AC%EC%9D%B4%ED%8C%8C%EC%9D%B4%EB%A5%BC%20%EC%9D%B4%EC%9A%A9%ED%95%9C%20%ED%99%95%EB%A5%A0%EB%B6%84%ED%8F%AC%20%EB%B6%84%EC%84%9D.html

In [6]:

my_norm= norm(df1.loc[df1.atemp > 0,'atemp'].mean(),df1.loc[df1.atemp > 0,'atemp'].std())
y_test2= my_norm.ppf(0.25)

In [7]:
(((y_pred - y_test2)**2).mean())**0.5

13.56365578009182

RMSE  
y_test Îäî Î¶¨Ïä§Ìä∏ Ïù¥ÏßÄÎßå, y_test2 Ï†ïÏàò Ïù¥ÎØÄÎ°ú,   
ÎèôÏùºÌïú ÌÅ¨Í∏∞Ïùò Î¶¨Ïä§Ìä∏Ïóê y_test2 Í∞íÏùÑ Î™®Îëê ÎÑ£Ïñ¥Ïïº RMSE Í∞Ä Í≥ÑÏÇ∞Í∞ÄÎä•ÌïòÎã§.

In [8]:
y_test3 = y_test.copy()
y_test3[:] = y_test2

In [9]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test3, y_pred, squared=False)

13.56365578009182

#### ÌïÑÏöî ÎùºÏù¥Î∏åÎü¨Î¶¨ Ìï®Ïàò,ÌÅ¥ÎûòÏä§ Î∞è ÏÑ§Ï†ïÍ∞í Î™©Î°ù  


from sklearn.linear_model import LinearRegression  
from scipy.stats import norm  
Î¨∏Ï†ú ÏßÄÏãú Ïô∏ Default Í∞í ÏÇ¨Ïö©

### Q2. ÏßÄÏó≠Î≥Ñ Í∞ïÏàòÎüâÏùÑ ÌôïÏù∏ÌïòÎ†§ ÌïúÎã§.  Îã§Ïùå Îã®Í≥ÑÏóê Îî∞Îùº Î∂ÑÏÑùÏùÑ ÏàòÌñâÌïòÍ≥† ÏßàÎ¨∏Ïóê ÎãµÌïòÏãúÏò§.


Îã®Í≥Ñ 1 : ÎÇ†Ïî®(rain) Ïª¨ÎüºÏóêÏÑú Í∞íÏù¥ 0Ïù∏ Îç∞Ïù¥ÌÑ∞Î•º -1Î°ú Î∞îÍæºÎã§.

Îã®Í≥Ñ 2 : 32Ï¢ÖÎ•òÏùò areaÎ≥ÑÎ°ú, ÏïÑÎûòÏùò Îã®Í≥Ñ 3ÏùÑ ÏàòÌñâÌïòÏó¨, cum_precipitation Ïª¨ÎüºÏùò ÏµúÎåÄÍ∞íÍ≥º ÏµúÏÜåÍ∞í Ï∞®Ïù¥Í∞Ä Í∞ÄÏû• ÌÅ∞ Í∞íÏùÑ Íµ¨ÌïòÏãúÏò§ 

Îã®Í≥Ñ 3 : Í∞Å areaÎ≥ÑÎ°ú ÎÇ†ÏßúÏàúÏúºÎ°ú Ï†ïÎ†¨ ÌõÑ, ÏïÑÎûò Í∑úÏπôÏóê Îî∞Îùº cum_precipitation Ïª¨ÎüºÏùÑ ÏÉùÏÑ±ÌïúÎã§.  
- $z$Î•º cum_precipitation, $ x $Î•º rainÏù¥Îùº Ìï† Îïå, $ z_1 = x_1 $ Ïù¥Í≥†,  
- j>1Ïóê ÎåÄÌïòÏó¨, $ z_j = \sum_{i=1}^{j}{x_i} $ Ïù¥Îã§.

In [10]:
df2 = df.copy()

In [33]:
df2['rain'] = df2.rain.replace(0,-1)

In [17]:
df2.head()

,date,area,temp,atemp,humidity,windspeed,rain
0,2023-01-13,Cerulean City,26.869606,-8.894446,43.138450,6.009597,1
1,2023-01-17,Cerulean City,18.385474,-4.988309,88.427747,20.864357,1
2,2023-01-31,Seafoam Islands,26.867670,0.659525,30.940357,30.733466,1
3,2023-01-31,Goldenrod City,24.329853,107.903405,64.554282,8.618055,-1
4,2023-01-23,Cianwood City,30.726903,75.236753,51.298311,13.717975,-1

In [34]:
areas = df2.area.unique()

üëâ groupby ÎåÄÏã† slicing (df2_0)

In [36]:
df2_0 = df2.copy()
MM_list=[]

for area_indx in areas:
    temp_df = df2_0.loc[df2_0.area == area_indx,:]                  # slicing df ÏóêÏÑú 
    temp_list = temp_df.sort_values(by='date')['rain'].cumsum()     # date sort Ìïú rainÏùò cumsum Í∞í Î¶¨Ïä§Ìä∏ 
    df2_0.loc[df2_0.area == area_indx,'result'] = temp_list         # ÏùÑ ÏõêÎûò df2_0 Ïùò result Ïóê ÏûÖÎ†•
    MM_list.append(temp_list.max()-temp_list.min())                 # ÌïòÍ≥†, Î¶¨Ïä§Ìä∏ max() - min() Í∞í Ï†ÄÏû•

pd.DataFrame( MM_list,
             index=areas,
             columns=['max-min'])

                  max-min
Cerulean City           8
Seafoam Islands         6
Goldenrod City          6
Cianwood City           8
Mt. Mortar             11
Olivine City            9
Viridian Forest         9
Mt. Moon               10
Mahogany Town           6
Ruins of Alph           6
Whirl Islands           4
Lavender Town           6
Mt. Silver             14
Tohjo Falls             9
Saffron City            5
Cherrygrove City        9
Pallet Town             6
Pewter City             6
Cinnabar Island        12
Power Plant             7
Vermillion City        10
Blackthorn City        10
Azalea Town             8
Viridian City           6
Ecruteak City          10
New Bark Town          11
Celadon City           16
Safari Zone            13
Fuchsia City            6
Lake of Rage           18
Violet City             8
National Park           7

In [41]:
df2_0.loc[df.area == 'Lake of Rage','result'].max() - df2_0.loc[df.area == 'Lake of Rage','result'].min()

18.0

groupby Ïù¥Ïö© (df2_1)

In [43]:
df2_1 = df2.groupby(['area','date'])['rain'].sum().reset_index().copy()
df2_1.head()

# groupby Î°ú Ïù∏Ìï¥ sort ÎêúÎìØ

          area        date  rain
0  Azalea Town  2023-01-01    -1
1  Azalea Town  2023-01-02     1
2  Azalea Town  2023-01-03    -1
3  Azalea Town  2023-01-04    -1
4  Azalea Town  2023-01-05    -1

In [22]:
cumsum_df = pd.DataFrame()
MM_list =[]

for area_indx in areas:
    cumsum_df[area_indx] = df2_1.loc[df2_1.area == area_indx,'rain'].reset_index(drop=True).cumsum()
    MM_list.append(cumsum_df[area_indx].max() - cumsum_df[area_indx].min())

In [23]:

pd.DataFrame( MM_list,
            index=areas,
            columns=['max_min'])

                  max_min
Cerulean City           8
Seafoam Islands         6
Goldenrod City          6
Cianwood City           8
Mt. Mortar             11
Olivine City            9
Viridian Forest         9
Mt. Moon               10
Mahogany Town           6
Ruins of Alph           6
Whirl Islands           4
Lavender Town           6
Mt. Silver             14
Tohjo Falls             9
Saffron City            5
Cherrygrove City        9
Pallet Town             6
Pewter City             6
Cinnabar Island        12
Power Plant             7
Vermillion City        10
Blackthorn City        10
Azalea Town             8
Viridian City           6
Ecruteak City          10
New Bark Town          11
Celadon City           16
Safari Zone            13
Fuchsia City            6
Lake of Rage           18
Violet City             8
National Park           7

In [153]:

result_list=[]

for area_indx in areas:
    temp_df= df2_1.loc[df2_1.area == area_indx,].copy()
    temp_df['cum_precipitation'] = temp_df['rain'].cumsum()
    delta = temp_df['cum_precipitation'].max()-temp_df['cum_precipitation'].min()
    result_list.append([area_indx,delta])

result_df = pd.DataFrame(result_list,
                         columns=['Area','max_min'])

result_df

                Area  max_min
0        Azalea Town        8
1    Blackthorn City       10
2       Celadon City       16
3      Cerulean City        8
4   Cherrygrove City        9
5      Cianwood City        8
6    Cinnabar Island       12
7      Ecruteak City       10
8       Fuchsia City        6
9     Goldenrod City        6
10      Lake of Rage       18
11     Lavender Town        6
12     Mahogany Town        6
13          Mt. Moon       10
14        Mt. Mortar       11
15        Mt. Silver       14
16     National Park        7
17     New Bark Town       11
18      Olivine City        9
19       Pallet Town        6
20       Pewter City        6
21       Power Plant        7
22     Ruins of Alph        6
23       Safari Zone       13
24      Saffron City        5
25   Seafoam Islands        6
26       Tohjo Falls        9
27   Vermillion City       10
28       Violet City        8
29     Viridian City        6
30   Viridian Forest        9
31     Whirl Islands        4

cumsum()  

Î≠îÍ∞Ä apply, itertuples Î°ú Í∞ÄÎä•Ìï†Í≤É Í∞ôÏùÄÎç∞.  
apply, itertuples Îäî Ìïú row Ïî© Í≥ÑÏÇ∞ÌïòÎäî Í±∞Îùº. cumsum ÏùÑ ÎßåÎì§Ïñ¥Ïïº Ìï®.

### Q3. ÎÇ†Ïî®Ïóê Îî∞Î•∏ Í≤åÏûÑ Î∞∏Îü∞Ïä§Î•º ÌôïÏù∏ÌïòÍ∏∞ ÏúÑÌï¥ Íµ∞ÏßëÌôîÎ•º ÌïòÎ†§ ÌïúÎã§. Îã§Ïùå Îã®Í≥ÑÏóê Îî∞Îùº Î∂ÑÏÑùÏùÑ ÏàòÌñâÌïòÍ≥† ÏßàÎ¨∏Ïóê ÎãµÌïòÏãúÏò§.


Îã®Í≥Ñ 1 : Ïò®ÎèÑ, Ï≤¥Í∞êÏò®ÎèÑ, ÏäµÎèÑ, ÌíçÏÜçÏùÑ Z-score ÌëúÏ§ÄÌôî(Standardization) ÌïúÎã§.  
Îã®Í≥Ñ 2 : ÎèÖÎ¶Ω Î≥ÄÏàòÎì§Ïóê ÎåÄÌï¥ K-means Íµ∞Ïßë Î∂ÑÏÑùÏùÑ ÏàòÌñâÌïúÎã§. Ïù¥ Îïå, Íµ∞Ïßë ÏàòÎäî 2Í∞úÎ°ú ÌïúÎã§.  
- ÎèÖÎ¶Ω Î≥ÄÏàò(Ï¥ù 5Í∞ú) : Ïò®ÎèÑ(temp), Ï≤¥Í∞êÏò®ÎèÑ(atemp), ÏäµÎèÑ(humidity), ÌíçÏÜç(windspeed), ÎÇ†Ïî®(rain)  

Îã®Í≥Ñ 3 : Íµ∞Ïßë Î≥Ñ Ï≤¥Í∞êÏò®ÎèÑ(atemp) ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÍ≥† Îëê ÌèâÍ∑†ÏùÑ Î™®Îëê ÎçîÌïú Í∞íÏùÑ Íµ¨ÌïòÏãúÏò§  
            
‚Äª Ï†ïÎãµÏùÄ ÎÇ¥Î¶ºÌïòÏó¨ ÏÜåÏàòÏ†ê ÎëòÏß∏ ÏûêÎ¶¨ÍπåÏßÄ Ï∂úÎ†•ÌïòÏãúÏò§.
(Ï†ïÎãµ ÏòàÏãú: 2.29)

In [1]:
from sklearn.cluster import KMeans  
from sklearn.preprocessing import StandardScaler

#### ÌïÑÏöî ÎùºÏù¥Î∏åÎü¨Î¶¨ Ìï®Ïàò,ÌÅ¥ÎûòÏä§ Î∞è ÏÑ§Ï†ïÍ∞í Î™©Î°ù  


from sklearn.cluster import KMeans  
from sklearn.preprocessing import StandardScaler  
random_state=229  
Î¨∏Ï†ú ÏßÄÏãú Ïô∏ Default Í∞í ÏÇ¨Ïö©